<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}
{% block middle %}
    <!-- Latest compiled and minified CSS -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Trigger the modal with a button -->


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: red"><strong>Alert</strong></h4>
                </div>
                <div class="modal-body">
                    <p><strong>The price cant not be less the cost price.</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    {#<div id="myModal2" class="modal fade" role="dialog"  >#}
        {#<div class="modal-dialog" style="margin-top: 18%;">#}

            {#<!-- Modal content-->#}
            {#<div class="modal-content" style="width: 90%;">#}

                {#<div class="modal-body">#}
                    {#<p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/sale_invoice/print/{{ sale_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>#}
                {#</div>#}

            {#</div>#}

        {#</div>#}
    {#</div>#}



    <section class="content">
    <div class="row">
    <!-- left column -->
    <div class="col-md-12">
    <div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Edit New Trip</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" action="/trip/update" method="post">
    <input type="hidden" name="id" value="{{ sale_master[0].id }}">
    <div class="box-body">



    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleInputPassword1">Trip #</label>
            <input style="color: green; font-weight: bold; font-size: 20px" type="text" name="invoice_number" value="{{ sale_master[0].invoice_number }}" class="form-control" id="exampleInputEmail1"  readonly="readonly">
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleInputEmail1" class="lang" key="date">Invoice Date</label>
            <input type="date" value="" name="invoice_date" class="form-control" id="theDate" placeholder="Enter Category Name">
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group" >
            <label for="exampleInputEmail1" class="lang" key="time">Time</label>
            <input name="time" style="font-weight: bold; color: green;font-size: 19px"  readonly type="timer" value="" class="form-control" id="timer">
        </div>
    </div>

    <div class="col-md-4">
        <div id="first" class="form-group">
            <label for="exampleInputPassword1">From Destination</label>
            <select class="form-control" name="from_destination">

                {% for destination in destinations %}
                    {% if(sale_master[0].from_destination == destination.id) %}
                        <option value="{{ destination.id }}" selected> {{ destination.name }}</option>
                    {% else %}
                        <option value="{{ destination.id }}"> {{ destination.name }}</option>
                    {% endif %}

                {% endfor %}
            </select>
        </div>

    </div>


    <div class="col-md-4">
        <div id="first" class="form-group">
            <label for="exampleInputPassword1">To Destination</label>
            <select class="form-control" name="to_destination">

                {% for destination in destinations %}
                    {% if(sale_master[0].to_destination == destination.id) %}
                        <option value="{{ destination.id }}" selected> {{ destination.name }}</option>
                    {% else %}
                        <option value="{{ destination.id }}"> {{ destination.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

    </div>





    <div class="col-md-4" style="display: none;">
        <div class="form-group" style="margin-top: 20px;">
            <label for="exampleInputEmail1" class="lang" key="payment type">Payment Type</label>

            <label class="checkbox-inline">
                <input type="radio" class="type" value="cash" name="payment_type">Cash
            </label>

            <label class="checkbox-inline">
                <input type="radio" class="type" value="credit" name="payment_type"  checked>Credit
            </label>

        </div>
    </div>

    <div class="col-md-4">
        <div id="first" class="form-group" >
            <label for="exampleInputPassword1">Customer Name</label>
            <select class="form-control" name="customer_id">
                <option value="counter_sale">Select Customer</option>
                {% for customer in customers %}
                    {% if(sale_master[0].customer_id == customer.PARTY_ID) %}
                        <option value="{{ customer.PARTY_ID }}" selected> {{ customer.NAME }}</option>
                    {% else %}
                        <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}</option>
                    {% endif %}

                {% endfor %}
            </select>
        </div>

        <div id="second" class="form-group" style="display: none">
            <label for="exampleInputPassword1">Customer Name</label>
            <input type="text" name="customer_name"   class="form-control" value="" id="khan">
        </div>
    </div>



    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleInputPassword1">Driver Name</label>
            <input  type="text" name="driver_name" value="{{ sale_master[0].driver_name }}" class="form-control" id="exampleInputEmail1"  >
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleInputPassword1">Driver Contact</label>
            <input  type="text" name="driver_contact" value="{{ sale_master[0].driver_contact }}"  class="form-control" id="exampleInputEmail1"  >
        </div>
    </div>



    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleInputPassword1">Pak Vehicle Number</label>
            <input  type="text" name="pak_vehicle_number" value="{{ sale_master[0].pak_vehicle_number }}"  class="form-control" id="exampleInputEmail1"  >
        </div>
    </div>


    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleInputPassword1">afghan Vehicle Number</label>
            <input  type="text" name="afghan_vehicle_number" value="{{ sale_master[0].afghan_vehicle_number }}"  class="form-control" id="exampleInputEmail1"  >
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleInputPassword1">Renter Name</label>
            <input  type="text" name="renter_name"  value="{{ sale_master[0].renter_name }}" class="form-control" id="exampleInputEmail1"  >
        </div>
    </div>






    <div class="form-group col-md-12">
        <div class="table-responsive m-t">
            <table class="table table-bordered">
                <thead style="background-color: #2196f3; color: white">
                <tr>
                    <th style="width: 3%;">Sno</th>
                    <th style="width: 20%;" class="lang" key="category name">Category name</th>
                    <th style="width: 20%;" class="lang" key="product name">Product Name</th>

                    <th style="width: 10%;" class="lang">Weight</th>
                    <th style="width: 20%;" class="lang" key="unit price">Price</th>

                    <th style="width: 15%;" class="lang" key="total" >Total</th>
                    <th style="width: 15%;" class="lang" key="action">Action</th>
                </tr>
                </thead>
                <tbody id="purbody">
                {% for child in sale_child %}
                <tr id="remove_in_edit">


                    <td><span class="counter">1</span></td>
                    <td>
                        <select  class="category_id js-source-states form-control" style="width: 100%" name="category_id[]">
                            <option value="select product">Select Category</option>
                            {% for category in categories %}
                                {% if(child.category_id==category.CATEGORY_ID) %}
                                    <option value="{{ category.CATEGORY_ID }}" selected> {{ category.NAME }}</option>
                                {% else %}
                                    <option value="{{ category.CATEGORY_ID }}"> {{ category.NAME }}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                    </td>
                    <td style="width: 15%;">
                        <select   class="form-control product_id "  name="product_id[]" id="product_id">
                            <option value="select product">Select Product</option>
                            {% for product in products %}
                                {% if(child.product_id==product.PRODUCT_ID) %}
                                    <option value="{{ product.PRODUCT_ID }}" selected> {{ product.NAME }}</option>
                                {% else %}
                                    <option value="{{ product.PRODUCT_ID }}"> {{ product.NAME }}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                    </td>


                    <td><input style="font-weight: bold; text-align: right" class="form-control quantity" value="{{ child.quantity }}" type="text" name="quantity[]" id="quantity" required="required"></td>
                    <td><input style="font-weight: bold; text-align: right" class="form-control price" value="{{ child.price }}" type="text"  name="price[]" id="price" required="required">
                        <input style="font-weight: bold; text-align: right; display: none" class="form-control cost_price" type="text"  name="cost_price[]" id="cost_price">
                    </td>


                    <td><input style="font-weight: bold; text-align: right" class="form-control total" value="{{ child.total }}" readonly="readonly" type="number" name="total[]" id="total" required="required"></td>
                    <td>
                        <button class="btn btn-info btn-circle puradd" type="button"><i class="fa fa-plus-square"></i></button>
                        <button  class="btn btn-warning btn-circle removepur" type="button"><i class="fa fa-times"></i></button>

                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group col-md-8">
        {#<label class="control-label" for="description">Internal Notes</label>#}
        {#<input style="height: 80px;" class="form-control input-lg" type="text" name="internal_notes" id="edit_internal_notes" >#}

        {#<label class="control-label" for="description">External Notes</label>#}
        {#<input style="height: 80px;" class="form-control input-lg" type="text" name="external_notes" id="edit_external_notes" >#}

        <label class="control-label" for="description">Payment</label>
        <input id="payment" readonly style="height: 40px;" class="form-control input-lg" type="text" name="payment" id="edit_external_notes" >

    </div>

    <div class="form-group col-md-4">
        <div style="display: none">
            <label class="control-label lang" for="email" key="gross amount">Gross Amount</label>
            <input data-type="currency"  readonly style="width: 70%; color: green; font-family:'Times New Roman', Georgia, Serif; font-size: 20px; font-weight: bold; text-align: right" class="form-control gross_amount" id="edit_gross_amount" type="text" name="gross_amount"  required="required">
        </div>

        <div style="display: none">
            <label class="control-label lang" for="email"  key="discount">Discount</label>
            <input style="width: 70%; color: green; font-family:'Times New Roman', Georgia, Serif; font-size: 20px; font-weight: bold; text-align: right"  class="form-control discount" id="discount" type="text" name="discount" value="0" required="required" onkeyup="discountedit()">
        </div>
        {#<label class="control-label" for="email">Tax</label>#}
        {#<select style="width: 70%" class="form-control" id="tax">#}
        {#<option value="0">0</option>#}
        {#<option value="1" data-charges="10">(G.S.T)10</option>#}
        {#<option value="1" data-charges="20">(P.D)20</option>#}
        {#<option value="1" data-charges="30">(T.T)30</option>#}
        {#</select>#}


        <label class="control-label lang" for="email" key="net amount">Net Amount</label>
        <input readonly style="height: 60px; width: 70%; color: red; font-family:'Times New Roman', Georgia, Serif; font-size: 20px; font-weight: bold; text-align: right" class="form-control net_amount" value="{{ sale_master[0].net_amount }}" id="edit_net_amount" type="text" name="net_amount"  required="required">

    </div>

    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </section>

    <script>
    $(document).ready(function(){


        $('.type').on('change',function(){
            var type= $(this).val();
            if(type=='cash'){

                $('#first').hide();
                $('#second').show();
                $("#payment").val('');
                $("#payment").attr('readonly','readonly');
            }
            else{
                $("#payment").removeAttr('readonly');
                $('#first').show();
                $('#second').hide();
            }
        });

        //for adding new row//
        $('body').on('click','.puradd',function(){
            var counter=$( ".counter" ).last().text();
            counter++;
            $('.puradd').hide();

            var newRow = $('<tr>' +
                    '<td><span class="counter">'+counter+'</span></td>'+
                    '<td>' +
                    '<select  class="category_id js-source-states form-control" style="width: 100%" name="category_id[]">' +
                    '<option value="">Select Category</option>'+
                    {% for category in categories %}
                    '<option value="{{  category.CATEGORY_ID }}"> {{  category.NAME }} </option>'+
                    {% endfor %}
                    '</select>'+
                    '</td>' +
                    '<td>' +
                    '<select   class="form-control product_id " style="width: 100%" name="product_id[]" id="product_id">' +


                    '<option value="select product">Select Product</option>'+

                    '</select>' +
                    '</td>' +

                    '</td>' +


                    '<td><input style="font-weight: bold; text-align: right" id="quantity"  value="1"  class="form-control quantity" type="text" name="quantity[]"/></td>' +
                    '<td><input style="font-weight: bold; text-align: right" id="price" class="form-control price" type="text" name="price[]"/><input style="font-weight: bold; text-align: right;display: none" id="cost_price" class="form-control cost_price" type="text" name="cost_price[]"/></td>' +

                    '<td><input style="font-weight: bold; text-align: right" id="total" class="form-control total" readonly="readonly" type="text" name="total[]"/></td>' +
                    '<td> ' +
                    '<button class="btn btn-info btn-circle puradd" type="button"><i class="fa fa-plus-square"></i></button>' +
                    ' <button class="btn btn-warning btn-circle removepur" type="button"><i class="fa fa-times"></i></button>' +
                    '</td>' +
                    '</tr>');
            $('#purbody').append(newRow);
        });
        //end of adding new row//

        $('body').on('change' ,'.category_id' , function(){
            var row = $(this).closest('tr');
            var $el= row.find($('.product_id'));
            var id=$(this).val();

            $el.empty();
            $el.append('<option value="">select product </option>')
            $.ajax({
                'type':'Get',
                'url':"/sale_invoice/cat_product"+ "/"+ id,
                success:function(response){
                    console.log(response)
                    $.each(response,function(key,value){
                        $el.append("<option data-cost='"+value.COST_PRICE+"'  data-sale='"+value.SALE_PRICE+"'   value='"+value.PRODUCT_ID+"'>"+value.NAME+"</option>");
                    });
                }
            });
        });

        $('body').on('change','.product_id',function(){

//            var price=$(this).find(':selected').data('sale');
//            var cost=$(this).find(':selected').data('cost');
//            var row = $(this).closest('tr');
//            row.find($('.cost_price')).val(cost);
//            var unit_price=row.find($('.price'));
//            unit_price.val(price);
//            var quantity= row.find($('.quantity')).val();
//            var total=row.find($('.total'));
//            total.val(price*quantity);

            calculate();
        });

//        $('body').on('input','.quantity',function(){
//            var quantity=$(this).val();
//            var row=$(this).closest('tr');
//            var price= row.find($('.price')).val();
//            var total=row.find($('.total'));
//            total.val(price*quantity);
//            calculate();
//
//        });

        $('body').on('input','.item_discount',function(){
            var item_discount=$(this).val();
            var row=$(this).closest('tr');
            var quantity=row.find($('.quantity')).val();
            var price= row.find($('.price')).val();
            row.find($('.total')).val((price*quantity)-item_discount);
            calculate();

        });

        $('body').on('input','.price',function(){
            var price=$(this).val();
            var row=$(this).closest('tr');
            var quantity= 1;
            var costprice=row.find($('.cost_price')).val();

            if(price < costprice){

                $('#myModal').modal('show');
                var sale_price=row.find($('.product_id')).find(':selected').data('sale');
                row.find($('.price')).val(sale_price);
            }
            else{

                var total=row.find($('.total')).val();
                var new_price=$(this).val();
                var quantity= 1;
                row.find($('.total')).val(new_price*quantity);

                calculate();
            }

        });

        $('body').on('click','.removepur',function(){
            $(this).closest('tr').remove();
            $('.puradd').show();
            calculate();
        });

        $('body').on('input','#discount',function(){
            calculate();
        });

        $('body').on('change','#tax',function(){
            var tax=$(this).find(':selected').data('charges');
            calculate();
        });

        $("input[data-type='currency']").on({
            paste: function() {
                alert('i am called')
                formatCurrency($(this));
            },
            blur: function() {
                formatCurrency($(this), "blur");
            }
        });


        function formatNumber(n) {
            // format number 1000000 to 1,234,567
            return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }


        function formatCurrency(input, blur) {
            // appends $ to value, validates decimal side
            // and puts cursor back in right position.

            // get input value
            var input_val = input.val();

            // don't validate empty input
            if (input_val === "") { return; }

            // original length
            var original_len = input_val.length;

            // initial caret position
            var caret_pos = input.prop("selectionStart");

            // check for decimal
            if (input_val.indexOf(".") >= 0) {

                // get position of first decimal
                // this prevents multiple decimals from
                // being entered
                var decimal_pos = input_val.indexOf(".");

                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos);

                // add commas to left side of number
                left_side = formatNumber(left_side);

                // validate right side
                right_side = formatNumber(right_side);

                // On blur make sure 2 numbers after decimal
                if (blur === "blur") {
                    right_side += "00";
                }

                // Limit decimal to only 2 digits
                right_side = right_side.substring(0, 2);

                // join number by .
                input_val = "$" + left_side + "." + right_side;

            } else {
                // no decimal entered
                // add commas to number
                // remove all non-digits
                input_val = formatNumber(input_val);
                input_val = "$" + input_val;

                // final formatting
                if (blur === "blur") {
                    input_val += ".00";
                }
            }

            // send updated string to input
            input.val(input_val);

            // put caret back in the right position
            var updated_len = input_val.length;
            caret_pos = updated_len - original_len + caret_pos;
            input[0].setSelectionRange(caret_pos, caret_pos);
        }




    });
    </script>

    <script>
        function calculate(){
            var sum = 0;
            $("input[class *= 'total']").each(function(){
                sum += +$(this).val();
            });

            $('.gross_amount').val(sum);

            var discount=$('#discount').val();
            var net_amount=sum-discount;

            var tax=0;
            net_amount=parseInt(net_amount)+parseInt(tax);

            $('.net_amount').val(net_amount);
        }
    </script>

    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        $(document).ready(function(){
            {% if sale_id is empty %}
            {% else %}
            $('#myModal2').modal('show');
            {% endif %}
        });
    </script>

    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>

    <script>
        $(document).ready(function(){
            {% if sale_id is empty %}
            {% else %}
            $('#myModal2').modal('show');
            {% endif %}
        });
    </script>


{% endblock middle %}
</body>
</html>