<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}



    <!-- jQuery library -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}

    {#<h1>The session value is : {{ session.name }}</h1>#}
    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Trip Expense</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/trip/expense/store" method="post">
                <div class="box-body">
                    {#<div class="form-group col-md-4">#}
                        {#<label for="exampleInputEmail1">Voucher Number</label>#}
                        {#<input type="text" readonly="readonly" value="{{ voucher_no }}" name="voucher_no" class="form-control" style="font-size: 18px;font-weight: bold; color: #008000">#}
                    {#</div>#}
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="lang" key="date">Date</label>
                        <input name="voucher_date" type="date" required="required" id="theDate" class="form-control" value="{{ now|date("m/d/Y") }}">
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" >
                            <label for="exampleInputEmail1" class="lang" key="time">Time</label>
                            <input name="time" style="font-weight: bold; color: green;font-size: 19px"  readonly type="timer" value="" class="form-control" id="timer">
                        </div>
                    </div>





                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Manual Number</label>
                        <input name="manual_no" type="text"  class="form-control" placeholder="Enter Manual Number">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Deal Amount</label>
                        <input readonly name="deal_amount" value="{{ masters[0].net_amount }}" type="text"  class="form-control" placeholder="Enter Manual Number">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Trip Number</label>
                        <input readonly name="trip_number" value="{{ masters[0].invoice_number }}" type="text"  class="form-control" placeholder="Enter Manual Number">
                    </div>


                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Total Expense</label>
                        <input readonly name="total_expense" value="{{ trip_expense }}" type="text"  class="form-control" placeholder="Enter Manual Number">
                    </div>


                    <div class="form-group col-md-12">
                        <div class="table-responsive m-t">
                            <table class="table table-bordered">
                                <thead style="background-color: #2196f3; color: white">
                                <tr>
                                    <th style="width: 10%;">Sno</th>
                                    <th style="width: 20%;" >Expense Name</th>
                                    <th style="width: 10%;" >Amount</th>
                                    <th style="width: 30%;" >Description </th>

                                    <th style="width: 15%;" >Action</th>
                                </tr>
                                </thead>
                                <tbody id="purbody">
                                <tr id="remove_in_edit">
                                    <td><span class="counter">1</span></td>
                                    <td>
                                        <select class="form-control" data-live-search="true" name="account_id[]">

                                            {% for expense in expenses %}
                                                <option value="{{ expense.ACCOUNT_ID }}"> {{ expense.NAME }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>

                                    <td><input style="font-weight: bold; text-align: right" class="form-control amount" value="0" type="text" name="amount[]" required="required"></td>

                                    <td><textarea name="description[]" class="form-control"></textarea></td>
                                    <td>
                                        <button class="btn btn-info btn-circle puradd" type="button"><i class="fa fa-plus-square"></i></button>
                                        <button style="display: none" class="btn btn-warning btn-circle removepur" type="button"><i class="fa fa-times"></i></button>

                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>







                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                </div>
            </form>
        </div>


    </div>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"> <span class="lang">Trip Expense Detail</span></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Voucher # </th>
                                <th class="lang" key="date">DATE</th>
                                <th class="lang" key="amount">AMOUNT</th>
                                <th class="lang" key="description">DESCRIPTION</th>
                                <th>Action</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for expense in trip_expense_details %}
                                <tr>
                                    <td>{{ expense.VOUCHER_NO }}</td>
                                    <td>{{ expense.VOUCHER_DATE|date("m/d/Y") }}</td>
                                    <td style="float: right" class="money">{{ expense.AMOUNT }}</td>
                                    <td>{{ expense.DESCRIPTION }}</td>
                                    <td>  <a class="btn btn-warning" href="/trip/expense/edit/{{expense.VOUCHER_ID }}"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>



    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>

    <script>
        //for adding new row//
        $('body').on('click','.puradd',function(){
            var counter=$( ".counter" ).last().text();
            counter++;
            $('.puradd').hide();

            var newRow = $('<tr>' +
                    '<td><span class="counter">'+counter+'</span></td>'+
                    '<td>' +
                    '<select  class="category_id js-source-states form-control" style="width: 100%" name="account_id[]">' +
                    {% for expense in expenses %}
                    '<option value="{{  expense.ACCOUNT_ID }}"> {{  expense.NAME }} </option>'+
                    {% endfor %}
                    '</select>'+
                    '</td>' +




                    '<td><input style="font-weight: bold; text-align: right" id="quantity"  value="0"  class="form-control quantity" type="text" name="amount[]"/></td>' +

                    '<td><textarea name="description[]" class="form-control"></textarea></td>' +
                    '<td> ' +
                    '<button class="btn btn-info btn-circle puradd" type="button"><i class="fa fa-plus-square"></i></button>' +
                    ' <button class="btn btn-warning btn-circle removepur" type="button"><i class="fa fa-times"></i></button>' +
                    '</td>' +
                    '</tr>');
            $('#purbody').append(newRow);
        });
    </script>


{% endblock middle %}


</body>
</html>