<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>



    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/trip/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" >Add New Trip</span></button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" >Trips List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                  <th>Sr#</th>
                                <th style="width: 5%">Invoice #</th>
                                <th style="width: 10%" class="lang" key="NAME">Name</th>
                                <th style="width: 10%" class="lang" key="date">Date</th>
                                <th style="width: 10%">From</th>
                                <th style="width: 10%"> To</th>
                                <th style="width: 10%">Vehicle Number</th>

                                <th class="lang" key="total" style="width: 5%">Total</th>
                                <th class="lang"  style="width: 5%">Total Expense</th>

                                <th>profit</th>

                                <th  style="width: 5%">Expense</th>
                                <th class="lang"  key="view" style="width: 3%">View</th>
                                {% if(role=='Admin') or (role=='manager') %}
                                    {#<th class="lang" key="edit"  style="width: 3%">Edit</th>#}
                                {% endif %}
                                {% if(role=='Admin')  %}
                                    <th class="lang" key="delete"  style="width: 8%">Delete</th>
                                {% endif %}
                            </tr>
                            </thead>

                            <tbody>
                                {% set count = 1 %}
                            {% set total_amount = 0 %}
                            {% set total_expense = 0 %}
                            {% set total_profit = 0 %}
                            {% for sale in trips %}
                                <tr>


                                  <td style="text-align: center">{{ count }} </td>
                                    <td>{{ sale.invoice_number }}</td>
                                    {% if sale.p_name is empty %}
                                        <td>{{ sale.customer_name }}</td>
                                    {% else %}
                                        <td>{{ sale.p_name }}</td>
                                    {% endif %}
                                    <td>{{ sale.invoice_date|date("m/d/Y") }}</td>

                                    <td>{{ sale.from_destination_name }}</td>
                                    <td>{{ sale.to_destination_name }}</td>
                                    <td>{{ sale.pak_vehicle_number }}</td>
                                    {% set total_amount = ( total_amount | default(0) ) + sale.net_amount %}
                                    {% set total_expense = ( total_expense | default(0) ) + sale.total_expense %}
                                    <td class="money"><span style="float: right">{{ sale.net_amount }}</span></td>

                                    <td ><span style="float: right">{{ sale.total_expense }}</span></td>
                                    <td>{{ sale.net_amount - sale.total_expense }}</td>
                                    {% set total_profit = ( total_profit | default(0) ) + sale.net_amount - sale.total_expense %}
                                    <td><a href="/trip/expense/{{ sale.id }}/{{ sale.invoice_number }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                                    <td><a target="_blank" href="/trip/print/{{ sale.id }}/{{ sale.invoice_number }}" class="btn btn-primary"><i class="fa fa-print"></i></a></td>
                                    {% if(role=='Admin') or (role=='manager') %}
                                        {#<td><a target="_blank" href="/sale_invoice/edit/{{ sale.id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>#}
                                    {% endif %}
                                    {% if(role=='Admin')  %}
                                        <td>
                                            <a  href="/trip/edit/{{ sale.id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                            <a  href="/sale_invoice/delete/{{ sale.id }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                            </td>
                                    {% endif %}
                                </tr>
                                    {% set count = ( count | default(0) ) + 1 %}
                            {% endfor %}
                            </tbody>

                        </table>
                        <div align="center" style="font-size: 16px;">
                            <span>Total Amount: {{ total_amount }}</span><br>
                            <span>Total Expense: {{ total_expense }}</span><br>
                            <span>Total Profit: {{ total_profit }}</span><br>
                        </div>



                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>






    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});
        $('.money').css('float','right');


    </script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
  "ordering": false
});
        
    } );
</script>

{% endblock middle %}
</body>
</html>