<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>

    <title></title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

<div >
    <div style="display: inline-block; width: 70%"><h1 style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px"><span></span></h1>

        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px"><span> {{ session.contact }} </span></h4>
        <h4 style="margin-top: 0px; margin-left: 10px"><span> {{ session.email }} </span></h4>

    </div>

    <img src="/../static/login/images/we.png" width="80px" height="80px" style="margin-top: 15px;">

</div>





<div style="margin-left: 68%;margin-top:-80px">
    <table style="border: 1px solid black; width: 100%; min-height:90px; margin-bottom: 8px; margin-top:10px ">
        <tr>
            <th style="width: 10%">
                <p>From Date: {{ from_date }}</p>
                <p style="margin-top: -5px">From to:  {{ to_date }}</p>
            </th>
        </tr>
        <tr>
            <th style="width: 10%">
                <p>Opening Balance: <span style="margin-left: 2px" class="money">{{ opening_balance }}</span></p>
                <p style="margin-top: -5px">Closing Balance:  <span style="margin-left: 2px" class="money">{{ closing_balance }}</span></p>
            </th>
        </tr>
    </table>
</div>

<p style="align-content:center "><center><h2>Bank Ledger Report</h2></center></p>
<h3 style="margin-bottom:3px">Bank Name : {{ banks[0].NAME }} <span></span></h3>


</div>





<div style="min-height: 740px">
    <table style="border: 1px solid black; width: 100%; margin-top: 0px ">
        <tr>
            <thead>
            <th style="width: 10%;">Voucher#</th>
            <th style="width: 10%">Date</th>

            <th style="width: 30%">Deposit</th>
            <th style="width: 10%;">Withdraw</th>
            <th style="width: 10%;">Amount</th>
            </thead>
        </tr>
        {% set amount =  opening_balance  %}
        {% for complete_report in complete_reports %}
            <tr>
                <td style="width: 10%; text-align: center">{{ complete_report.voucher_no }}</td>
                <td style="width: 15%;text-align: center">{{ complete_report.voucher_date|date("m/d/Y") }}</td>


                <td style="width: 15%; text-align: right" class="money"><span style="margin-left: 2px">{{ complete_report.deposit }}</span></td>
                <td style="width: 15%; text-align: right" class="money"><span style="margin-left: 2px">{{ complete_report.withdraw }}</span></td>
                {% set amount = ( amount | default(0) ) - complete_report.withdraw + complete_report.deposit  %}
                <td style="width: 15%;"><span style="margin-left: 2px" class="money">{{ amount }}</span></td>

            </tr>
        {% endfor %}

    </table>
    <div style="float: left; ">

        <br><br>
        <!-- <p style="margin-top: 0px">Amount In Words : <span id="amount_words"> </span> only</p> -->
    </div>


    <div style="margin-left: 68%">

        <h3 style="margin-top: 3px;  padding-bottom: 3px; padding-top: 12px; margin-left: 80px;"> Total : <span class="money">{{ amount }}</span></h3>
    </div>




</div>




<h4 style="text-align: center ">Copyright : Tech Track</h4>

<script type="text/javascript">

    $('.money').mask("#,###", {reverse: true});



</script>

<script>

    window.onload = function () {
        window.print();
    }

</script>
</body>
</html>
