<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>

    <title></title>
</head>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

<div >
    <div style="display: inline-block; width: 70%"><h1 style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px"><span></span></h1>

        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px"><span> {{ session.contact }} </span></h4>
        <h4 style="margin-top: 0px; margin-left: 10px"><span> {{ session.email }} </span></h4>

    </div>

    <img  src="/../static/img/{{ session.logo }}" width="80px" height="80px" style="margin-top: 15px;">

</div>





<div style="margin-left: 68%;margin-top:-80px">
    <table style="border: 1px solid black; width: 100%; min-height:90px; margin-bottom: 8px; margin-top:10px ">
        <tr>
            <th style="width: 5%">From Date: {{ from_date }}
                <p style="">From to:  {{ to_date }}</p>

            </th>
        </tr>
    </table>
</div>

<p style="align-content:center "><center><h2>Category  Wise Profit Report</h2></center></p>
<h2></h2>


<div style="min-height: 740px">
    <table style="border: 1px solid black; width: 100%; margin-top: 0px ">
        <tr>
            <thead>

            <th>Invoice Date</th>
            <th style="width: 10%;">Invoice Number</th>
            <th style="width: 20%;">Product</th>
            <th>Qty</th>
            <th>Cost</th>
            <th>Total <br> Cost</th>
            <th>Sale</th>
            <th>Total <br> sale</th>
            <th>Profit</th>
            </thead>
        </tr>
        {% set count = 0 %}
        {% set old = "" %}
        {% set new = "" %}
        {% set second = 0 %}




        {% set count2 = 0 %}
        {% set old2 = "" %}
        {% set new2 = "" %}

        {% set total = 0 %}
        {% set total_profit = 0 %}
        {% set total_sale_amount = 0 %}
        {% set total_cost_amount = 0 %}
        {% for sale in sales %}

            {% set total_cost = 0 %}
            {% set total_sale = 0 %}


            <tr>


                {#{% if(count==0) %}#}
                    {#{% set old = sale.invoice_date|date("m/d/Y") %}#}
                    {#{% set new = sale.invoice_date|date("m/d/Y") %}#}
                {#{% else %}#}
                    {#{% set new = sale.invoice_date|date("m/d/Y") %}#}
                    {#{% set old = old %}#}
                {#{% endif %}#}

                {#{% if(old == new) %}#}
                    {#{% if(count==0)  %}#}
                        {#{% if(second==0) %}#}
                            {#<td ><span style="font-weight: bold">{{ sale.invoice_date|date("m/d/Y") }}</span></td>#}
                            {#{% set count = count + 1 %}#}
                            {#{% set second = 1 %}#}
                        {#{% else %}#}
                            {#<td><span></span></td>#}
                            {#{% set count = count + 1 %}#}
                        {#{% endif %}#}

                    {#{% else %}#}
                        {#<td><span></span></td>#}
                        {#{% set count = count + 1 %}#}
                    {#{% endif %}#}

                {#{% else %}#}
                    {#<td><span style="font-weight: bold"> {{ sale.invoice_date|date("m/d/Y") }}</span></td>#}
                    {#{% set count = 0 %}#}
                    {#{% set second = 1 %}#}
                {#{% endif %}#}



                {% if(count==0) %}
                    <td><span style="font-weight: bold">{{ sale.invoice_date|date("m/d/Y") }}</span></td>
                    {% set count = 1 %}
                    {% set old = sale.invoice_date|date("m/d/Y") %}
                {% else %}
                    {% set new = sale.invoice_date|date("m/d/Y") %}
                    {% if(old==new) %}
                        <td><span style="float: right"></span></td>
                        {% set old = sale.invoice_date|date("m/d/Y") %}
                    {% else %}

                        <td><span style=" font-weight: bold">{{ sale.invoice_date|date("m/d/Y") }} </span></td>
                        {% set old = sale.invoice_date|date("m/d/Y") %}
                    {% endif %}
                {% endif %}


                  {% if(count2==0) %}
                      <td><span style=" font-weight: bold">{{ sale.invoice_number }}</span></td>
                      {% set count2 = 1 %}
                      {% set old2 = sale.invoice_number %}
                  {% else %}
                      {% set new2 = sale.invoice_number %}
                         {% if(old2==new2) %}
                             <td><span style="float: right"></span></td>
                             {% set old2 = sale.invoice_number %}
                         {% else %}

                             <td><span style="font-weight: bold">{{ sale.invoice_number }} </span></td>
                             {% set old2 = sale.invoice_number %}
                         {% endif %}
                  {% endif %}





                <td><span style="float: left">{{ sale.product_name }} {{ sale.weight }}</span></td>
                <td ><span style="float: right">{{ sale.quantity }}</span></td>
                <td ><span style="float: right">{{ sale.cost_price }}</span></td>
                {% set total_cost = sale.cost_price %}
                <td ><span style="float: right">{{ sale.total_cost|number_format(2, '.', ',') }}</span></td>
                {% set total_cost_amount = ( total_cost_amount | default(0) ) + sale.total_cost %}
                <td ><span style="float: right">{{ sale.price }}</span></td>
                {% set total_sale = sale.total_sale_price %}
                <td ><span style="float: right">{{ sale.total_sale_price }}</span></td>

                <td><span style="float: right">{{ sale.profit|number_format(2, '.', ',') }}</span></td>
                {% set total_profit = ( total_profit | default(0) ) + sale.profit %}
                {% set total_sale_amount = ( total_sale_amount | default(0) ) + sale.total_sale_price %}



            </tr>
        {% endfor %}



    </table>
    <div style="float: left; ">

        <br><br>
        <!-- <p style="margin-top: 0px">Amount In Words : <span id="amount_words"> </span> only</p> -->
    </div>


    <div style="margin-left: 71%">
        <br>
        <span style="font-size: 17px; font-weight: bold"> Total Profit: {{ (total_profit)|number_format(2, '.', ',') }}</span>
        <br>
        <span style="font-size: 17px; font-weight: bold"> Total Sale: {{ (total_sale_amount)|number_format(2, '.', ',') }}</span>
        <br>
        <span style="font-size: 17px; font-weight: bold"> Total Cost: {{ (total_cost_amount)|number_format(2, '.', ',') }}</span>
    </div>




</div>




<h4 style="text-align: center ">Copyright : Tech Track</h4>
<script>

    window.onload = function () {
        window.print();
    }

</script>