<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>

    <title></title>
</head>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

<div >
    <div style="display: inline-block; width: 70%"><h1 style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px"><span></span></h1>

        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px"><span> {{ session.contact }} </span></h4>
        <h4 style="margin-top: 0px; margin-left: 10px"><span> {{ session.email }} </span></h4>

    </div>

    <img  src="/../static/img/{{ session.logo }}" width="80px" height="80px" style="margin-top: 15px;">

</div>





<div style="margin-left: 68%;margin-top:-80px">
    <table style="border: 1px solid black; width: 100%; min-height:90px; margin-bottom: 8px; margin-top:10px ">
        <tr>
            <th style="width: 5%">From Date: {{ from_date }}
                <p style="">From to:  {{ to_date }}</p>
                <p>
                    {% if  party_id==0 %}

                    {% else %}
                        Booker Name:  {{  sales[0].party_name}}
                    {% endif %}


                </p>

            </th>
        </tr>
    </table>
</div>

<p style="align-content:center "><center><h2>Category  Wise Sale Report</h2></center></p>
<h2></h2>


<div style="min-height: 740px">
    <table style="border: 1px solid black; width: 100%; margin-top: 0px ">
        <tr>
            <thead>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            </thead>
        </tr>
        {% set amount = 0 %}
        {% set total = 0 %}
        {% for sale in sales %}
            <tr>
            <td><span>{{ sale.NAME }}</span></td>
            <td><span>{{ sale.price }}</span></td>
            <td><span>{{ sale.Total_Qty }}</span></td>
            <td style="content: left"><span >{{ (sale.price*sale.Total_Qty) }}</span></td>
                {% set amount = ( amount | default(0) ) + (sale.price*sale.Total_Qty)  %}
            </tr>
        {% endfor %}


        <tr style="background:#f5f5f5;text-align:right!important;font-weight: bolder">
            <td colspan="4" style="text-align: right;"><span style="margin-right: 100px;">Total : {{ amount }}</span></td>


        </tr>

    </table>








</div>




<h4 style="text-align: center ">Copyright : Tech Track</h4>
<script>

    window.onload = function () {
        window.print();
    }

</script>