<link rel="stylesheet" href="/../static/style.css">
<link href="/../static/fonts.css" rel="stylesheet">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>


<style type="text/css" media="print">
    @page {
        size: landscape;
    }

</style>
<style>
.table thead th {
    vertical-align: baseline;
}

.total {
    /*
    background: #1e88ff !important;*/


    color: black;
    font-weight: bolder;
    text-align: right;
}

body {
    width: 29cm;
    height: 21cm;

    font-family: 'Conv_SEGOEUI';

}

.bill {
    text-align: center;
}

#invoice {
    padding: 30px;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
    padding: 15px
}

.invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #3989c6
}

.invoice .company-details {
    text-align: right;
    right: 20px;
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px
}

.invoice .invoice-to {
    text-align: left
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: right
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: #3989c6
}

.invoice main {
    padding-bottom: 50px
}

.invoice main .thanks {
    margin-top: -100px;
    font-size: 2em;
    margin-bottom: 50px
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #3989c6
}

.invoice main .notices .notice {
    font-size: 1.2em
}

.invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

.invoice table td,
.invoice table th {
    padding: 15px;
    background: #eee;
    border-bottom: 1px solid #fff
}

.invoice table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

.invoice table td h3 {
    margin: 0;
    font-weight: 400;
    color: #3989c6;
    font-size: 1.2em
}

.invoice table .qty,
.invoice table .total,
.invoice table .unit {
    text-align: right;
    font-size: 1.2em
}

.invoice table .no {
    color: #fff;
    font-size: 1.6em;
    background: #3989c6
}

.invoice table .unit {
    background: #ddd
}

.invoice table .total {
    background: #3989c6;
    color: #fff
}

.invoice table tbody tr:last-child td {
    border: none
}

.invoice table tfoot td {
    background: 0 0;
    border-bottom: none;
    white-space: nowrap;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2em;
    border-top: 1px solid #aaa
}

.invoice table tfoot tr:first-child td {
    border-top: none
}

.invoice table tfoot tr:last-child td {
    color: #3989c6;
    font-size: 1.4em;
    border-top: 1px solid #3989c6
}

.invoice table tfoot tr td:first-child {
    border: none
}

.invoice footer {
    width: 100%;
    text-align: center;
    color: #070707;
    border-top: 1px solid #aaa;
    padding: 8px 0
}

table.fixed {
    table-layout: fixed;
    max-width: 1096px;
}

/*  table.fixed td,
th {
    overflow: hidden;
}
*/
table td {
    table-layout: fixed;
    width: 1000px;
    overflow: hidden;
    word-wrap: break-word;
}

.left {
    text-align: left;
}

/*.page {

width: 29cm;
height: 21cm;
background: #f3f3f3;
}*/

</style>
<section class="page">
    <div class="row">
        <div class="container-fluid">
            <div class="row contacts" style="padding-bottom: 20px;">
                <div class="col-md-6 col-sm-6 invoice-to left">
                    <a target="_blank" href="https://lobianijs.com">
                        <img src="/../static/img/{{ session.logo }}" data-holder-rendered="true" width="260px" />
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 invoice-details text-right">
                    <br>

                </div>
            </div>
            {#<div class="date" align="center"><span style="font-weight: bolder;padding-left: 20px">{{ results[0].floor_name }} Report</span></div>#}

            <table class="table table-bordered fixed ">
                <thead style="background:#f5f5f5;color: black;text-align: center">
                <tr style="align-content: center">
                    <th scope="col" style="width:20%;">Sr</th>
                    <th scope="col" style="width:20%;">ID</th>
                    <th scope="col" style="width:20%;">Area</th>
                    <th scope="col" style="width:20%;">Rate/Sq.Ft</th>
                    <th scope="col" style="width:20%;">Sale Price</th>
                </tr>
                </thead>
                <tbody style="text-align: right" id="purbody">
                {% set count = 1  %}
                {% set total = 0  %}
                {% for result in results %}
                    <tr>

                    </tr>
                {% endfor %}



                </tbody>
            </table>

            <span style="background:#f5f5f5;text-align:right!important;font-weight: bolder; float: right;font-weight: bold" >
                <td colspan="6" style="text-align: right;">Total Amount : <span id="grand_total" style="margin-left: 2px" class="money">0</span></td>
                <td></td>
            </span>

        </div>

    </div>

</section>
<script>
    $(document).ready(function(){
         var grand_total=0;
         {% for result in results %}
        var count=1;
        var id={{ result.floor_id }};
        var name= '{{ result.floor_name }}' ;
        var newRow = $('<tr>' +
                '<td colspan="5" ><span style="float: left" class="counter">'+ name +'</span></td>'+
                '</tr>');
        $('#purbody').append(newRow);
        $.ajax({
            'type':'Get',
            async:false,
            'url':"/reports/get_shops"+ "/"+ id,
            success:function(response){
                $.each(response,function(key,value){
                    var total=parseInt(value.squarefeets)*parseInt(value.rate);
                    var newRow = $('<tr>' +
                            '<td><span class="counter">'+count+'</span></td>'+
                            '<td>'+value.name+'</td>' +
                            '<td style="margin-left: 2px" class="money">'+value.squarefeets+'</td>' +
                            '<td style="margin-left: 2px" class="money">'+value.rate+'</td>' +
                            '<td style="margin-left: 2px" class="money">'+total+'</td>' +
                            '</tr>');

                    $('#purbody').append(newRow);
                    count=count+1;
                    grand_total=grand_total+total;
                });
            }
        });
        {% endfor %}
        $('#grand_total').text(grand_total);
    });
</script>

<script type="text/javascript">



</script>

<script>

</script>

<script>
    window.onload = setTimeout(function(){
        $('.money').mask("#,###", {reverse: true});
        window.print();
    }, 3000);
</script>
