<link rel="stylesheet" href="/../static/style.css">
<link href="/../static/fonts.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->
<style>
.table thead th {
    vertical-align: baseline;
}

.total {
    /*
    background: #1e88ff !important;*/


    color: black;
    font-weight: bolder;
    text-align: right;
}

body {
    width: 29cm;
    height: 21cm;
    font-family: 'Conv_SEGOEUI';

}


.bill {
    text-align: center;
}

#invoice {
    padding: 30px;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
    padding: 15px
}

.invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #3989c6
}

.invoice .company-details {
    text-align: right;
    right: 20px;
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px
}

.invoice .invoice-to {
    text-align: left
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: right
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: #3989c6
}

.invoice main {
    padding-bottom: 50px
}

.invoice main .thanks {
    margin-top: -100px;
    font-size: 2em;
    margin-bottom: 50px
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #3989c6
}

.invoice main .notices .notice {
    font-size: 1.2em
}

.invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

.invoice table td,
.invoice table th {
    padding: 15px;
    background: #eee;
    border-bottom: 1px solid #fff
}

.invoice table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

.invoice table td h3 {
    margin: 0;
    font-weight: 400;
    color: #3989c6;
    font-size: 1.2em
}

.invoice table .qty,
.invoice table .total,
.invoice table .unit {
    text-align: right;
    font-size: 1.2em
}

.invoice table .no {
    color: #fff;
    font-size: 1.6em;
    background: #3989c6
}

.invoice table .unit {
    background: #ddd
}

.invoice table .total {
    background: #3989c6;
    color: #fff
}

.invoice table tbody tr:last-child td {
    border: none
}

.invoice table tfoot td {
    background: 0 0;
    border-bottom: none;
    white-space: nowrap;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2em;
    border-top: 1px solid #aaa
}

.invoice table tfoot tr:first-child td {
    border-top: none
}

.invoice table tfoot tr:last-child td {
    color: #3989c6;
    font-size: 1.4em;
    border-top: 1px solid #3989c6
}

.invoice table tfoot tr td:first-child {
    border: none
}

.invoice footer {
    width: 100%;
    text-align: center;
    color: #070707;
    border-top: 1px solid #aaa;
    padding: 8px 0
}

table.fixed {
    table-layout: fixed;
    max-width: 1096px;
}

/*  table.fixed td,
th {
    overflow: hidden;
}
*/
table td {
    table-layout: fixed;
    width: 1000px;
    overflow: hidden;
    word-wrap: break-word;
}

/*   @media print {
    .invoice {
        font-size: 11px !important;
        overflow: hidden !important
    }

    .invoice footer {
        position: absolute;
        bottom: 10px;
        page-break-after: always
    }

    .invoice>div:last-child {
        page-break-before: always
    }
}*/

</style>
<section style="  width: 29cm;
height: 21cm;">
    <div class="row">
        <div class="container-fluid">
            <div class="row contacts" style="padding-bottom: 20px;">
                <div class="col-md-6 col-sm-6 invoice-to left">
                    <a target="_blank" href="https://lobianijs.com">
                        <img src="/../static/img/{{ session.logo }}" data-holder-rendered="true" width="260px" />
                    </a>
                    <div class="date"><span style="font-weight: bolder;padding-left: 20px;font-size: 28px;color:black;">Profit And Loss Report</span></div>

                </div>
                <div class="col-md-6 col-sm-6 invoice-details text-right">
                    <br>
                    <div class="setting " style="border: 1px solid black;
    text-align: left;
    max-width: 100%;
    padding: 9px;
    margin-left: 60%;
    margin-top:50px;
}">

                        <div class=" date"><span style="font-weight: bolder">From Date : </span>{{ from_date }}</div>
                        <div class="date"><span style="font-weight: bolder">To Date : </span>&nbsp; &nbsp;&nbsp;{{ to_date }}</div>

                    </div>
                    <div class="padding" style="padding-top: 10px"></div>

                </div>
            </div>
            <table class="table table-bordered fixed ">
                <thead style="background:#f5f5f5;color: black;text-align: center">
                <tr style="text-align: center">
                    <th scope="col " style="width: 60%" class="bill">Name</th>
                    <th scope="col" style="width:20%">Amount</th>
                </tr>
                {% set amount = 0 %}
                {% set cost_of_goods = 0 %}
                </thead>
                <tbody style=" text-align: left;font-weight: bolder;font-size: 20px">
                <tr>
                    <td style="">Sales</td>
                    <td style="text-align: right">{{ sales|number_format(0) }}</td>

                </tr>
                <tr>
                    <td>Sales Return</td>
                    <td style="text-align: right">{{ returns|number_format(0) }}</td>

                </tr>
                <tr>
                    <td>Cost Of Goods Sold </td>
                    <td style="text-align: right">{{ (salecostprice -  returncostprice)|number_format(0) }}</td>

                </tr>
                <tr>
                    <td>Expense</td>
                    <td style="text-align: right">{{ expense|number_format(0) }}</td>

                </tr>
                {% set cost_of_goods =  salecostprice - returncostprice %}
                <tr>
                    <td>Net Profit & Loss</td>
                    <td style="text-align: right">{{ (sales - returns - cost_of_goods  - expense)|number_format(0) }}</td>

                </tr>






                </tbody>
            </table>
        </div>
    </div>
</section>
