<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}
{% block middle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
    #bank_deposit,#hawala_send_report,#hawala_receive_report,#hawala_purchase_report,#hawala_cash_receive,#hawala_sale_report, #bank_withdraw,#profit_loss, #expense_headwise, #cash_receive, #cash_payment,#income_report,#expense_report,#purchase_return_report,#purchase_invoice_report,#sale_return_report,#sale_invoice_report,#expense_complete_report,#cash_ledger,#party_ledger,#currency_party_ledger,#bank_ledger,#demage_report,#categorywise_stock,#profit_and_loss,#monthly_sale_report,#categorywise_profit,#categorywise_sale_report,#price_list_report,#floorwise_report{
        height: 400px;
        top: calc(50% - 200px) !important;
    }
</style>

<section class="content">
<div class="row">
<div class="col-md-12">

{#party ledger report#}
<div id="party_ledger" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Party Ledger Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/party_leger_report" target="_blank">
                    <div class="form-group col-md-4" >
                        <label for="exampleInputEmail1">Party Name</label>

                        <select class="form-control selectpicker" data-live-search="true" name="party_id">
                            <option value="0">Select Party</option>
                            {% for customer in customers %}

                                {% if customer.TYPE == 'C' %}
                                    <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}(Customer)</option>
                                {% else %}
                                    <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}(Vendor)</option>
                                {% endif %}


                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group col-md-4" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-4" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit12">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<div id="floorwise_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">FloorWise Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/floorwise_report">
                    <div class="form-group col-md-12" >
                        <label for="exampleInputEmail1">Floor Name</label>

                        <select class="form-control selectpicker" data-live-search="true" name="floor_id">
                            <option value="0">Select Floor</option>
                            {% for floor in floors %}
                                    <option value="{{ floor.floor_id }}"> {{ floor.floor_name }}</option>

                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit12">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


{#end of party ledger#}


<div id="currency_party_ledger" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Currency Party Ledger Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/currency_party_leger_report" target="_blank">
                    <div class="form-group col-md-3" >
                        <label for="exampleInputEmail1">Currency Name</label>

                        <select class="form-control" name="currency_id" id="currency_id">
                            {% for currency in currencies %}
                                <option value="{{ currency.currencyid }}"> {{ currency.currency_name }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group col-md-3" >
                        <label for="exampleInputEmail1">Party Name</label>

                        <select class="form-control selectpicker" data-live-search="true" name="party_id">
                            <option value="0">Select Party</option>
                            {% for customer in customers %}

                                {% if customer.TYPE == 'C' %}
                                    <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}(Customer)</option>
                                {% else %}
                                    <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}(Vendor)</option>
                                {% endif %}


                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group col-md-3" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-3" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit12">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


{#hawala send#}
<div id="hawala_send_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hawala Send</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/hawala_send_report" target="_blank">




                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit12">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of hawala send#}

{#hawala receive #}
<div id="hawala_receive_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hawala Receive</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/hawala_receive_report" target="_blank">




                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit12">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of hawala receive#}

{#hawala sale#}
<div id="hawala_sale_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hawala Sale</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/hawala_sale_report" target="_blank">




                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit12">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#hawala sale end#}


{#hawala purchase#}
<div id="hawala_purchase_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hawala Purchase</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/hawala_purchase_report" target="_blank">




                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit12">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of hawala purchase#}

{#hawala_cash_receive#}

<div id="hawala_cash_receive" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hawala Cash Receive</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/hawala_purchase_report" target="_blank">




                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit12">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of hawala_cash_receive#}

<div id="cash_ledger" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cash Ledger Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/cash_leger_report" target="_blank">
                    <div class="form-group col-md-4" >
                        <label for="exampleInputEmail1">Currency Name</label>

                        <select class="form-control" name="currency_id" id="currency_id">
                            {% for currency in currencies %}
                                <option value="{{ currency.currencyid }}"> {{ currency.currency_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-4" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-4" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit12">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>






{#Bank ledger report#}


{#end of Bank ledger#}


{#categorywise profit report#}


{#end of categorywise profit  #}


{#expense_complete_report#}
<div id="expense_complete_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Expense Complete Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/expense_complete_report" target="_blank">


                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit11">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of total expense#}
{#bank deposit      #}
<div id="profit_loss" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Profit Loss Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/profit_loss" target="_blank">


                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of bank deposit#}

{#categorywise stock#}


{#end of categorywise Stock#}




{#price list report#}


{#end of price list report#}

{#Profit and loss stock#}
<div id="profit_and_loss" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Profit And Loss Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/profit_and_loss" target="_blank">


                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of Profit and loss Stock#}



{#monthly sale report #}
<div id="monthly_sale_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Monthly Sale Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/monthly_sale_report" target="_blank">


                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of Profit and loss Stock#}


{#bank withdraw#}

{#end of bank withdraw#}

{#bank withdraw#}
<div id="expense_headwise" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Expense Headwise Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/expense_headwise" target="_blank">
                    <div class="form-group col-md-4" >
                        <label for="exampleInputEmail1">Expense Name</label>
                        <select class="form-control selectpicker" data-live-search="true" name="account_id">
                            {% for expense in expenses %}
                                <option value="{{ expense.ACCOUNT_ID }}">{{ expense.NAME }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group col-md-4" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-4" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit2">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of bank withdraw#}

{#bank deposit      #}
<div id="bank_deposit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bank Deposit Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/bank_deposit" target="_blank">
                    <div class="form-group col-md-4" >
                        <label for="exampleInputEmail1">Category Name</label>
                        <select class="form-control selectpicker" data-live-search="true" name="account_id">
                            {% for bank in banks %}
                                <option value="{{ bank.ACCOUNT_ID }}">{{ bank.NAME }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group col-md-4" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-4" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of bank deposit#}


{#cash receive#}
<div id="cash_receive" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hawala Cash Receive Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/hawala_cash_receive" target="_blank">
                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit3">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of cash receive#}

{#cash payment#}
<div id="cash_payment" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hawala Cash Receive Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/hawala_cash_payment" target="_blank">
                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit4">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of cash payment#}


{#income report#}

<div id="income_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Income Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/income_report" target="_blank">
                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit5">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of income report#}

{#expense report#}
<div id="expense_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Expense Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/expense_report" target="_blank">
                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit6">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of expense report#}

{#purchase return#}
<div id="purchase_return_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Purchase Return Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/purchase_return_report" target="_blank">
                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit7">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of purchase return#}


{#purchase invoice#}
<div id="purchase_invoice_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Purchase Invoice Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/purchase_invoice_report" target="_blank">
                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-6" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit8">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of purchase invoice#}

{#sale return report#}

<div id="sale_return_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style=" width: 800px;">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sale Return Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/sale_return_report" target="_blank">


                    <div class="form-group col-md-3" >
                        <label for="exampleInputEmail1">Customer Name</label>

                        <select class="form-control selectpicker" data-live-search="true" name="party_id">
                            <option value="0">Select Customer</option>
                            {% for customer in customers %}
                                <option value="{{ customer.PARTY_ID }}">{{ customer.NAME }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-3" >
                        <label for="exampleInputEmail1">Product Name</label>

                        <select class="form-control selectpicker" data-live-search="true" name="product_id">
                            <option value="0">Select Product</option>
                            {% for product in products %}
                                <option value="{{ product.PRODUCT_ID }}">{{ product.NAME }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-3" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-3" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit9">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of sale return report#}


{#sale invoice report#}
<div id="sale_invoice_report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style=" width: 800px;">
            <div class="modal-header bg-aqua" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sale Invoice Report</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/reports/sale_invoice_report" target="_blank">

                    <div class="form-group col-md-3" >
                        <label for="exampleInputEmail1">Customer Name</label>

                        <select class="form-control selectpicker" data-live-search="true" name="party_id">
                            <option value="0">Select Customer</option>
                            {% for customer in customers %}
                                <option value="{{ customer.PARTY_ID }}">{{ customer.NAME }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    {#<div class="form-group col-md-4" >#}
                    {#<label for="exampleInputEmail1">Category Name</label>#}

                    {#<select class="form-control selectpicker" data-live-search="true" name="category_id">#}
                    {#<option value="0">Select Category</option>#}
                    {#{% for category in categories %}#}
                    {#<option value="{{ category.CATEGORY_ID }}">{{ category.NAME }}</option>#}
                    {#{% endfor %}#}
                    {#</select>#}
                    {#</div>#}

                    <div class="form-group col-md-3" >
                        <label for="exampleInputEmail1">Product Name</label>

                        <select class="form-control selectpicker" data-live-search="true" name="product_id">
                            <option value="0">Select Product</option>
                            {% for product in products %}
                                <option value="{{ product.PRODUCT_ID }}">{{ product.NAME }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group col-md-3" >
                        <label for="exampleInputPassword1">From</label>
                        <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                    </div>

                    <div class="form-group col-md-3" >
                        <label for="exampleInputPassword1">To</label>
                        <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                    </div>


                    <div class="form-group col-md-12" >
                        <input type="submit" class="btn btn-primary" style="float: right" id="submit10">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{#end of sale invoice report#}
<div id='msgbox'></div><div  id='_page_body'>


{% set entries = craft.entries.section('users').getRawSql() %}

<h1>  {{ entries }}</h1>

<section class='content' style='padding:5px;margin-top:3px;'><div class='box box-success '  style='padding-bottom:20px;'><div class='box-header with-border '><h3 class='box-title '>Report Section</h3><div class='box-tools pull-right'><button class='btn btn-box-tool' data-widget='collapse'><i class='fa fa-minus'></i></button></div></div><div class='box-body no-padding'><div class='row'><div class='col-md-12 col-sm-11' ><div class='pad col-md-12 col-sm-12 col-lg-12' >




{#<div class="col-lg-3 col-sm-3 col-xs-12" >#}
{#<a data-toggle="modal"  data-target="#sale_invoice_report" style="width: 100%; border-radius: 40px;"  onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'#}
{#class='btn  btn-primary '#}
{#href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Sale Invoice Reports#}
{#<span class='label  '></span>#}
{#</a>#}
{#</div>#}

<div style="margin-top: 20px">













<div class="col-lg-3 col-sm-3 col-xs-12">
    <a data-toggle="modal" data-target="#party_ledger"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
       class='btn  btn-primary'
       href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span class="lang" key="party ledger report">Party Ledger Report</span>
        <span class='label  '></span>
    </a>
</div>



    <div class="col-lg-3 col-sm-3 col-xs-12">
        <a target="_blank" data-toggle="modal"    style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
           class='btn  btn-primary'
           href='/reports/floor_list_report'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span class="lang" key="party ledger report">Floor List Report</span>
            <span class='label  '></span>
        </a>
    </div>


    <div class="col-lg-3 col-sm-3 col-xs-12">
        <a data-toggle="modal" data-target="#floorwise_report"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
           class='btn  btn-primary'
           href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span class="lang" key="party ledger report">FloorWise Report</span>
            <span class='label  '></span>
        </a>
    </div>



    <div class="col-lg-3 col-sm-3 col-xs-12">
        <a target="_blank" data-toggle="modal"    style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
           class='btn  btn-primary'
           href='/reports/floorwise_complete_report'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span class="lang" key="party ledger report">FloorWise Complete Report</span>
            <span class='label  '></span>
        </a>
    </div>
































</div>
</div>
</div>




</div>
</div>
</div>
</section>
</div>
</div>
</div>
</section>

<script>
    $(document).ready(function(){
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;
        $('.thedate').val(today);
    });

    $(document).on("click", "#submit,#submit2,#submit3,#submit4,#submit5,#submit6,#submit7,#submit8,#submit9,#submit10,#submit11,#submit12,#submit13", function(e){
        $('#bank_deposit').modal('hide');
        $('#bank_withdraw').modal('hide')
        $('#profit_loss').modal('hide')
        $('#expense_headwise').modal('hide')
        $('#cash_receive').modal('hide')
        $('#cash_payment').modal('hide')
        $('#income_report').modal('hide')
        $('#expense_report').modal('hide')
        $('#purchase_return_report').modal('hide')
        $('#purchase_invoice_report').modal('hide')
        $('#sale_return_report').modal('hide')
        $('#sale_invoice_report').modal('hide')
        $('#expense_complete_report').modal('hide')
        $('#party_ledger').modal('hide')
        $('#floorwise_report').modal('hide')
        $('#cash_ledger').modal('hide')
        $('#currency_party_ledger').modal('hide')
        $('#bank_ledger').modal('hide')
        $('#city_receivable').modal('hide')
        $('#demage_report').modal('hide');
        $('#price_list_report').modal('hide');
        $('#categorywise_stock').modal('hide')
        $('#profit_and_loss').modal('hide')
        $('monthly_sale_report').modal('hide');
        $('#hawala_send_report').modal('hide');
        $('#hawala_receive_report').modal('hide');
        $('#hawala_sale_report').modal('hide');
        $('#hawala_purchase_report').modal('hide');
        $('#hawala_cash_receive').modal('hide');

    });

</script>

{% endblock middle %}