<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>

    <title></title>
</head>
<body>
<div >
    <div style="display: inline-block; width: 70%"><h1 style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px"><span></span></h1>

        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px">Contact No :<span> {{ session.contact }} </span></h4>
        <h4 style="margin-top: 0px; margin-left: 10px">Email :<span> {{ session.email }} </span></h4>

    </div>

    <img src="/../static/img/{{ session.logo }}" width="80px" height="80px" style="margin-top: 15px;">

</div>







<p style="align-content:center "><center><h2>Cash Received Report</h2></center></p>
{#<h3 style="margin-bottom:3px">Name : {{ bank_deposits[0].account_name }} <span></span></h3>#}


</div>





<div style="min-height: 740px">
    <table style="border: 1px solid black; width: 100%; margin-top: 0px ">
        <tr>
            <thead>
            <th style="width: 10%;">Voucher#</th>
            <th style="width: 10%">Date</th>

            <th style="width: 20%">Party Name</th>
            <th style="width: 30%">Remarks</th>
            <th style="width: 10%;">Amount</th>
            </thead>
        </tr>
        {% set amount = 0 %}
        {% for cash_payment in cash_payments %}
            <tr>
                <td style="width: 10%;">{{ cash_payment.VOUCHER_NO }}</td>
                <td style="width: 10%">{{ cash_payment.VOUCHER_DATE|date("m/d/Y") }}</td>

                <td style="width: 15%;"><span style="margin-left: 2px">{{ cash_payment.party_name }}</span></td>
                <td  style="width: 25%">{{ cash_payment.DESCRIPTION }}</td>
                <td  style="width: 15%; "><span style="float: right">{{ cash_payment.AMOUNT }}</span></td>
                {% set amount = ( amount | default(0) ) + cash_payment.AMOUNT %}
            </tr>
        {% endfor %}

    </table>
    <div style="float: left; ">

        <br><br>
        <!-- <p style="margin-top: 0px">Amount In Words : <span id="amount_words"> </span> only</p> -->
    </div>


    <div style="margin-left: 68%">

        <h3 style="margin-top: 3px;  padding-bottom: 3px; padding-top: 12px; margin-left: 80px;"> Total : {{ amount }}</h3>
    </div>




</div>




<h4 style="text-align: center ">Copyright : Tech Track</h4>
<script>

    window.onload = function () {
        window.print();
    }

</script>
</body>
</html>
