<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>

    <title></title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

<div >
    <div style="display: inline-block; width: 70%"><h1 style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px"><span></span></h1>

        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px"><span> {{ session.contact }} </span></h4>
        <h4 style="margin-top: 0px; margin-left: 10px"><span> {{ session.email }} </span></h4>

    </div>

    <img  src="/../static/img/{{ session.logo }}" width="80px" height="80px" style="margin-top: 15px;">

</div>





<div style="margin-left: 68%;margin-top:-80px">
    <table style="border: 1px solid black; width: 100%; min-height:90px; margin-bottom: 8px; margin-top:10px ">
        <tr>

        </tr>
    </table>
</div>

<p style="align-content:center "><center><h2>Sale Invoice Missing Party Ledger Report</h2></center></p>
<h2></h2>

{#<h3 style="margin-bottom:3px">Name : {{ bank_deposits[0].account_name }} <span></span></h3>#}
<h3></h3>
</div>





<div style="min-height: 740px">
    <table style="border: 1px solid black; width: 100%; margin-top: 0px ">
        <tr>
            <thead>

            <th style="width: 7%; ">Inv<br> #</th>

            <th style="width: 10%; ">Party Name</th>
            <th style="width: 8%;">Date</th>

            <th style="width: 7%;">Payment Type</th>
            <th style="width: 10%;">Total</th>
            </thead>
        </tr>

        {% for sale_invoice in sales %}

            <tr>
                <td style="text-align:center"><span style="">{{ sale_invoice.invoice_number }}</span></td>
                <td style="text-align:center"><span style="">{{ sale_invoice.p_name }}</span></td>
                <td style="text-align:center">{{ sale_invoice.invoice_date|date("m/d/Y") }}</td>


                <td>{{ sale_invoice.payment_type }}</td>
                <td style="text-align:right" class="money">{{ sale_invoice.net_amount }}</td>

            </tr>

        {% endfor %}

    </table>
    <div style="float: left; ">

        <br><br>
        <!-- <p style="margin-top: 0px">Amount In Words : <span id="amount_words"> </span> only</p> -->
    </div>






</div>




<h4 style="text-align: center ">Copyright : Tech Track</h4>

<script type="text/javascript">

    $('.money').mask("#,###", {reverse: true});



</script>

<script>

    window.onload = function () {
        window.print();
    }

    $.ajax({
        'type':'Get',
        'url':"/account_head/get_logo",
        success:function(response){

            $('#logo2').attr("src","../static/img/"+response);
        }
    });

</script>
</body>
</html>
