<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>



    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/purchase_form_i/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" >Add Purchase Form I</span></button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" >Purchase Form I list</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10%">Invoice #</th>
                                <th style="width: 20%" >Party Name</th>
                                <th style="width: 10%" class="lang" key="date">Date</th>
                                <th style="width: 10%">Form Number</th>
                                <th style="width: 10%"> MT</th>
                                <th style="width: 10%">Dollar Amount</th>
                                <th style="width: 10%">Dollar Rate</th>
                                <th style="width: 10%">Total Rate</th>


                                <th class="lang"  key="view" style="width: 10%">View</th>


                            </tr>
                            </thead>
                            {% for sale in sales %}
                                <tr>


                                    <td>{{ sale.transaction_number }}</td>

                                    <td>{{ sale.p_name }}</td>

                                    <td>{{ sale.date|date("m/d/Y") }}</td>
                                    <td><span style="float: right">{{ sale.form_number }}</span></td>
                                    <td><span style="float: right">{{ sale.mt }}</span></td>
                                    <td><span style="float: right">{{ sale.party_amount }}</span></td>
                                    <td><span style="float: right">{{ sale.party_rate}}</span></td>
                                    <td><span style="float: right">{{ sale.total_party_amount }}</span></td>
                                    <td> <a  href="/purchase_form_i/edit/{{ sale.id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                        <a target="_blank" href="/purchase_form_i/print/{{ sale.id }}" class="btn btn-primary"><i class="fa fa-print"></i></a>
                                   </td>
                                </tr>
                            {% endfor %}



                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>






    {#<script type="text/javascript">#}

        {#$('.money').mask("#,###", {reverse: true});#}
        {#$('.money').css('float','right');#}


    {#</script>#}

<script>
        $(document).ready(function() {
            $('#example').DataTable( {
  "ordering": false
});
        });
    </script>



{% endblock middle %}
</body>
</html>