<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}
    <style>
        .bld {font-weight:bold;}
    </style>

    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/sale_invoice/print/{{ sale_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {#<h1>The session value is : {{ session.name }}</h1>#}

    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Add Balance Sheet</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/hawala_cash_closing/store" method="post">
                <div class="box-body">
                   <div class="row">


                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="lang" key="date">Invoice Number</label>
                        <input name="invoice_number" type="text" style="font-size: 17px; font-weight: bold" required="required" readonly class="form-control" value="{{ invoice_number }}">

                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="lang" key="date">Date</label>
                        <input name="date" type="date" required="required" id="theDate" class="form-control" value="{{ now|date("m/d/Y") }}">
                    </div>

                    <div class="col-md-4">

                    </div>
                   </div>
                    <div class="row">
                        <div align="center"><h3>Cash In Hand</h3></div>

                        <div class="form-group col-md-12">
                            <div class="table-responsive m-t">
                                <table class="table table-bordered">
                                    <thead style="background-color: #2196f3; color: white">
                                    <tr class="tr_clone">
                                        <th style="width: 15%;">Name</th>
                                        <th style="width: 15%;">Balance</th>
                                        <th style="width: 15%;">Exchange Rate</th>
                                        <th style="width: 15%;">Action</th>
                                        <th style="width: 20%;">Total</th>
                                    </tr>

                                    </thead>
                                    <tbody id="purbody">
                                    {% for cash in cash_in_hand %}
                                       <tr>
                                           <td>
                                               <input class="form-control"   type="text" readonly value="{{ cash.currency_name }}">
                                               <input class="form-control"   type="hidden" readonly name="cash_in_hand_currency_id[]" value="{{ cash.currency_id }}">
                                           </td>
                                           <td><input class="form-control cash_in_hand_balance" readonly type="text" name="cash_in_hand_balance[]" value="{{ cash.BALANCE|round(3, 'floor')  }}"></td>
                                           <td><input class="form-control cash_in_hand_exchange_rate"  type="text" name="cash_in_hand_exchange_rate[]" value="0"></td>
                                           <td>
                                               <select class="form-control cash_in_hand_symbol" name="cash_in_hand_symbol[]">
                                                   <option value="M">Multiplication</option>
                                                   <option value="D">Division</option>

                                               </select>
                                           </td>
                                           <td><input class="form-control cash_in_hand_total"  readonly type="text" name="cash_in_hand_total[]" value="0"></td>

                                       </tr>

                                    {% endfor %}

                                      <tr>
                                          <td>

                                          </td>
                                          <td>

                                          </td>
                                          <td>

                                          </td>
                                          <td>

                                          </td>
                                          <td>
                                              <label>Total</label>
                                              <input type="text" name="cash_in_hand_grand_total" value="0" readonly class="cash_in_hand_grand_total form-control" style="float: right; width: 70%;" >

                                          </td>

                                      </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div align="center"><h3>Receivable</h3></div>

                        <div class="form-group col-md-12">
                            <div class="table-responsive m-t">
                                <table class="table table-bordered">
                                    <thead style="background-color: #2196f3; color: white">
                                    <tr class="tr_clone">
                                        <th style="width: 15%;">Name</th>
                                        <th style="width: 15%;">Balance</th>
                                        <th style="width: 15%;">Exchange Rate</th>
                                        <th style="width: 15%;">Action</th>

                                        <th style="width: 20%;">Total</th>
                                    </tr>

                                    </thead>
                                    <tbody id="purbody">
                                    {% for receivable in receivables %}
                                      {% if(receivable.balance)>0 %}
                                        <tr>
                                            <td>
                                                <input class="form-control"   type="text" readonly value="{{ receivable.currency_name }}">
                                                <input class="form-control"   type="hidden" readonly name="receivable_currency_id[]" value="{{ receivable.currency_id }}">
                                            </td>
                                            <td><input class="form-control receivable_balance" readonly type="text" name="receivable_balance[]" value="{{ receivable.balance|round(3, 'floor')  }}"></td>
                                            <td><input class="form-control receivable_exchange_rate"  type="text" name="receivable_exchange_rate[]" value="0"></td>
                                            <td>
                                                <select class="form-control receivable_symbol" name="receivable_symbol[]">
                                                    <option value="M">Multiplication</option>
                                                    <option value="D">Division</option>

                                                </select>
                                            </td>
                                            <td><input class="form-control receivable_total"  readonly type="text" name="receivable_total[]" value="0"></td>

                                        </tr>
                                         {% endif %}
                                    {% endfor %}

                                    <tr>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>

                                        <td>
                                            <label>Total</label>
                                            <input type="text" name="receivable_grand_total" value="0" readonly class="receivable_grand_total form-control" style="float: right; width: 70%;" >

                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div align="center"><h3>Payabale</h3></div>

                        <div class="form-group col-md-12">
                            <div class="table-responsive m-t">
                                <table class="table table-bordered">
                                    <thead style="background-color: #2196f3; color: white">
                                    <tr class="tr_clone">
                                        <th style="width: 15%;">Name</th>
                                        <th style="width: 15%;">Balance</th>
                                        <th style="width: 15%;">Exchange Rate</th>
                                        <th style="width: 15%;">Action</th>
                                        <th style="width: 20%;">Total</th>
                                    </tr>

                                    </thead>
                                    <tbody id="purbody">
                                    {% for receivable in receivables %}
                                        {% if(receivable.balance)<0 %}
                                            <tr>
                                                <td>
                                                    <input class="form-control"   type="text" readonly value="{{ receivable.currency_name }}">
                                                    <input class="form-control"   type="hidden" readonly name="payable_currency_id[]" value="{{ receivable.currency_id }}">
                                                </td>
                                                {% set count = receivable.balance*(-1) %}
                                                <td><input class="form-control payable_balance" readonly type="text" name="payable_balance[]" value="{{ count|round(3, 'floor') }}"></td>
                                                <td><input class="form-control payable_exchange_rate"  type="text" name="payable_exchange_rate[]" value="0"></td>
                                                <td>
                                                    <select class="form-control payable_symbol" name="payable_symbol[]">
                                                        <option value="M">Multiplication</option>
                                                        <option value="D">Division</option>

                                                    </select>
                                                </td>
                                                <td><input class="form-control payable_total"  readonly type="text" name="payable_total[]" value="0"></td>

                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                    <tr>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>

                                        <td>

                                        </td>
                                        <td>
                                            <label>Total</label>
                                            <input type="text" name="payable_grand_total" value="0" readonly class="payable_grand_total form-control" style="float: right; width: 70%;" >

                                        </td>




                                    </tr>


                                    <tr>
                                        <td>

                                        </td>



                                        <td>

                                        </td>
                                        <td>
                                            <label>Net Total</label>
                                            <input type="text" name="net_grand_total" value="0" readonly class="net_grand_total form-control" style="float: right; width: 100%;" >

                                        </td>
                                        <td>

                                        </td>




                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>





                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                </div>
            </form>
        </div>


    </div>



    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        $(document).ready(function(){
            {% if sale_id is empty %}
            {% else %}
            $('#myModal2').modal('show');
            {% endif %}
        });
    </script>

    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>
    <script>
        $(document).ready(function(){
            $('body').on('input','.cash_in_hand_exchange_rate',function(){
             var exchange_rate=$(this).val();
                var row = $(this).closest('tr');
              var balance= row.find($('.cash_in_hand_balance')).val();
              var symbol= row.find($('.cash_in_hand_symbol')).val();

                if(symbol=='M'){
                    var total=(parseFloat(exchange_rate)*parseFloat(balance)).toFixed(2);
                    row.find($('.cash_in_hand_total')).val(total);
                }
                else{
                    var total=(parseFloat(balance)/parseFloat(exchange_rate)).toFixed(2);
//                    alert(total);
                    row.find($('.cash_in_hand_total')).val(total);
                }


                var sum = 0;
                $("input[class *= 'cash_in_hand_total']").each(function(){
                    sum += +$(this).val();
                });

                $('.cash_in_hand_grand_total').val(sum).toFixed(2);
                calculate();
            });


            $('body').on('change','.cash_in_hand_symbol',function(){
                var symbol=$(this).val();


                var row = $(this).closest('tr');
                var balance= row.find($('.cash_in_hand_balance')).val();
                var exchange_rate= row.find($('.cash_in_hand_exchange_rate')).val();

                if(symbol=='M'){
                    var total=(parseFloat(exchange_rate)*parseFloat(balance)).toFixed(2);
                    row.find($('.cash_in_hand_total')).val(total);
                }
                else{
                    var total=(parseFloat(balance)/parseFloat(exchange_rate)).toFixed(2);
//                    alert(total);
                    row.find($('.cash_in_hand_total')).val(total);
                }


                var sum = 0;
                $("input[class *= 'cash_in_hand_total']").each(function(){
                    sum += +$(this).val();
                });

                $('.cash_in_hand_grand_total').val(sum).toFixed(2);;
                calculate();


            });

            $('body').on('input','.receivable_exchange_rate',function(){
                var exchange_rate=$(this).val();
                var row = $(this).closest('tr');
                var balance= row.find($('.receivable_balance')).val();
                var symbol= row.find($('.receivable_symbol')).val();
                if(symbol=='M'){
                    var total=(parseFloat(exchange_rate)*parseFloat(balance)).toFixed(2);
                    row.find($('.receivable_total')).val(total);
                }
                else{
                    var total=(parseFloat(balance)/parseFloat(exchange_rate)).toFixed(2);
                    row.find($('.receivable_total')).val(total);
                }





                var sum = 0;
                $("input[class *= 'receivable_total']").each(function(){
                    sum += +$(this).val();
                });

                $('.receivable_grand_total').val(sum);
                calculate();
            });


            $('body').on('change','.receivable_symbol',function(){
                var symbol=$(this).val();


                var row = $(this).closest('tr');
                var balance= row.find($('.receivable_balance')).val();
                var exchange_rate= row.find($('.receivable_exchange_rate')).val();

                if(symbol=='M'){
                    var total=(parseFloat(exchange_rate)*parseFloat(balance)).toFixed(2);
                    row.find($('.receivable_total')).val(total);
                }
                else{
                    var total=(parseFloat(balance)/parseFloat(exchange_rate)).toFixed(2);
                    row.find($('.receivable_total')).val(total);
                }





                var sum = 0;
                $("input[class *= 'receivable_total']").each(function(){
                    sum += +$(this).val();
                });

                $('.receivable_grand_total').val(sum);
                calculate();


            });


            $('body').on('input','.payable_exchange_rate',function(){
                var exchange_rate=$(this).val();
                var row = $(this).closest('tr');
                var balance= row.find($('.payable_balance')).val();
                var symbol= row.find($('.payable_symbol')).val();

                if(symbol=='M'){
                    var total=(parseFloat(exchange_rate)*parseFloat(balance)).toFixed(2);
                    row.find($('.payable_total')).val(total);
                }
                else{
                    var total=(parseFloat(balance)/parseFloat(exchange_rate)).toFixed(2);
                    row.find($('.payable_total')).val(total);
                }


                var sum = 0;
                $("input[class *= 'payable_total']").each(function(){
                    sum += +$(this).val();
                });

                $('.payable_grand_total').val(sum);
                calculate();
            });

            $('body').on('change','.payable_symbol',function(){
                var symbol=$(this).val();


                var row = $(this).closest('tr');
                var balance= row.find($('.payable_balance')).val();
                var exchange_rate= row.find($('.payable_exchange_rate')).val();

                if(symbol=='M'){
                    var total=(parseFloat(exchange_rate)*parseFloat(balance)).toFixed(2);
                    row.find($('.payable_total')).val(total);
                }
                else{
                    var total=(parseFloat(balance)/parseFloat(exchange_rate)).toFixed(2);
                    row.find($('.payable_total')).val(total);
                }


                var sum = 0;
                $("input[class *= 'payable_total']").each(function(){
                    sum += +$(this).val();
                });

                $('.payable_grand_total').val(sum);
                calculate();

            });


            function calculate(){
               var cash_in_hand_grand_total = $('.cash_in_hand_grand_total').val();
               var receivable_grand_total = $('.receivable_grand_total').val();
               var payable_grand_total = $('.payable_grand_total').val();
//                alert(parseInt(cash_in_hand_grand_total)+parseInt(receivable_grand_total));
                var total=(parseInt(cash_in_hand_grand_total)+parseInt(receivable_grand_total))-parseInt((payable_grand_total));
                $('.net_grand_total').val(total).toFixed(2);
            }
        });
    </script>
{% endblock middle %}


</body>
</html>