<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>#}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/hawala_cash_closing/print/{{ sale_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>

    {% if(messages is not empty) %}
    <div class="alert alert-success">
        <p style="text-align: center; font-size:15px"><b>{{ messages }}</b></p>
    </div>

    {% endif %}

    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/hawala_cash_closing/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span>Add Balance Sheet</span></button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Hawala Balance Sheet List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table  class="table table-bordered table-striped">


                            <thead>
                            <tr>

                                <th>Hawala Number</th>
                                <th>Date</th>
                                {#<th>Customer Type</th>#}
                                <th>Total Amount </th>
                                {#<th>Total Payment</th>#}
                                {% if(role=='Admin') or (role=='manager') %}
                                    <th   style="width: 3%">Print</th>
                                {% endif %}
                                {#{% if(role=='Admin') or (role=='manager') %}#}
                                    {#<th class="lang" key="edit"  style="width: 3%">Edit</th>#}
                                {#{% endif %}#}
                                {% if(role=='Admin')  %}
                                    <th class="lang" key="delete"  style="width: 3%">Delete</th>
                                {% endif %}

                            </tr>
                            </thead>

                            {% for hawala in hawalas %}
                                <tr>


                                    <td>{{ hawala.invoice_number }}</td>
                                    <td>{{ hawala.date|date("m/d/Y") }}</td>
                                    {#<td>{{ hawala.customer_type }}</td>#}




                                    <td>{{ hawala.net_grand_total }}</td>
                                    {#<td class="money2"><span style="float: right">{{ hawala.total_payment }}</span></td>#}
                                    {% if(role=='Admin') or (role=='manager') %}
                                        <td><a target="_blank" href="/hawala_cash_closing/print/{{ hawala.cash_closing_master }}" class="btn btn-primary"><i class="fa fa-print"></i></a></td>
                                    {% endif %}
                                    {#{% if(role=='Admin') or (role=='manager') %}#}
                                        {#<td><a target="_blank" href="/hawala_cash_closing/edit/{{ hawala.cash_closing_master }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>#}
                                    {#{% endif %}#}
                                    {% if(role=='Admin')  %}
                                        <td><a  href="/hawala_cash_closing/delete/{{ hawala.cash_closing_master_id }}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                    {% endif %}




                                </tr>
                            {% endfor %}

                            <tbody>


                            </tbody>


                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        $(document).ready(function() {
            $('#example').DataTable({
  "ordering": false
});
        });
    </script>

    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});



    </script>


    <script>
        $(document).ready(function(){

            {% if sale_id is empty %}
            {% else %}
            $('#myModal2').modal('show');
            {% endif %}
        });
    </script>

{% endblock middle %}
</body>
</html>