<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {#<h1>The session value is : {{ session.name }}</h1>#}
    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Edit Real Estate Cash Receive</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/realestate_cashreceive/update" method="post">
                <input type="hidden" name="id" value="{{ record[0].VOUCHER_ID }}">
                <div class="box-body">


                    <div class="row">
                        <div class="form-group col-md-4">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Registration Number</label>
                            <input type="text"  value="{{ record[0].registration_number }}" name="registration_number" class="form-control" style="font-size: 18px;font-weight: bold; color: #008000">
                        </div>

                        <div class="form-group col-md-4">
                        </div>
                    </div>


                    <div class="form-group col-md-4">
                        <input type="hidden" name="id" value="{{ record[0].VOUCHER_ID }}">
                        <label for="exampleInputEmail1">Voucher Number</label>
                        <input type="text" readonly="readonly" value="{{ record[0].VOUCHER_NO }}" name="voucher_no" class="form-control" style="font-size: 18px;font-weight: bold; color: #008000">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="lang" key="date">Date</label>
                        <input name="voucher_date" type="date" required="required" id="theDate" class="form-control" value="{{ now|date("m/d/Y") }}">
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" >
                            <label for="exampleInputEmail1"  class="lang" key="time">Time</label>
                            <input name="time" style="font-weight: bold; color: green;font-size: 19px"  readonly type="timer" value="" class="form-control" id="timer">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" >
                            <label for="exampleInputEmail1" class="lang" key="parties">Parties</label>
                            <select id="party_id" class="form-control selectpicker" data-live-search="true" name="party_id">
                                <option value="">Select Party</option>
                                {% for party in parties %}
                                    {% if party.TYPE == 'C' %}
                                        {% if(party.PARTY_ID==record[0].PARTY_ID) %}
                                            <option value="{{ party.PARTY_ID }}" selected> {{ party.NAME }} <b> (Customer)</b></option>
                                        {% else %}
                                            <option value="{{ party.PARTY_ID }}"> {{ party.NAME }} <b> (Customer)</b></option>
                                        {% endif %}

                                    {% else %}
                                        {% if(party.PARTY_ID==record[0].PARTY_ID) %}
                                            <option value="{{ party.PARTY_ID }}" selected> {{ party.NAME }} <span style="font-weight: bold">(Vendor)</span></option>
                                        {% else %}
                                            <option value="{{ party.PARTY_ID }}"> {{ party.NAME }} <span style="font-weight: bold">(Vendor)</span></option>
                                        {% endif %}


                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1" class="lang" key="amount">Amount</label>
                        <input type="text" name="amount" value="{{ record[0].AMOUNT }}" class="form-control" required="required" placeholder="Enter Amount Here">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Manual Number</label>
                        <input name="manual_no" type="text"  class="form-control" placeholder="Enter Manual Number">
                    </div>



                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="lang" key="last balance">Last Balance</label>
                        <input style="color: red; font-weight: bold; font-size: 19px" readonly id="last_balance" type="text" name="last_balance" class="form-control">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Payment Type</label>
                        <select class="form-control payment_type"  name="payment_type">
                            <option>Select Payment Type</option>
                            <option value="cash">Cash</option>
                            <option value="bank">Bank</option>


                        </select>
                    </div>

                    <div id="cheque_number_div" class="form-group col-md-4" style="display: none">
                        <label for="exampleInputPassword1">Cheque Number</label>
                        <input   name="cheque_number" type="text"  placeholder="Enter Cheque Number Here" class="form-control">

                    </div>


                    <div class="col-md-4" id="bank_div" style="display: none" >
                        <div class="form-group" >
                            <label for="exampleInputEmail1">Banks</label>
                            <select id="account_id"  class="form-control selectpicker" data-live-search="true" name="account_id">
                                <option value="">Select Bank</option>
                                {% for bank in banks %}
                                    <option value="{{ bank.ACCOUNT_ID }}"> {{ bank.NAME }}</option>

                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div id="cash_in_hande_div" class="form-group col-md-4" style="display: none">
                        <label for="exampleInputPassword1">Cash in Bank</label>
                        <input type="text" style="color: red; font-weight: bold; font-size: 19px" readonly id="cash_in_hande" name="cash_in_hand" class="form-control">
                    </div>


                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" class="lang" key="description">Description</label>
                        <textarea style="height: 130px" name="description" class="form-control">{{ record[0].DESCRIPTION }}</textarea>
                    </div>





                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                </div>
            </form>
        </div>


    </div>



    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>

    <script>
        $(document).ready(function(){
            $('#party_id').on('change',function(){

                var party_id=$(this).val();
                $.ajax({
                    'type':'Get',
                    'url':"/voucher_cashreceive/getlastbalance"+ "/"+ party_id,
                    success:function(response){
                        $('#last_balance').val(response)
                    }
                });

            });
            var party_id=$('#party_id').val();
            $.ajax({
                'type':'Get',
                'url':"/voucher_cashreceive/getlastbalance"+ "/"+ party_id,
                success:function(response){
                    $('#last_balance').val(response)
                }
            });

            $('body').on('change','.payment_type',function(){
                var val=$(this).val();
                if(val=='cash'){
                    $('#cheque_number_div').hide();
                    $('#bank_div').hide();
                    $('#cash_in_hande_div').hide();
                }
                else{
                    $('#cheque_number_div').show();
                    $('#bank_div').show();
                    $('#cash_in_hande_div').show();
                }
            });

            $('#account_id').on('change',function(){
                var account_id=$(this).val();
                $('#cash_in_hande').val('');
                $.ajax({
                    'type':'Get',
                    'url':"/voucher_bankwithdraw/get_cash_in_hand"+ "/"+ account_id,
                    success:function(response){
                        $('#cash_in_hande').val(response)
                    }
                });

            });
        });
    </script>

{% endblock middle %}


</body>
</html>