<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}

{% block middle %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/realestate_cashreceive/print/{{ success }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>

    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/realestate_cashreceive/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add New</button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"><span class="lang" key="cash receive">Cash Receive</span></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th >Voucher # </th>
                                <th style="width: 10%;">Registration Number</th>
                                <th class="lang" key="party name">Party Name</th>
                                <th >Bank Name</th>
                                <th class="lang" key="date">DATE</th>
                                <th class="lang" key="amount">AMOUNT</th>


                                <th class="lang" key="description">DESCRIPTION</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for receive in receives %}
                                <tr>
                                    <td>{{ receive.VOUCHER_NO }}</td>
                                    <td style="width: 10%;">{{ receive.registration_number }}</td>
                                    {% if receive.p_type=='C' %}
                                        <td>{{ receive.p_name }}(customer) </td>
                                    {% else %}
                                        <td>{{ receive.p_name }}(Voucher) </td>
                                    {% endif %}
                                    <td>{{ receive.b_name }}</td>
                                    <td>{{ receive.VOUCHER_DATE|date("m/d/Y") }}</td>
                                    <td style="float: right">{{ receive.AMOUNT }}</td>

                                    <td>{{ receive.DESCRIPTION }}</td>

                                    <td>
                                        {#<a class="btn btn-warning" href="/realestate_cashreceive/edit/{{receive.VOUCHER_ID }}"><i class="glyphicon glyphicon-pencil"></i></a>#}
                                        <a target="_blank" class="btn btn-primary" href="/realestate_cashreceive/print/{{receive.VOUCHER_ID }}"><i class="fa fa-print"></i></a>
                                        {#<a class="btn btn-danger" href="/realestate_cashreceive/delete/{{receive.VOUCHER_ID }}"><i class="fa fa-trash"></i></a>#}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>


    <script>
        $(document).ready(function(){
            {% if(success is not empty) %}
            var successmessage={{ success }};
            $('#myModal2').modal('show');

            {% endif %}
        });
    </script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
  "ordering": false
});
        
    } );
</script>
{% endblock middle %}

</body>
</html>