<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style type="text/css">
     hr {margin-top: 0.1em;
  margin-bottom: 0.1em;
 
 height:0px;
 
}
        label {text-align: left;}
        .col-sm-2{padding-right: 0px}
        .container {
            overflow-wrap: break-word;
        }
        #t{margin-top: 7px}
    </style>

</head>
<body>
<br><br><br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center;">Cash  RECEIPT</h3>
        </div>
        <hr>
        <div class="card-body">
            <form action="" method="">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label" >Registration No : </label>
            <div class="col-sm-10" id="t">
                <span><u>{{ vouchers[0].registration_number }}</u></span>
            </div>
        </div>
    <hr>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label" >Reciept No : </label>
            <div class="col-sm-3" id="t">
                <span><u>{{ vouchers[0].VOUCHER_NO }}</u></span>
            </div>
            <div class="col-sm-4"></div>
            <label for="staticEmail" class="col-sm-1 col-form-label" >Date : </label>
            <div class="col-sm-2" id="t">
                <span><u>{{ vouchers[0].VOUCHER_DATE|date("m/d/Y") }}</u></span>
            </div>
        </div>
<hr>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label" >Received with Thanks from Mr /Mrs /Miss : </label>
            <div class="col-sm-8" id="t">
                <span><u>{{ vouchers[0].party_name}}</u></span>
            </div>
        </div>
<hr>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label" > S/o,D/o,W/0 : </label>
            <div class="col-sm-10" id="t">
                <span><u>{{ vouchers[0].father_name}}</u></span>
            </div>
        </div>
<hr>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label" >a sum of Rupees : </label>
            <div class="col-sm-10" id="t">
                <span><u>{{ vouchers[0].AMOUNT}}</u></span>
            </div>
        </div>
<hr>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-5 col-form-label" >in Cash/Cheque/Pay Order/Bank Draft No : </label>
            <div class="col-sm-4" id="t">
                <span><u>
                        {% if(vouchers[0].cheque_number=="") %}
                            {{ vouchers[0].VOUCHER_NO }}
                        {% else %}
                            {{ vouchers[0].cheque_number }}
                        {% endif %}
                </u></span>
            </div>

        </div>
<hr>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label" >Drawn Bank : </label>
            <div class="col-sm-4" id="t">
                <span><u>

                        {% if(vouchers[0].b_name=="") %}

                        {% else %}
                            {{ vouchers[0].b_name }}
                        {% endif %}

                </u></span>
            </div>
            
            {#<label for="staticEmail" class="col-sm-2 col-form-label" >On Account of : </label>#}
            {#<div class="col-sm-2" id="t">#}
                {#<span><u>abckdjhdu</u></span>#}
            {#</div>#}
        </div>
    
        <div class="row"><!-- row start -->
            <div class="col-sm-6">
                <input type="" name=""  value=" Plot No : {{ vouchers[0].plot_number  }}" class="form-control">
            </div>
            <div class="col-sm-6">
                <input type="" name=""  value=" Street No : {{ vouchers[0].street_no  }}" class="form-control">
            </div>



            <div class="col-sm-6" style="margin-top: 13px">
                <input type="" name="" value="Block : {{ vouchers[0].block  }}" class="form-control">
            </div>
            <div class="col-sm-6" style="margin-top: 13px">
                <input type="" name="" value="Size : {{ vouchers[0].length_width  }}" class="form-control">
            </div>
        </div><!-- row end -->

        <div class="row" style="margin-top: 13px;">
            <div class="col-sm-4">Type : </div>
            <div class="col-sm-8">
			      	<span>
				        <label class="radio-inline" >
                            <input type="radio" name="optradio" > Commercial
                        </label>
				    </span>
				    <span style="padding-left: 70px">
					    <label class="radio-inline">
                            <input type="radio" name="optradio" checked> Residential
                        </label>
				    </span>
            </div>
        </div>
<hr>


        <div class="form-group row">
            <label for="staticEmail" class="col-sm-1 col-form-label" ><h2 style="font-weight: bold">Rs.</h2> </label>
            <div class="col-sm-4" style="margin-top: 20px">
                <span><u>{{ vouchers[0].AMOUNT}}</u></span>
            </div>

            <div class="col-sm-4"></div>

            <div class="col-sm-3" style="margin-top: 26px">
                {#<span> For : <strong>Peshwar Enclave</strong></span>#}
            </div>

        </div>
<hr>



    </form>
        </div>
    </div>
    
   
</div>


</body>

</html>