<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}

{% block middle %}
    <!-- jQuery library -->
    <!-- Latest compiled JavaScript -->

    <section class="content">
        <a href="/purchase_return/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add New</button></a>
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Purchase Return</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Invoice Number</th>
                                <th>Date</th>
                                <th>Payment Type</th>
                                <th>Discount</th>
                                <th>Total</th>
                                <th>Action</th>

                            </tr>
                            </thead>

                            <tbody>
                            {% for return in returns %}
                                <tr>
                                    {% if return.p_name is empty %}
                                        <td>{{ return.customer_name }}</td>
                                    {% else %}
                                        <td>{{ return.p_name }}</td>
                                    {% endif %}

                                    <td>{{ return.invoice_number }}</td>

                                    <td>{{ return.invoice_date|date("m/d/Y") }}</td>
                                    <td>{{return.payment_type }}</td>
                                    <td>{{ return.discount }}</td>
                                    <td>{{ return.net_amount }}</td>
                                    <td><a target="_blank" href="/purchase_return/print/{{ return.id }}" class="btn btn-primary"><i class="fa fa-print"></i></a>
                                    {% if(role=='Admin')  %}
                                        <a  href="/purchase_return/edit/{{ return.id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                      <a  href="/purchase_return/delete/{{ return.id }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>

                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>







{% endblock middle %}
</body>
</html>