<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script type="text/javascript">
        var a ='khurram';
        console.log(a);
    </script>
</head>
{% extends "login/head2.twig" %}
{% block middle %}
    <div class="col-sm-12">
        <div class="panel panel-default">

            <div class="panel-heading"  ><h4><b class="lang" key="Hawala Sale Form">Hawala Sale Form</b></h4></div><br>
            <div class="panel-body">

                <form role="form" action="/hawala_sale/store" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <!-- hawaala no -->
                        <div class="col-sm-12" >
                            <label class="col-sm-2 lang" key="invoice">Invoice #</label>
                            <div class="col-sm-3">
                                <input readonly style="color: blue; font-weight: bold; font-size: 20px" value="{{ hawala_number }}" type="text" name="invoice_number" class="form-control" value="" required="required">
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 lang" key="date">Date</label>
                            <div class="col-sm-3">
                                <input type="date" name="date" id="theDate" class="form-control">
                            </div>
                        </div>




                        <!-- Customer type -->
                        <div class="col-sm-12"><br>

                            <label class="col-sm-2 lang" key="time">Time </label>
                            <div class="col-sm-3">
                                <div class="form-group" >

                                    <input name="time" style="font-weight: bold; color: green;font-size: 19px"  readonly type="timer" value="" class="form-control" id="timer">
                                </div>
                            </div>

                            <div class="col-sm-1"></div>

                            <label class="col-sm-2 lang" key="from currency">From Currency </label>
                            <div class="col-sm-3">
                                <select class="form-control" name="from_currency" id="currency_id">
                                    {% for currency in currencies %}
                                        <option value="{{ currency.currencyid }}"> {{ currency.currency_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>



                        </div>
                        <!-- Hawala currrnecy -->
                        <div class="col-sm-12"><br>

                            <label class="col-sm-2 lang" key="to currency">To Currency </label>
                            <div class="col-sm-3">
                                <select class="form-control" name="to_currency" id="currency_id">
                                    {% for currency in currencies %}
                                        <option value="{{ currency.currencyid }}"> {{ currency.currency_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 lang" key="amount">Amount</label>
                            <div class="col-sm-3">
                                <input type="text" name="amount" id="amount" class="form-control" value="0">
                            </div>




                        </div>
                        <div class="col-sm-12"><br>

                            <label class="col-sm-2 lang" key="exchange rate">Exg Rate</label>
                            <div class="col-sm-3">
                                <input type="text" name="exchange_rate" id="exchange_rate" class="form-control" value="0">
                            </div>


                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 lang" key="total amount">Total Amount</label>
                            <div class="col-sm-3">
                                <input style="font-weight: bold; color: green;font-size: 19px" type="text" name="total_amount" id="total_amount" class="form-control" value="0">
                            </div>




                        </div>


                        <!--  -->
                        <div class="col-sm-12"><br>


                            <label class="col-sm-1 lang" key="remarks">Remarks</label>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-9">
                                <textarea name="remarks" rows="4" class="form-control"></textarea>
                            </div>
                        </div>
                        <!--  -->
                    </div>

                    <hr>



                    <div class="col-sm-12">
                        <button style="float: right" class="btn btn-success ">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


    </div>


    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>
    <script>
        $(document).ready(function(){
            $('body').on('input','#amount',function(){
             calculate();
            });
            $('body').on('input','#exchange_rate',function(){
                calculate();
            });
        });
    </script>
    <script>
        function calculate(){

            var amount=$('#amount').val();
            var exchange_rate=$('#exchange_rate').val();
            if(amount==0){
                var net_amount=parseInt(1)*parseInt(exchange_rate);
//            alert(net_amount)
                $('#total_amount').val(net_amount);
            }
            else{
                var net_amount=parseInt(amount)*parseInt(exchange_rate);
//            alert(net_amount)
                $('#total_amount').val(net_amount);
            }
            if(exchange_rate==0){
                var net_amount=parseInt(amount)*parseInt(1);
//            alert(net_amount)
                $('#total_amount').val(net_amount);
            }
            else{
                var net_amount=parseInt(amount)*parseInt(exchange_rate);
//            alert(net_amount)
                $('#total_amount').val(net_amount);
            }



        }
    </script>



{% endblock middle %}
</body>
</html>