<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

    {% if(messages is not empty) %}
    <div class="alert alert-success">
        <p style="text-align: center; font-size:15px"><b>{{ messages }}</b></p>
    </div>

    {% endif %}

    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/hawala_sale/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" key="add hawala sale">Add Hawala Sale</span></button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="Hawala Sale List"> Hawala Sale List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">


                            <thead>
                            <tr>

                                <th class="lang" key="invoice number">Invoice Number</th>
                                <th class="lang" key="date">Date</th>
                                <th class="lang" key="from currency">From Currency </th>
                                <th class="lang" key="to currency">To Currency </th>
                                <th class="lang" key="amount">Amount </th>
                                <th class="lang" key="exchange rate">Exchange Rate</th>
                                <th class="lang" key="total amount">Total Amount </th>
                                {% if(role=='Admin') or (role=='manager') %}
                                    <th class="lang" key="edit"  style="width: 3%">Edit</th>
                                {% endif %}
                                {% if(role=='Admin')  %}
                                    <th class="lang" key="delete"  style="width: 3%">Delete</th>
                                {% endif %}

                            </tr>
                            </thead>

                            <tbody>
                            {% for hawala in hawalas %}
                                <tr>


                                    <td>{{ hawala.invoice_number }}</td>
                                    <td>{{ hawala.date|date("m/d/Y") }}</td>
                                    <td>{{ hawala.from_currency }}</td>
                                    <td>{{ hawala.to_currency }}</td>
                                    <td>{{ hawala.amount }}</td>
                                    <td>{{ hawala.exchange_rate }}</td>

                                    <td class="money2"><span style="float: right">{{ hawala.total_amount }}</span></td>
                                    {% if(role=='Admin') or (role=='manager') %}
                                        <td><a target="_blank" href="/hawala_sale/edit/{{ hawala.transaction_id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
                                    {% endif %}
                                    {% if(role=='Admin')  %}
                                        <td><a  href="/hawala_sale/delete/{{ hawala.transaction_id }}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                    {% endif %}


                                </tr>
                            {% endfor %}

                            </tbody>


                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        $(document).ready(function() {
            $('#example').DataTable({
  "ordering": false
});
        });
    </script>

    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});



    </script>



{% endblock middle %}
</body>
</html>