<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}




    <section class="content">
        <a href="/account_head/bank_add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" key="add bank detail">Add Bank Detail</span></button></a>
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="banks" >Banks</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                <th class="lang" key="Name">Name</th>
                                <th class="lang" key="description">Description</th>
                                <th class="lang" key="opening balance">Opening Balance</th>
                                <th class="lang" key="action">Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for bank in rows %}
                                <tr>

                                    <td>{{ bank.NAME }}</td>
                                    <td>{{ bank.DESCRIPTION }}</td>
                                    <td>{{ bank.OPENING_BALANCE }}</td>
                                    <td>
                                        <a class="btn btn-primary" href="/account_head/bank_edit/{{ bank.ACCOUNT_ID }}"><i class="glyphicon glyphicon-pencil"></i>Edit</a>
                                        {#<a class="btn btn-danger" href="/category/delete/{{ expense.ACCOUNT_ID }}"><i class="glyphicon glyphicon-remove"></i>Delete</a>#}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>




{% endblock middle %}
</body>
</html>