<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}



    <!-- jQuery library -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}

    {#<h1>The session value is : {{ session.name }}</h1>#}
    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Add Payment Mode</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/payment_modes/store" method="post">
                <div class="box-body">
                    {% if messages.notify is not empty  %}
                        <div class="alert alert-success" role="alert">
                            <strong> {{ messages.notify }} </strong>
                        </div>
                    {% endif %}
                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Name</label>
                        <input name="name" type="text"  placeholder="Enter Name here" class="form-control">
                    </div>


                    <div class="form-group col-md-12">





                        <label for="exampleInputEmail1" class="lang" key="category name">Project Name</label>
                        <select class="form-control selectpicker" data-live-search="true" name="project_id">
                            <option>Select Project</option>
                            {% for project in projects %}
                                <option value="{{ project.project_id }}">{{ project.project_name }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Type</label>
                        <select class="form-control"  name="type">
                            <option value="O">Once</option>
                            <option value="M">Monthly</option>
                            <option value="Y">Year</option>
                        </select>
                    </div>










                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: left" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>


    </div>




{% endblock middle %}


</body>
</html>