<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}



    <!-- jQuery library -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}

    {#<h1>The session value is : {{ session.name }}</h1>#}
    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Edit Payment Mode</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/payment_modes/update" method="post">
                {% for plot in record %}
                    <input type="hidden" name="mode_id" value="{{ plot.mode_id }}">
                    <div class="box-body">
                        <div class="form-group col-md-12">
                            {% if messages.notify is not empty  %}
                                <div class="alert alert-success" role="alert">
                                    <strong> {{ messages.notify }} </strong>
                                </div>
                            {% endif %}

                            <label for="exampleInputPassword1">Name</label>
                            <input name="name" value="{{ plot.name }}" type="text"  placeholder="Enter Name here" class="form-control">
                        </div>

                        <div class="form-group col-md-12">




                            <label for="exampleInputEmail1" class="lang" key="category name">Project Name</label>
                            <select class="form-control selectpicker" data-live-search="true" name="project_id">
                                {% for project in projects %}
                                    {% if(project.project_id==plot.project_id) %}
                                        <option value="{{ project.project_id }}" selected>{{ project.project_name }}</option>
                                    {% else %}
                                        <option value="{{ project.project_id }}">{{ project.project_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>


                        <div class="form-group col-md-12">
                            <label for="exampleInputPassword1">Type</label>
                            <select class="form-control"  name="type">
                                <option value="O"{% if plot.type == 'O' %} selected="selected"{% endif %}>O</option>
                                <option value="M"{% if plot.type == 'M' %} selected="selected"{% endif %}>M</option>
                                <option value="Y"{% if plot.type == 'Y' %} selected="selected"{% endif %}>Y</option>

                            </select>
                        </div>















                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button style="float: right" type="submit" class="btn btn-primary">Update Now</button>
                    </div>
                {% endfor %}
            </form>
        </div>


    </div>




{% endblock middle %}


</body>
</html>