<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

<section class="content">
    <div class="row">
        <!-- left column -->
                   
        <div class="col-md-12">
            <div class="panel panel-default">
 
          <div class="panel-heading"  ><h4><b><span class="lang" key="add new floor">Add New Floor</span></b></h4></div>
          <div class="panel-body">
            <div class="col-md-3"></div>
            <div class="col-md-5">
            <form action="/floor/insert" method="post">
              <label class="lang" key="add new floor">Add New Floor</label>
              <input type="text" name="floor" placeholder="Entery New Floor" class="form-control"><br>
              <button class="btn btn-success">Add Floor</button>
            </form>
          </div>
          </div>
      </div>
  </div>

    </div>
        </div>
    </section>

<script type="text/javascript">
    
</script>

{% endblock middle %}
</body>
</html>