<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

<section class="content">
    <div class="row">
        <!-- left column -->
                    <a href="/floor/add"><button class="btn btn-primary" style="float: right; margin-right: 16px"><i class="glyphicon glyphicon-plus"></i><span class="lang" key="Add New floor">Add New Floor</span></button></a>

        <div class="col-md-12"><br>
            <div class="panel panel-default">
 
          <div class="panel-heading"  ><h4><b><span class="lang" key="cities">Floor</span></b></h4></div><br>
          <div class="panel-body">
                                <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                {#<th class="lang" key="id">ID</th>#}
                                <th class="lang" key="city name">Floor</th>
                                <th class="lang" key="edit" style="width: 7%">Edit</th>
                                <th class="lang" key="delete" style="width: 7%">Delete</th>

                            </tr>
                            </thead>
                            <tbody>
                              
                              {% for floor in data %}
                                  <tr>
                                  {#<td>{{ floor.floor_id}}</td>#}
                                  <td>{{ floor.floor_name }}</td>
                                   <td>
                                      <a class="btn btn-warning" href="/floor/edit/{{ floor.floor_id }}"><i class="glyphicon glyphicon-pencil"></i></a>
                                  </td>
                                     <td>
                                          <a class="btn btn-danger" href="/floor/delete/{{ floor.floor_id }}"><i class="glyphicon glyphicon-remove"></i></a>

                                      </td>
                                      {% endfor %}
                              </tr>
                                 
                            </tbody>

                        </table>
                    </div>
          </div>
      </div>
  </div>

    </div>
        </div>
    </section>


<script>
        $(document).ready(function() {
            $('#example').DataTable({
  "ordering": false
});
        });
    </script>

{% endblock middle %}
</body>
</html>