<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/adminhead.twig" %}

{% block middle  %}

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>



    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- LINK TO YOUR LOCAL COPY OF THIS SCRIPT, THIS IS A DEMO ONLY -->
    <script src="//raw.githubusercontent.com/flatlogic/bootstrap-tabcollapse/master/bootstrap-tabcollapse.js"></script>



    <section class="content">

        <div class="row">
            <div class="col-xs-12">



                <div class="box">

                    <ul class="nav nav-tabs content-tabs" id="maincontent" role="tablist">
                        <li class="active"><a href="#home" role="tab" data-toggle="tab">  <div class="box-header">
                                    <h3 class="box-title lang" >Companies List</h3>
                                </div>
                            </a></li>
                        

                    </ul><!--/.nav-tabs.content-tabs -->






                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="tab-content">

                            <div class="tab-pane fade in active" id="home">

                                <table id="example" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Short Name</th>
                                        <th>Email</th>
                                        <th style="width:10%">Exp Date</th>
                                        <th>contact</th>
                                        <th>Logo</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    {% for company in companies %}


                                        <tr>
                                            <td>{{ company.NAME }}</td>
                                            <td>{{ company.SHORT_NAME }}</td>
                                            <td>{{ company.EMAIL }}</td>
                                            <td style="width:10%">{{ company.expiry|date("Y-m-d")}} </td>
                                            <td>{{ company.CONTACT }}</td>
                                            <td><img style="height: 100px; width: 100px;" src="../static/img/{{ company.LOGO_LARGE }}"></td>
                                            <td><a  href="/company/edit_date_update/{{ company.COMPANY_ID }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>

                             </div><!--/.tab-pane -->

                            <div class="tab-pane fade" id="profile">

                                <div id="map" style="margin-top: 5%; margin-bottom: 5%;"></div>
                                <script>
                                    function initMap() {
                                     {% for company in companies %}
                                        var x="{{ company.lat }}";
                                        var y="{{ company.lang }}"
                                        x=parseInt(x);
                                        y=parseInt(y);
                                        var uluru = {lat: x  ,  lng: y };
                                        var map = new google.maps.Map(document.getElementById('map'), {
                                            zoom: 5,
                                            center: uluru
                                        });
                                     {% endfor %}
                                        {% for company in companies %}
                                        var x="{{ company.lat }}";
                                        var y="{{ company.lang }}"
                                        x=parseInt(x);
                                        y=parseInt(y);
                                        var uluru = {lat: x ,  lng: y  }
                                        var marker = new google.maps.Marker({
                                        position: uluru,
                                        map: map,
                                        id:'{{ company.COMPANY_ID }}',
                                        title: '{{ company.SHORT_NAME }}',
                                        lat:'{{ company.lat }}',
                                        lag:'{{ company.lat }}',
                                        address: '{{ company.address }}',
                                        type: '{{ company.type }}'


                                        });
                                        marker.addListener('click', function() {
                                            var lat=(this['lat']);
                                            var id=(this['id']);
                                            var lag=(this['lag']);
                                            var title=(this['title']);
                                            var address=(this['address']);
                                            var type=(this['type']);
                                            $.ajax({
                                                'type':'Get',
                                                'url':"/company/getcompany"+ "/"+ id,
                                                success:function(response){

                                                    $('#title').text(title);
                                                    $('#address').text(address);
                                                    $('#lat').text(lat);
                                                    $('#lag').text(lag);
                                                    $('#type').text(type);
                                                    var $el = $("#tblbody");
                                                    $el.empty();
                                                    $.each(response,function(key,value){
                                                        $el.append("<tr>" +

                                                                '<td><div align="center"><img class="img img-circle" style="width: 150px; height: 150px;" src="/static/img'+'/'+ value.LOGO_LARGE +'"></div>'+

                                                                "</td>"+

                                                                "</tr>")
                                                    });
                                                }
                                            });

                                            $('#myModal').modal('show');
                                        });
                                        {% endfor %}


                                    }
                                </script>
                                <script async defer
                                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2sTxnS9sy-B_UvMRt3Cpqjf-shChqee4&callback=initMap">
                                </script>


                            </div><!--/.tab-pane -->



                        </div><!--/.tab-content -->



                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>

<script>
        $(document).ready(function() {
            $('#example').DataTable({
  "ordering": false
}
);
        });
    </script>

{% endblock middle %}


</body>
</html>