<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/adminhead.twig" %}

{% block middle  %}

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>



    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- LINK TO YOUR LOCAL COPY OF THIS SCRIPT, THIS IS A DEMO ONLY -->
    <script src="//raw.githubusercontent.com/flatlogic/bootstrap-tabcollapse/master/bootstrap-tabcollapse.js"></script>



    <section class="content">

        <div class="row">
            <div class="col-xs-12">



                <div class="box">

                    <ul class="nav nav-tabs content-tabs" id="maincontent" role="tablist">
                        <li class="active"><a href="#home" role="tab" data-toggle="tab">  <div class="box-header">
                                    <h3 class="box-title lang" >Companies List</h3>
                                </div>
                            </a></li>
                        

                    </ul><!--/.nav-tabs.content-tabs -->






                    <!-- /.box-header -->
                    <div class="box-body">
                                        <div class="panel panel-default">
 
          <div class="panel-heading"  ><h4><b><span class="lang" key="edit city">Edit Company Date</span></b></h4></div>
          <div class="panel-body">
            <div class="col-md-2"></div>
            <div class="col-md-6">
              {% for data in data %}
            <form action="/company/update_date" method="post">

              <input type="hidden" name="id" value="{{data.COMPANY_ID}}" class="form-control"><br>
              <label class="lang" key="">Company Name</label>
              <input type="text" name="name" value="{{data.NAME}}" class="form-control" readonly><br>
              <label class="lang" key="">Company Short Name</label>
              <input type="text" name="short_name" value="{{data.SHORT_NAME}}" class="form-control" readonly><br>
              <label class="lang" key="">Company Email</label>
              <input type="text" name="email" value="{{data.EMAIL}}" class="form-control" readonly><br>
              <label class="lang" key="">Company Expiry Date</label>
              <input type="text" name="old_date" value="{{data.expiry|date("Y-m-d")}}" class="form-control" readonly><br>
              <label class="lang" key="">Company New Date</label>
              <input type="date" name="new_date" class="form-control"><br>
              <button class="btn btn-success">Update Company Expiry Date</button>
            </form>
              {% endfor %}
          </div>
          </div>
      </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



{% endblock middle %}


</body>
</html>