@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
 
body{
   
    font-family: 'Montserrat', sans-serif !important;
}
/*navbar--Start*/
.navbar{
    background: #FFAF00;
}

/* EXAMPLE 8 - Center Background */
.navbar-brand img{
  background-repeat: no-repeat;
  background-size: fixed;
  width: 180px;
  top:0%;
  transform: translateX(-50%);
  left: 20%;
  position: absolute;

}
.img-logo
{
    padding-top: 20px;
}
.navbar-nav li a{
    padding-top:30px;
    padding-right: 10px;
    font-size: 14px;
    
    color:white!important;
    text-transform: uppercase;  
}
.navbar-nav li:first-child{
    background: white;;
    padding:0px 5px 15px 7px;
    left: 0%;
    }

.navbar-nav li:first-child a 
{
color: #FFAF00 !important;  
}

#slidein{
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);   /*slide in property*/
  backface-visibility: hidden;
  position: relative;
  transition-property: color;
  transition-duration: 0.6s;    
}
#slidein:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: -15px;
  background-color: white; !important;
  
  transform: scaleY(0);

  transform-origin: 50% 0;
  
  transition-property: transform;

  transition-duration: 0.3s;
 
  transition-timing-function: ease-out;
}
#slidein:hover, .hvr-sweep-to-bottom:active {
  color:  #FFAF00!important; 
    
}
#slidein:hover:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
     color:  #FFAF00!important;
}

  /*-- nav Ends--*/

/*about us*/
.panel-heading{
    color: white !important;
    background:orange!important;
}


/*team-block*/
/*.ourteam{
  margin:50px 0px 80px 0;

}*/

.team-content p{
    font-size: 10px;
}
.team-block 
{
 max-width: 100%;
 transition: all 0.3s;
}
.team-block:hover{
 -moz-transform: scale(1.05);
 -webkit-transform: scale(1.05);
 box-shadow: 3px 3px 3px 3px #EAEAEA; 
 transform: scale(1.05);
   
}
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

    <!-------------------------------end---------------->


     <!------Social--icon--end---->
     
 #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #FFAF00;
  border:1px  solid white;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: white;
    color: #FFAF00;
    border: 1px solid #FFAF00;
}

        
#social {
  margin: 10px 5px;
  text-align: left;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
   /* border:2px solid #ddd;  add border to the buttons */
    border-radius: 10px;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    line-height: 2em;
   
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
      
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
      border-color: #e64522;
}


     <!--end--->
  <!--mainslider--->
.main-slider{
    margin-top:-50px;padding-left:0px;padding-right:0px!mportant;
}
/* ---- button ---- */

<---end---->

section{
    margin-top:50px !important;
    margin-bottom: 20px!important;
border: 1px solid red;
}

.heading{
    text-align: center;
    padding-bottom: 20px;
}
.heading h1{
    padding-bottom:40px;margin-left:22px;
}
.heading span{
    color:#FFAF00;font-weight:bold;border-bottom:3px solid #FFAF00;padding-bottom:4px;
}
.module-item{
    padding-top: 15px;
    padding-bottom: 20px;
}
.space{
    margin-top:50px;
 
}


<!------------slide-hover-on-image------------->


.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}



<!---ends---->


<!--mainslider--->


.item img{
    width: 100%;
    height: auto;
    
}
.overlay {
    position: absolute;
    width: 30%;
    height: 1-%;
    background: rgba(255, 255, 255, 0.5);
    top: 44%;
    left: 35%;
    text-align: center;
    overflow: hidden;
}
.overlay h1 {
    
    padding-left: 20px;
    color: #FFAF00;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.left img {
    position: absolute;
    top: 45%;
    left: 0px;
    
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.right img {
    position: absolute;
    top: 45%;
    right: 0px;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    cursor: pointer;
    background-color: #000
}

.carousel-indicators .active {
    width: 11px;
    height: 11px;
    background-color: #1B1B1B;
}

.carousel-inner .item {
    transition-property: opacity;
}

.carousel-inner .item,
.carousel-inner .active.left,
.carousel-inner .active.right {
    opacity: 0;
}

.carousel-inner .active,
.carousel-inner .next.left,
.carousel-inner .prev.right {
    opacity: 1;
}

.carousel-inner .next,
.carousel-inner .prev,
.carousel-inner .active.left,
.carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.carousel-inner .carousel-control {
    z-index: 2;
}

    
.customNavigation{
  text-align: center;
}


.footer {
    background:#FFAF00;
    color:White;
    padding:50px 0px 20px 0;
    margin-top:50px;margin-bottom:0px!important;
}
.first-content ul{
  margin-top:6px;
  list-style-type:none;
    
}
.footer-content ul{
    list-style-type: none;
}
.footer-content ul li{
    border-bottom:1px dotted #ccc;
    padding-bottom:8px;
    padding-top: 7px !important;
    font-size: 14px;
}
.footer-content h3{
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    
  
    font-weight: 600;
    letter-spacing: .8px;
    color: !important;
 
}
.footer-content ul li:before{
    content:'\203A''\203A';
    padding-right: 4px;
}

.readmore:before{
    content:'\203A''\203A';
    padding-right: 4px;
    
}
#container::before {
    background-color:#FFAF00;
    
    border: 1px solid blue ;
    content: "";
    height: 105%;
    left: -11%;
    position: absolute;
    transform: rotate(158deg);
    width: 118%;
}
#container {
    background-color: whitesmoke;
    border-bottom: 1px solid white;
    color: white;
    height: 588px;
    overflow: hidden;
    width: 1578px;
    position: relative;
    z-index: 1
}
    .diagonal{
        margin-top: 56px;
        
    }
    #container p{
    text-align: center;
    margin-top: 50px;   
    }
   
    .part1 span{
        margin-top: 200px;
    }
      
    @keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
.contactus{
 
    background:#E3E3E4;
  
}
.contactus h1{
    padding-bottom:40px;
    margin-left:22px;
}
.contactus span{
  color:white;font-weight:bold;border-bottom:3px solid #FFAF00;padding-bottom:4px;font-family: 'Lato', sans-serif;
}
{
    border-top-left-radius:10px;border-bottom-left-radius:10px;
}
.input-group{
    border-radius:10px;
}
.input-group span{
   border-top-left-radius:10px;border-bottom-left-radius:10px;
}
.form-control{
    margin-top: 2px;
}

.btn-secondary{
    background:#FFAF00;
    border:1px solid #FFAF00;
    color:white;
    
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
/*  background-color: lightgoldenrodyellow;
    color: #FFAF00;
    border-color: #FFAF00; */
    
    background-color: white;
    color: #FFAF00;
    border-color: #FFAF00;
}
    
.input-group-addon{
    color: white;
    background: #FFAF00;
 
}
/*overlay*/

/*overlay*/
.img-content {
  position: relative;
  width: 300px;
}

.image {
  display: block;
  width: 261px;
  height: 261px;
}

.img-content .overlay {
  position: absolute;
  left: 15px;
  top: 15px;/*
  background-color: #ffa726;*/
    background-color:rgba(255,167,38,.9);
  overflow: hidden;
  width: 231px;
  height: 0px;
  transition:.1s ease;
}
.img-content:hover .overlay {  
  height: 90%;

}

.fa{
    font-size: 17px;
    padding: 24px 5px 24px 5px;
    color: white;

 }
.fa:hover{
    color:black;

 } 

.text  {
  white-space: nowrap; 

  font-size: 18px;
  position: absolute;
  overflow: hidden;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    color: white;
}.text h2 {
  color: black;
    font-size: 18px;
}
.text h6{
    color: white !important;
}
.center-content{
    margin-top: 26%;
}
.member-social{
    background-color:#ffa726;margin:0px 50px;border: 1px solid black;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #FFAF00;
    
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.2);
}
#return-to-top:hover i {
    color: #FFAF00;
    top: 5px;
}

.modules-button{
    width:268px;background-color:#FFAF00;border:1px solid #FFAF00;
    font-size:16px;
    border-radius: 6px;
    padding:5px 8px 5px 8px;
    color: white;
}
/*.btn-info:hover{
    width:268px;background-color:#FFAF00;border:1px solid #FFAF00;
    font-size:14px;
}*/
/*
btn-info:link{
    width:268px;background-color:#FFAF00;border:1px solid #FFAF00;
    font-size:14px;
}
*/

.prev img {
    position: absolute;
    top:100%;
    right:90px;
    width:60px !important;
    height:60px !important;
    border-radius: 10px;
}
.next img {
    position: absolute;
    top:100%;
    right:20px;
    width:60px !important;
    height:60px !important;
    border-radius: 10px;
}
/*
.carousel-control.right img {
    position: absolute;
    top: 45%;
    left: 0px;
    width:20px !important;
    height: 25px !important;
}
*/

/*-----------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width:1200px){
.navbar-nav li a{
    padding-right: 0px;
    }
    .img-logo{
        padding-top: 16px;
    }
}
@media only screen and (max-width:1199px){

    .img-content
    {
  position: relative;
  width: 200px;
    }
}

@media only screen and (max-width:991px){
.navbar-nav li a{
    float:right;
    font-size: 10px;
    padding-right: 5px;
    }
    .navbar-nav {
   
   float: right !important;
}
}
@media only screen and (max-width:817px){
  
  .navbar-nav li a{
    float:right;
    font-size: 8px;
    padding-right: 4px;
    }
    .navbar-nav {
   
   float: right !important;
}
}

}@media only screen and (max-width:786px){
    .navbar{
        padding: 10px 0;
    }
    .navbar-nav li:first-child{
    padding-right: 0px;
        
    }
}
@media only screen and (max-width:767px){
    .navbar{
        padding: 10px 0;
    }
    .navbar-nav li:first-child{
    padding-right: 0px;
        
    }
      .img-logo{
        padding-top: 0px;
    }
    .module-button{
        width: 230px;
    }
}

@media only screen and (max-width:472px){
    .main-slider{
        margin-top: 30px!important;
    }
    #slidein{
        width: 100% !important;
        
    }
      
.navbar-brand {
  padding: 0px;
  transform: translateX(-50%);
  left: 30%;
  top: 0;
  position: absolute;
}
 .navbar-brand>img {
  height: 50px;
     
     
  width: 100px !important;
/*  padding: 60px 14px;*/ 
}
        
	
    
     .navbar-nav li:first-child{
         background: ;
         color: white !important;
         padding:0px;
         border-bottom: 1px solid white;
    
   
}   
        
     
 #slidein:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 10%;
          left: %;
          right: 0;
          bottom: 0%;
          background-color: white !important;
          transform: scaleY(0);
          transform-origin: 50% 0;
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
    
}
 .overlay{
    position: absolute;
    top: 31% !important;
    left: 13% !important;
  width:200px !important;
   
}
    .overlay h1 {
    text-align: center;
    color: #FFAF00 !important;
    font-size: 12px;
 
}
   
    
.carousel-control.left img {
    position: absolute;
    top: 45%;
    left: 0px;
    width:20px !important;
    height: 25px !important;
}.carousel-control.right img {
    position: absolute;
    top: 45%;
    left: 0px;
    width:20px !important;
    height: 25px !important;
}


.img-content {
  position: relative;
  width: 250px;
}

    .img-content .overlay {
  left: 5px!important;
  top:5px!important;
  background-color: rgba(255,167,38.8);
  overflow: hidden;
  width: 95%!important;
  height: 0px;
}
.img-content:hover .overlay {  
  height: 95%;

}
.image {
  width: 250px;
  height: 250px;
}

.space{
    margin-top:10px;
 
}
  .heading{
    text-align: center;
    padding-bottom: 20px;
}
.heading h1{
    padding-bottom:20px;margin-left:11px;
    font-size: 18px;
}
.heading span{
    color:#FFAF00;font-weight:bold;border-bottom:3px solid #FFAF00;padding-bottom:4px;
    font-size: 18px;
}
    .msg{
        padding-top:20px;
    }
    
    .prev img {
    position: absolute;
    top:90%;
    right:100px;
    width:30px !important;
    height:30px !important;
    border-radius: 10px;
}
.next img {
    position: absolute;
    top:90%;
    right:60px;
    width:30px !important;
    height:30px !important;
    border-radius: 10px;
}
    .modules-button{
        width: 250px !important;
        
    }
}