<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->



    <section class="content">
        <a href="/damages/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" key="add new">Add New</span></button></a>
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="Damages List">Damages List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                <th class="lang" key="invoice number">Invoice Number</th>
                                <th class="lang" key="date">Date</th>

                                <th class="lang" key="total">Total</th>


                            </tr>
                            </thead>



                            <tbody>

                            {% for damage in damages %}
                                <tr>


                                    <td>{{ damage.invoice_number }}</td>
                                    <td>{{ sale.invoice_date|date("m/d/Y") }}</td>
                                    <td class="money2"><span style="float: right">{{ damage.net_amount }}</span></td>


                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>




<script>
        $(document).ready(function() {
            $('#example').DataTable({
  "ordering": false
});
        });
    </script>


{% endblock middle %}
</body>
</html>