<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title lang" key="add new customer">Add New Customer</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/fakhar_customers/store" method="post">
                        <div class="box-body">

                            <div class="form-group col-md-8">
                                <label for="exampleInputPassword1" class="lang" key="customer code">Customer Code</label>
                                <input name="code" type="text"  value="5" style="font-size: 19px; font-weight: bold" class="form-control">
                            </div>

                            <div class="form-group col-md-4">
                                <label class="checkbox-inline" style="margin-top: 20px;"><input type="checkbox" value=""><span class="lang" key="owner check">Owner Check</span></label>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="exampleInputPassword1" class="lang" key="Name">Name</label>
                                <input name="name" type="text"  placeholder="Enter Customer Name here" class="form-control">
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="lang" key="address">Address</label>
                                    <textarea style="height: 150px;" class="form-control" name="address"></textarea>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="lang" key="email">Email</label>
                                    <input name="email" type="text" id="street" placeholder="Enter Email Here" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="lang" key="contact number">Contact Number</label>
                                    <input name="contact_number" type="text" id="city" placeholder="Enter Contact Number Here" class="form-control">
                                </div>
                            </div>









                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <a style="float: right" id="load_currency" class="btn btn-primary lang" key="load currency">Load Currencies</a>

                        </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12" style="display: none" id="currency">

                <div class="box">

                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                <th class="lang" key="Name">Name</th>
                                <th class="lang" key="opening balance">Opening Balance</th>
                                <th class="lang" key="sign">Sign</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% set count = 0 %}
                            {% for currency in currencies %}
                                <tr>

                                    <td><input type="hidden" class="form-control" name="currencyid[]" value="{{ currency.currencyid }}" readonly>
                                        <input type="text" class="form-control" name="currency_name[]" value="{{ currency.currency_name }}" readonly></td>
                                    <td><input type="text" value="0" class="form-control" name="opening_balance[]" ></td>
                                    <td><input type="text" class="form-control" name="currency_sign[]" value="{{ currency.currency_sign }}" readonly></td>

                                </tr>
                                {% set count = ( count | default(0) ) + 1 %}
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" style="float: left" class="btn btn-primary">Submit</button>

            </div>
        </div>
        </form>
    </section>

<script>
    $(document).ready(function(){
       $('#load_currency').on('click',function(){
        $('#currency').show();
       });
    })
</script>

{% endblock middle %}
</body>
</html>