<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}
    <style>
        .bld {font-weight:bold;}
    </style>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {#<h1>The session value is : {{ session.name }}</h1>#}

    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title lang" key="add cash payment">Add Cash Payment</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/hawala_cashpayment/store" method="post">
                <div class="box-body">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1" class="lang" key="voucher number">Voucher Number</label>
                        <input type="text" readonly="readonly" value="{{ voucher_no }}" name="voucher_no" class="form-control" style="font-size: 18px;font-weight: bold; color: #008000">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="lang" key="date">Date</label>
                        <input name="voucher_date" type="date" required="required" id="theDate" class="form-control" value="{{ now|date("m/d/Y") }}">
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" >
                            <label for="exampleInputEmail1" class="lang" key="time">Time</label>
                            <input name="time" style="font-weight: bold; color: green;font-size: 19px"  readonly type="timer" value="" class="form-control" id="timer">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" >
                            <label for="exampleInputEmail1" class="lang" key="parties">Parties</label>
                            <select class="form-control selectpicker" data-live-search="true" id="party_id" name="party_id">
                                <option value="">Select Party</option>
                                {% for party in parties %}
                                    {% if party.TYPE == 'C' %}
                                        <option value="{{ party.PARTY_ID }}"> {{ party.NAME }} <b> (Customer)</b></option>
                                    {% else %}
                                        <option value="{{ party.PARTY_ID }}"> {{ party.NAME }} <span style="font-weight: bold">(Vendor)</span></option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1" class="lang" key="amount">Amount</label>
                        <input type="text" id="amount" name="amount" class="form-control" required="required" placeholder="Enter Amount Here">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="lang" key="manual number">Manual Number</label>
                        <input name="manual_no" type="text"  class="form-control" placeholder="Enter Manual Number">
                    </div>



                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="lang" key="last balance">Last Balance</label>
                        <input style="color: red; font-weight: bold; font-size: 19px" readonly id="last_balance" type="text" name="last_balance" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" >
                            <label for="exampleInputEmail1" class="lang" key="currency">Currency</label>
                            <select id="party_id" class="form-control selectpicker" data-live-search="true" name="currency_id">
                                <option value="">Select Currecy</option>
                                {% for currency in currencies %}
                                    <option value="{{ currency.currencyid }}"> {{ currency.currency_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <label for="exampleInputPassword1" class="lang" key="exchange rate">Exchange_Rate</label>
                        <input name="exchange_rate" type="text"  class="form-control" placeholder="Enter Exchange Rate Here">
                    </div>


                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" class="lang" key="description">Description</label>
                        <textarea style="height: 130px" name="description" class="form-control"></textarea>
                    </div>



                    <div class="col-sm-12"><br>
                        <div align="center"><h3 class="lang" key="conversion">Conversion</h3></div>
                        <br>
                        <label class="col-sm-2 lang" key="conversion currency">Conversion Currency </label>
                        <div class="col-sm-3">
                            <select class="form-control" name="conversion_currency_id">
                                {% for currency in currencies %}
                                    <option value="{{ currency.currencyid }}"> {{ currency.currency_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2 lang" key="exchange rate">Exg Rate</label>
                        <div class="col-sm-3">
                            <input  value="0" type="text" name="conversion_exchange_rate" id="conversion_exchange_rate" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-12"><br>
                        <label class="col-sm-2 lang" key="total amount">Total Amount </label>
                        <div class="col-sm-3">
                            <input  type="text" style="color: green; font-weight: bold; font-size: 20px" name="conversion_total_amount" id="total_amount" class="form-control">
                        </div>

                    </div>





                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                </div>
            </form>
        </div>


    </div>



    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>


    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>
    <script>
        $(document).ready(function(){
            $('#party_id').on('change',function(){
                var party_id=$(this).val();
                $.ajax({
                    'type':'Get',
                    'url':"/voucher_cashpayment/getlastbalance"+ "/"+ party_id,
                    success:function(response){
                        $('#last_balance').val(response)
                    }
                });

            });

            $('body').on('input','#conversion_exchange_rate',function(){
                var total_payment=$('#amount').val();
                var net_amount=parseFloat(total_payment)*parseFloat($(this).val());
                $('#total_amount').val(parseFloat(net_amount));
            });

            $('body').on('input','#amount',function(){
                var total_payment=$('#amount').val();
                var net_amount=parseFloat(total_payment)*parseFloat($('#conversion_exchange_rate').val());
                $('#total_amount').val(parseFloat(net_amount));
            });
        });
    </script>
{% endblock middle %}


</body>
</html>