<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script type="text/javascript">
        var a ='khurram';
        console.log(a);
    </script>
</head>
{% extends "login/head2.twig" %}
{% block middle %}
    <div class="col-sm-12">
        <div class="panel panel-default">

            <div class="panel-heading"  ><h4><b>Hawala Purchase Edit Form</b></h4></div><br>
            <div class="panel-body">

                <form role="form" action="/hawala_purchase/update" method="post">
                    <input type="hidden" name="id" value="{{ hawalas[0].transaction_id }}">
                    <div class="row">
                        <!-- hawaala no -->
                        <div class="col-sm-12" >
                            <label class="col-sm-2">Invoice #</label>
                            <div class="col-sm-3">
                                <input  value="{{ hawalas[0].invoice_number }}" style="color: blue; font-weight: bold; font-size: 20px" type="text" name="invoice_number" class="form-control" value="" required="required">
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2">Date</label>
                            <div class="col-sm-3">
                                <input value="{{ hawalas[0].date|date("Y-m-d") }}" type="date" name="date"  class="form-control">
                            </div>
                        </div>




                        <!-- Customer type -->
                        <div class="col-sm-12"><br>

                            <label class="col-sm-2">Time </label>
                            <div class="col-sm-3">
                                <div class="form-group" >

                                    <input name="time" style="font-weight: bold; color: green;font-size: 19px"  readonly type="timer" value="" class="form-control" id="timer">
                                </div>
                            </div>

                            <div class="col-sm-1"></div>

                            <label class="col-sm-2">From Currency </label>
                            <div class="col-sm-3">
                                <select class="form-control" name="from_currency" id="currency_id">
                                    {% for currency in currencies %}
                                        {% if(hawalas[0].from_currency_id == currency.currencyid) %}
                                            <option value="{{ currency.currencyid }}" selected> {{ currency.currency_name }}</option>
                                        {% else %}
                                            <option value="{{ currency.currencyid }}" > {{ currency.currency_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>



                        </div>
                        <!-- Hawala currrnecy -->
                        <div class="col-sm-12"><br>

                            <label class="col-sm-2">To Currency </label>
                            <div class="col-sm-3">
                                <select class="form-control" name="to_currency" id="currency_id">
                                    {% for currency in currencies %}
                                        {% if(hawalas[0].to_currency_id == currency.currencyid) %}
                                            <option value="{{ currency.currencyid }}" selected> {{ currency.currency_name }}</option>
                                        {% else %}
                                            <option value="{{ currency.currencyid }}" > {{ currency.currency_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-sm-1"></div>
                            <label class="col-sm-2">Amount</label>
                            <div class="col-sm-3">
                                <input value="{{ hawalas[0].amount }}" type="text" name="amount" id="amount" class="form-control" value="0">
                            </div>




                        </div>
                        <div class="col-sm-12"><br>

                            <label class="col-sm-2">Exg Rate</label>
                            <div class="col-sm-3">
                                <input type="text" value="{{ hawalas[0].exchange_rate }}" name="exchange_rate" id="exchange_rate" class="form-control" value="0">
                            </div>


                            <div class="col-sm-1"></div>
                            <label class="col-sm-2">Action</label>
                            <div class="col-sm-3">
                                <select class="form-control symbol" name="symbol">
                                    <option value="M"{% if hawalas[0].symbol == 'M' %} selected="selected"{% endif %}>Multiplication</option>
                                    <option value="D"{% if hawalas[0].symbol == 'D' %} selected="selected"{% endif %}>Division</option>


                                </select>

                            </div>





                        </div>


                        <div class="col-sm-12"><br>

                            <label class="col-sm-2">Total Amount</label>
                            <div class="col-sm-3">
                                <input value="{{ hawalas[0].total_amount }}" style="font-weight: bold; color: green;font-size: 19px" type="text" name="total_amount" id="total_amount" class="form-control" value="0">
                            </div>







                        </div>



                        <!--  -->
                        <div class="col-sm-12"><br>


                            <label class="col-sm-1">Remarks</label>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-9">
                                <textarea name="remarks" rows="4" class="form-control">{{ hawalas[0].remarks }}</textarea>
                            </div>
                        </div>
                        <!--  -->
                    </div>

                    <hr>



                    <div class="col-sm-12">
                        <button style="float: right" class="btn btn-success ">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


    </div>


    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>
    <script>
        $(document).ready(function(){
            $('body').on('input','#amount',function(){
                calculate();
            });
            $('body').on('input','#exchange_rate',function(){
                calculate();
            });
            $('body').on('change','.symbol',function(){
                calculate();
            });
        });
    </script>
    <script>
        function calculate(){

            var amount=$('#amount').val();
            var symbol=$('.symbol').val();


            var exchange_rate=$('#exchange_rate').val();
            if(amount==0){
                var net_amount=(parseFloat(1)*parseFloat(exchange_rate)).toFixed(1);
                $('#total_amount').val(net_amount);
            }
            else{
                if(symbol=='M'){
                    var net_amount=(parseFloat(amount)*parseFloat(exchange_rate)).toFixed(1);
                    $('#total_amount').val(net_amount).toFixed(1);
                }
                else if(symbol=='D'){
                    var net_amount=(parseFloat(amount)/parseFloat(exchange_rate)).toFixed(1);
                    $('#total_amount').val(net_amount).toFixed(1);
                }

            }
            if(exchange_rate==0){
                var net_amount=(parseFloat(amount)*parseFloat(1)).toFixed(1);
                $('#total_amount').val(net_amount).toFixed(1);
            }
            else{
                if(symbol=='M'){
                    var net_amount=(parseFloat(amount)*parseFloat(exchange_rate)).toFixed(1);
                    $('#total_amount').val(net_amount).toFixed(1);
                }
                else if(symbol=='D'){
                    var net_amount=(parseFloat(amount)/parseFloat(exchange_rate)).toFixed(1);
                    $('#total_amount').val(net_amount).toFixed(1);
                }

            }



        }
    </script>



{% endblock middle %}
</body>
</html>