<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}



    <!-- jQuery library -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}

    {#<h1>The session value is : {{ session.name }}</h1>#}
    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Add Plot Size</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/plotsizes/store" method="post">
                <div class="box-body">

                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" class="lang" key="NAME">Size Name</label>
                        <input name="size_name" type="text"  placeholder="Enter Size Name here" class="form-control">
                    </div>


                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" class="lang" key="NAME">Length</label>
                        <input name="length" type="text"  placeholder="Enter Length here" class="form-control">
                    </div>



                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" class="lang" key="NAME">Width</label>
                        <input name="width" type="text"  placeholder="Enter Width here" class="form-control">
                    </div>









                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: left" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>


    </div>




{% endblock middle %}


</body>
</html>