<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->



    <section class="content">
        <a href="/receives/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add New</button></a>
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">receives List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>receive Id #</th>
                                <th>Date/Time</th>
                                <th>receive By</th>
                                <th>Total</th>
                                <th>Action</th>

                            </tr>
                            </thead>

                            <tbody>
                             {% for receive in receives %}
                             <tr>


                                 <td>{{ receive.receive_id }}</td>
                                 <td>{{ receive.date|date("m/d/Y") }}</td>
                                 <td>{{ receive.receive_by }}</td>
                                 <td>{{ receive.receive_total }}</td>
                                 <td><a target="_blank" href="/receives/print/{{ receive.receive_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a>
                                  <a target="_blank" href="/receives/edit/{{ receive.receive_id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                <a  href="/receives/delete/{{ receive.receive_id }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                 </td>

                             </tr>
                             {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>






<script>
        $(document).ready(function() {
            $('#example').DataTable({
  "ordering": false
});
        });
    </script>


{% endblock middle %}
</body>
</html>