<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

<section class="content">
    <div class="row">
        <!-- left column -->
                    <a href="/city/add"><button class="btn btn-primary" style="float: right; margin-right: 16px"><i class="glyphicon glyphicon-plus"></i><span class="lang" key="Add New City">Add New City</span></button></a>

        <div class="col-md-12"><br>
            <div class="panel panel-default">
    
          <div class="panel-heading"  ><h4><b><span class="lang" key="cities">Cities</span></b></h4></div><br>
          {#<div class="pull-right" style="width: 20%; margin-bottom:7px; margin-right:24px">#}
          {#                <input type="text" id="search" class="form-control" placeholder="Search Here...">#}
          {#    </div>#}
          <div class="panel-body">
              
                                <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                {#<th class="lang" key="id">ID</th>#}
                                <th class="lang" key="city name">City Name</th>
                                <th class="lang" key="edit" style="width: 7%">Edit</th>
                                <th class="lang" key="delete" style="width: 7%">Delete</th>

                            </tr>
                            </thead>
                            <tbody id='b'>
                              {% for c in city %}
                                  <tr>
                                  {#<td>{{ c.id}}</td>#}
                                  <td>{{ c.city }}</td>
                                   <td>
                                      <a class="btn btn-warning" href="/city/edit/{{ c.id }}"><i class="glyphicon glyphicon-pencil"></i></a>
                                  </td>
                                     <td>
                                          <a class="btn btn-danger" href="/city/delete/{{ c.id }}"><i class="glyphicon glyphicon-remove"></i></a>

                                      </td>
                                      {% endfor %}
                              </tr>
                                 
                            </tbody>

                        </table>
                       
                    </div>
          </div>
      </div>
  </div>

    </div>
        </div>
    </section>

<script>
        $(document).ready(function() {
            $('#example').DataTable({
  "ordering": false
});
        });
    </script>

{% endblock middle %}
</body>
</html>