<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}
{% block middle %}
    <!-- Latest compiled and minified CSS -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Trigger the modal with a button -->
    <style>
        .select2-container .select2-selection--single{
            height:35px !important;
            width: 300px;
        }
        .select2-container--default .select2-selection--single{
            border: 1px solid #ccc !important;
            border-radius: 0px !important;
        }

        .wizard {
            margin: 20px auto;
            background: #fff;
        }

        .wizard .nav-tabs {
            position: relative;
            margin: 40px auto;
            margin-bottom: 0;
            border-bottom-color: #e0e0e0;
        }

        .wizard > div.wizard-inner {
            position: relative;
        }

        .connecting-line {
            height: 2px;
            background: #e0e0e0;
            position: absolute;
            width: -10%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 1;
        }

        .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
            color: #555555;
            cursor: default;
            border: 0;
            border-bottom-color: transparent;
        }

        span.round-tab {
            width: 70px;
            height: 70px;
            line-height: 70px;
            display: inline-block;
            border-radius: 100px;
            background: #fff;
            border: 2px solid #e0e0e0;
            z-index: 2;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 25px;
        }
        span.round-tab i{
            color:#555555;
        }
        .wizard li.active span.round-tab {
            background: #fff;
            border: 2px solid #5bc0de;

        }
        .wizard li.active span.round-tab i{
            color: #5bc0de;
        }

        span.round-tab:hover {
            color: #333;
            border: 2px solid #333;
        }

        .wizard .nav-tabs > li {
            width: 25%;
        }

        .wizard li:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 0;
            margin: 0 auto;
            bottom: 0px;
            border: 5px solid transparent;
            border-bottom-color: #5bc0de;
            transition: 0.1s ease-in-out;
        }

        .wizard li.active:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 1;
            margin: 0 auto;
            bottom: 0px;
            border: 10px solid transparent;
            border-bottom-color: #5bc0de;
        }

        .wizard .nav-tabs > li a {
            width: 70px;
            height: 70px;
            margin: 20px auto;
            border-radius: 100%;
            padding: 0;
        }

        .wizard .nav-tabs > li a:hover {
            background: transparent;
        }

        .wizard .tab-pane {
            position: relative;
            padding-top: 50px;
        }

        .wizard h3 {
            margin-top: 0;
        }

        @media( max-width : 585px ) {

            .wizard {
                width: 90%;
                height: auto !important;
            }

            span.round-tab {
                font-size: 16px;
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .wizard .nav-tabs > li a {
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .wizard li.active:after {
                content: " ";
                position: absolute;
                left: 35%;
            }
        }

    </style>


    <!------ Include the above in your HEAD tag ---------->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>



    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: red"><strong>Alert</strong></h4>
                </div>
                <div class="modal-body">
                    <p><strong>The price cant not be less the cost price.</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/sale_invoice/print/{{ sale_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>



    <section class="content">
    <div class="row">
    <!-- left column -->
    <div class="col-md-12">
    <div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Add Booking</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="container">
    <div class="row">
    <section>
    <div class="wizard">


    <form role="form" action="/shop_booking/store" method="post">

    <div class="tab-content">

    <div align="center"><h3>Customers Information</h3></div>





    <div class="col-md-12">
        <div id="first" class="form-group">
            <label for="exampleInputPassword1">Customer Name</label>
            <select class="form-control selectpicker" data-live-search="true" name="customer_id" id="customer_id">
                {% for customer in customers %}
                        <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}({{ customer.reg_no }})</option>

                {% endfor %}
            </select>
        </div>
    </div>



    <!-- /.box-body -->

    <div style="margin-top: 100px">
        <div align="center"><h3>Shop/Apartment Detail</h3></div>
        <div class="col-md-4">
            <div id="first" class="form-group">
                <label for="exampleInputPassword1">Project Name</label>
                <select class="form-control select2 project" name="project_id">
                    <option>Select Project</option>
                    {% for project in projects %}
                        <option data-down-payment="{{ project.down_payment_percentage }}" data-installments="{{ project.number_of_installments }}" value="{{ project.project_id }}" > {{ project.project_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <input type="hidden" id="down_payment">
        <input type="hidden" id="installments">
        <input type="hidden" id="hidden_month_total">


        <div class="col-md-4">
            <div id="first" class="form-group">
                <label for="exampleInputPassword1">Floors</label>
                <select class="form-control select2" id="floor" name="floor_id">
                    <option value="0">Select Floor</option>
                    {% for floor in floors %}

                        <option   value="{{ floor.floor_id }}"> {{ floor.floor_name }}</option>

                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="exampleInputPassword1">Shops/Apartments</label>
            <select class="form-control plot"  name="builder_master_id" id="shops">
            </select>
        </div>


        <div class="form-group col-md-4">
            <label for="exampleInputPassword1">Square Feet</label>
            <input style="font-weight: bold; font-size: 18px; color: black"  name="square_feet" id="square_feets"  type="text"   class="form-control" readonly>
        </div>

        <div class="form-group col-md-4">
            <label for="exampleInputPassword1">Rate</label>
            <input style="font-weight: bold; font-size: 18px; color: black" name="rate"   id="rate"  type="text"   class="form-control" readonly>
        </div>

        <div class="form-group col-md-4">
            <label for="exampleInputPassword1">Total</label>
            <input style="font-weight: bold; font-size: 18px; color: black"  name="shop_total"   id="total"  type="text"   class="form-control" readonly>
        </div>

        <div class="form-group col-md-4">
            <label for="exampleInputPassword1">Type</label>
            <select class="form-control plot_type"  name="type">
                <option value="Residential"{% if masters[0].plot_type == 'Residential' %} selected="selected"{% endif %}>Residential</option>
                <option value="Commercial"{% if  masters[0].plot_type == 'Commercial' %} selected="selected"{% endif %}>Commercial</option>

            </select>
        </div>


        <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="lang" key="NAME">Registration Number</label>
            <input id="booking_number" required="required" value="{{ masters[0].booking_number  }}" name="booking_number" type="text"  placeholder="Enter Plot Number here" class="form-control">
        </div>

        <div class="form-group col-md-4" id="down_payment_div" style="display: none">
            <label for="exampleInputPassword1">30% Down payment</label>
            <input style="font-weight: bold; font-size: 18px; color: black"  id="down_payment_text" readonly required="required"  name="down_payment" type="text"  class="form-control">
        </div>

    </div>






    <div id="month_div" style="margin-top: 250px;">
        <div class="form-group col-md-12">
            <div align="center"><h3>Monthly Installments</h3></div>
        </div>




        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Start Date</label>
                <input type="date" value="{{ masters[0].plan_date|date("Y-m-d")  }}"  name="plan_date" class="form-control start_date"  id="theDate">
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Numbers of Installments</label>
                <input name="no_of_instalments" type="text" value="24" class="form-control number_of_instalments" id="number_of_instalments">
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Instalment Gap</label>
                <input name="gap" type="text" value="1" class="form-control gap" id="gap">
            </div>
        </div>






        <div class="col-md-2">
            <br>
            <input id="load" type="button" value="Load" class="btn btn-primary">
        </div>




        <div class="form-group col-md-12">
            <div class="table-responsive m-t">
                <table class="table table-bordered">
                    <thead style="background-color: #2196f3; color: white">


                    <tr>
                        <th style="width: 33%;">Installment Number</th>
                        <th style="width: 33%;">Receivable Date</th>
                        <th style="width: 33%;">Receivable Amount</th>
                    </tr>
                    </thead>

                    <tbody id="month_body">


                    </tbody>
                </table>
            </div>
        </div>
    </div>









    <div class="col-md-12">
        <div align="center"><h3>Amount Details</h3></div>
    </div>







    <div class="form-group col-md-4">
        <label for="exampleInputPassword1">Grand Total</label>
        <input value="0" style="color: black; font-size: 17px; font-weight: bold" readonly name="grand_total" type="text"  placeholder="Enter Plot Number here" class="form-control grand_total">
    </div>

    <div class="form-group col-md-4">
        <label for="exampleInputPassword1">Advance</label>
        <input   name="advance" type="number"  value="0"   placeholder="Enter Advance here" class="form-control advance">
    </div>





    <div class="form-group col-md-4">
        <label for="exampleInputPassword1">Discount</label>
        <input   name="discount" type="number"    value="0" placeholder="Enter Advance here" class="form-control discount">
    </div>





    <div class="form-group col-md-4">
        <label for="exampleInputPassword1">Remaining</label>
        <input value="0" style="color: black; font-size: 17px; font-weight: bold" readonly  name="remaining" type="text"  placeholder="" class="form-control remaining">
    </div>


    <div class="form-group col-md-4">

        <input style="color: black; font-size: 17px; font-weight: bold" readonly  name="feature_amount" type="hidden"  placeholder="" value="{{ masters[0].feature_amount  }}" class="form-control feature_amount">
    </div>


    <div class="form-group col-md-12">
        <input id="submit" style="float: right" type="submit" class="btn btn-primary">
    </div>




    <div class="tab-pane" role="tabpanel" id="complete">
        <h3>Complete</h3>
        <p>You have successfully completed all steps.</p>
    </div>
    <div class="clearfix"></div>
    </div>

    </form>
    </div>
    </section>

    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

    <script>
    $(document).ready(function(){
        $('body').on('change','.project',function(){
            var down_payment=$(this).find(':selected').data('down-payment');
            var installments=$(this).find(':selected').data('installments');
            $('#down_payment').val(down_payment);
            $('#installments').val(installments);
        });

        $('.advance').on('input',function(){
            var advance=$(this).val();
            var discount=$('.discount').val();
            var grand_total= $('.grand_total').val();
            $('.remaining').val(parseInt(grand_total)-parseInt(advance)-parseInt(discount));
        });

        $('.discount').on('input',function(){
            var discount=$(this).val();
            var advance=$('.advance').val();
            var grand_total= $('.grand_total').val();
            $('.remaining').val(parseInt(grand_total)-parseInt(discount)-parseInt(advance));
        });


        $('body').on('change','#shops',function(){
            var square_feets=$(this).find(':selected').data('square-feets');
            var rate=$(this).find(':selected').data('rate');
            $('#square_feets').val(square_feets);
            $('#rate').val(rate);
            $('#total').val(parseInt(square_feets)*parseInt(rate));
            $('.grand_total').val(parseInt(square_feets)*parseInt(rate));
            $('.remaining').val(parseInt(square_feets)*parseInt(rate));
            $('#down_payment_div').show();
            $('#down_payment_text').val($('#total').val() * 0.3);

            var per_month_value=(parseFloat($('#total').val()- $('#down_payment_text').val()) / 24  );

            $('#hidden_month_total').val(parseFloat($('#total').val()- $('#down_payment_text').val()));


            var start_date=$('.start_date').val();
            var number_of_instalments=$('#installments').val();
            var gap=$('.gap').val();




            var $el2= $('#month_body');
            $el2.empty();
            var count=1;
            var dated=$('.start_date').val();
            var newdate = new Date(dated);
            var dd = newdate.getDate();
            var mm = newdate.getMonth()+1;
            var y = newdate.getFullYear();
            if (dd < 10) dd = "0" + dd;

            for(var i=1;i<=number_of_instalments;i++){
                if(mm > 12){
                    mm=1;
                    y=y+1;
                }
                if (mm < 10) mm = "0" + mm;
                var someFormattedDate = y + "-" + mm + "-" + dd;

                $el2.append("<tr><td><input name='monthly_instalment_no[]' type='text' class='form-control' value=" +count +"></td>" +
                        "<td><input name='date[]' type='date' class='form-control' value=" + someFormattedDate + ">" +
                        "<td><input name='amount[]' type='text' class='form-control amount'   value=" +per_month_value +" >" +
                        "</tr>");
                count=count+1;

                mm=parseInt(parseInt(mm)+parseInt(gap));
            }



        });

        $('body').on('change' ,'#floor' , function(){

            var $el= $('#shops');
            var id=$(this).val();

            $el.empty();
            $el.append('<option value="">select Shops/Apartment </option>')
            $.ajax({
                'type':'Get',
                'url':"/shop_booking/get_shops"+ "/"+ id,
                success:function(response){
                    console.log(response)
                    $.each(response,function(key,value){
                        $el.append("<option data-square-feets='"+value.squarefeets+"' data-rate='"+value.rate+"'   value='"+value.plot_id+"'>"+value.name+"</option>");
                    });
                }
            });
        });







        $('body').on('click','#load',function(){
            var start_date=$('.start_date').val();
            var number_of_instalments=$('.number_of_instalments').val();
            var gap=$('.gap').val();
            var hidden_month_total=parseFloat($('#hidden_month_total').val());
            var amount=parseFloat(hidden_month_total/number_of_instalments);
            var $el2= $('#month_body');
            $el2.empty();
            var count=1;
            var dated=$('.start_date').val();
            var newdate = new Date(dated);
            var dd = newdate.getDate();
            var mm = newdate.getMonth()+1;
            var y = newdate.getFullYear();
            if (dd < 10) dd = "0" + dd;

            for(var i=1;i<=number_of_instalments;i++){
                if(mm > 12){
                    mm=1;
                    y=y+1;
                }
                if (mm < 10) mm = "0" + mm;
                var someFormattedDate = y + "-" + mm + "-" + dd;

                $el2.append("<tr><td><input type='text' class='form-control' value=" +count +"></td>" +
                        "<td><input type='date' class='form-control' value=" + someFormattedDate + ">" +
                        "<td><input type='text' class='form-control amount'   value=" +amount +" >" +
                        "</tr>");
                count=count+1;

                mm=parseInt(parseInt(mm)+parseInt(gap));
            }



        });


    });

    </script>

    <script>
        $(document).ready(function () {
            //Initialize tooltips
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                var $target = $(e.target);

                if ($target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                var type= $('input[name=customer_type]:checked').val();
                if(type=="new"){
                    if($('#name').val()==""){
                        alert('please Enter all required fields')
                    }
                    else{
                        $active.next().removeClass('disabled');
                        nextTab($active);
                    }
                }
                else{
                    $active.next().removeClass('disabled');
                    nextTab($active);
                }

            });
            $(".prev-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                prevTab($active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }
        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }
    </script>

    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>



    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        $(document).ready(function(){
            $("#submit").click(function(e){
                if($('#booking_number').val()==''){
                    e.preventDefault();
                    alert('please Enter Registration Number ');
                }
            });
        });
 </script>



{% endblock middle %}
</body>
</html>