<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

    {% if(messages is not empty) %}
    <div class="alert alert-success">
        <p style="text-align: center; font-size:15px"><b>{{ messages }}</b></p>
    </div>

    {% endif %}


    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/shop_booking/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" >Add New Booking</span></button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" >Shop/Apartments Booking List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                <th style="width: 10%">Reg Number</th>
                                <th style="width: 10%">Customer Name</th>

                                <th style="width: 10%" >Project Name</th>
                                <th style="width: 10%" >Floor</th>
                                <th style="width: 10%" >Shop/Apartment Name</th>


                                <th style="width: 10%" class="lang" key="date">Date</th>
                                <th  style="width: 3%">Total</th>
                                {% if(role=='Admin') or (role=='manager') %}
                                    <th class="lang" key="edit"  style="width: 8%">Action</th>
                                {% endif %}
                                {% if(role=='Admin')  %}
                                    {#<th class="lang" key="delete"  style="width: 8%">Delete</th>#}
                                {% endif %}
                            </tr>
                            </thead>

                            <tbody>
                            {% for booking in bookings %}
                                <tr>
                                    <td>{{ booking.booking_number }}</td>
                                    <td>{{ booking.customer_name }}</td>


                                    <td>{{ booking.project_name }}</td>
                                    <td>{{ booking.floor_name }}</td>
                                    <td>{{ booking.shop_name }}</td>

                                    <td>{{ booking.booking_date|date("m/d/Y") }}</td>
                                    <td>{{ booking.total|number_format(0) }}</td>
                                    {% if(role=='Admin') or (role=='manager') %}
                                        <td style="width: 5%;">
                                            <a target="_blank" href="/shop_booking/edit/{{ booking.booking_id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                            <a target="_blank" href="/shop_booking/print/{{ booking.booking_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a></td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>



                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>






    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});
        $('.money').css('float','right');


    </script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
  "ordering": false
});
        
    } );
</script>
{% endblock middle %}
</body>
</html>