<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style type="text/css">
        hr {margin-top: 0.1em;
            margin-bottom: 0.1em;

            height:0px;

        }

        label {text-align: left;}
        .col-sm-2{padding-right: 0px}
        .container {
            overflow-wrap: break-word;
        }
        #t{margin-top: 7px}


    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>

</head>
<body>

<div class="container">
    <div class="row">


        <img  src="/../static/projects/{{ bookings[0].project_logo }}" data-holder-rendered="true" width="150px" height="150px;" style="margin-top:20px; margin-left: 43%;" />


    </div>
</div>
<div align="center"><h4 >{{ bookings[0].project_name }}</h4></div>

<br><br><br>
<div class="container">
<div class="card">
<div class="card-header">
    <h3 style="text-align: center;">Application Form</h3>
</div>
<div class="card-body">
<form action="" method="">
<div class="form-group row">

    <label for="staticEmail" class="col-sm-2 col-form-label" ><b>Registration No:</b> </label>
    <div class="col-sm-10" id="t">
        <span><u><b>{{ bookings[0].booking_number }}</b></u></span>
    </div>
</div>

<div class="form-group row">

    <label for="staticEmail" class="col-sm-2 col-form-label" ><b>Shop Number:</b> </label>
    <div class="col-sm-10" id="t">
        <span><u><b>{{ bookings[0].shop_name }}</b></u></span>
    </div>
</div>


<div class="form-group row">

    <label for="staticEmail" class="col-sm-2 col-form-label" ><b>Floor Name:</b> </label>
    <div class="col-sm-10" id="t">
        <span><u><b>{{ bookings[0].floor_name }}</b></u></span>
    </div>
</div>



<div class="row"><!-- row start -->
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-6">
                <input readonly type="" name=""  value=" Square Feet : {{ bookings[0].squarefeets }}" class="form-control">
            </div>
            <div class="col-sm-6">
                <input readonly type="" name=""  value=" Rate : {{ bookings[0].shop_rate }}" class="form-control">
            </div>
        </div>



        <div class="row" style="margin-top: 13px;">
            <div class="col-sm-4">Type : </div>
            {% if(bookings[0].plot_type=='Residential') %}
                <div class="col-sm-8">
			      	<span>
				        <label class="radio-inline" >
                            <input type="radio" name="optradio" > Commercial
                        </label>
				    </span>
				    <span style="padding-left: 40px">
					    <label class="radio-inline">
                            <input type="radio" name="optradio" checked> Residential
                        </label>
				    </span>
                </div>
            {% else %}
                <div class="col-sm-8">
			      	<span>
				        <label class="radio-inline" >
                            <input type="radio" name="optradio" checked > Commercial
                        </label>
				    </span>
				    <span style="padding-left: 40px">
					    <label class="radio-inline">
                            <input type="radio" name="optradio" > Residential
                        </label>
				    </span>
                </div>
            {% endif %}
        </div>

    </div>
    <div class="col-sm-3">
        <img src="/../static/realestateCustomer/{{ bookings[0].customer_img }}" height="120px" width="140px">
    </div>
</div><!-- row end -->

<hr>
<div class="row" style="margin-top: 13px;">

    <div class="col-sm-1">Name: </div>
    <div class="col-sm-11">
        <b>{{ bookings[0].NAME }}</b>
    </div>

</div>
<hr>
<div class="row" style="margin-top: 13px;">
    <div class="col-sm-3">Father's /Husband's Name: </div>
    <div class="col-sm-9">
        {{ bookings[0].father_name }}
    </div>
</div>
<hr>
<div class="row" style="margin-top: 13px;">
    <div class="col-sm-2">Postal Address: </div>
    <div class="col-sm-10">
        {{ bookings[0].ADDRESS }}
    </div>
</div>
<hr>
<div class="row" style="margin-top: 13px;">
    <div class="col-sm-2">Permenent Address: </div>
    <div class="col-sm-10">

        {{ bookings[0].permanent_address }}
    </div>
</div>
<hr>
<div class="row" style="margin-top: 9px">

    <label for="staticEmail" class="col-sm-2 col-form-label" >Phone Off #: </label>
    <div class="col-sm-4" id="t">
        <span>{{ bookings[0].phone_number }}</span>
    </div>
    <label for="staticEmail" class="col-sm-1 col-form-label" >Res #: </label>
    <div class="col-sm-5" id="t">
        <span>{{ bookings[0].residence_number }}</span>
    </div>
</div>
<hr>
<div class="row" style="margin-top: 9px">

    <label for="staticEmail" class="col-sm-2 col-form-label" >Mobile: </label>
    <div class="col-sm-4" id="t">
        <span>{{ bookings[0].CONTACT_NO }}</span>
    </div>
    <label for="staticEmail" class="col-sm-1 col-form-label" >Email: </label>
    <div class="col-sm-5" id="t">
        <span>{{ bookings[0].EMAIL }}</span>
    </div>
</div>
<hr>
<div class="row" style="margin-top: 9px">

    <label for="staticEmail" class="col-sm-2 col-form-label" >Occupation: </label>
    <div class="col-sm-3" id="t">
        <span>{{ bookings[0].occupation}}</span>
    </div>
    <label for="staticEmail" class="col-sm-1 col-form-label" >Age : </label>
    <div class="col-sm-2" id="t">
        <span>{{ bookings[0].age}}</span>
    </div>
    <label for="staticEmail" class="col-sm-2 col-form-label" >Nationality : </label>
    <div class="col-sm-2" id="t">
        <span>{{ bookings[0].nationality}}</span>
    </div>
</div>
<hr>
<div class="row" style="margin-top: 9px">

    <label for="staticEmail" class="col-sm-2 col-form-label" >CNIC #: </label>
    <div class="col-sm-10" id="t">
        <span>{{ bookings[0].cnic }}</span>
    </div>

</div>
<hr>

<div class="row"><!-- row start -->
    <div class="col-sm-9">
        <div class="row">
            <label for="staticEmail" class="col-sm-3 col-form-label" >Name of Nominee : </label>
            <div class="col-sm-9" id="t">
                <span>{{ bookings[0].name_of_nominee}}</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <label for="staticEmail" class="col-sm-2 col-form-label" >Relation : </label>
            <div class="col-sm-10" id="t">
                <span>{{ bookings[0].relation }}</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <label for="staticEmail" class="col-sm-3 col-form-label" > Address of Nominee : </label>
            <div class="col-sm-9" id="t">
                <span>{{ bookings[0].address_of_nominee }}</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <label for="staticEmail" class="col-sm-2 col-form-label" > Relation </label>
            <div class="col-sm-10" id="t">
                <span>{{ bookings[0].relation }}</span>
            </div>
        </div>
        <hr>
    </div>

    <div class="col-sm-3">
        <img src="/../static/realestateCustomer/{{ bookings[0].nominee_img }}" height="120px" width="140px">
    </div>
</div><!-- row end -->
<div class="row" style="margin-left: 1px">
    <h6 style="font-weight: bold;margin-top: 14px">DECLARATION:</h6>
    <hr>
    <div>
        <p> (i). I, hereby declare that i have mad and understood the term and conditions of the allotment of the plot in the project and accept the same</p>
        <hr>
        <p> (ii). I further agree to pay regularly the installments and due etc, and abide by all the existing rules and regulations and thoes, which may be prescribed by Peshawar Enclave from time to time.</p>
        <hr>
        {#<p>I enclose herewith a sum of Rs. <span><b>{{  bookings[0].advance }}</b></span> By Cash/Check/Pay Order/Bank Draft no. <span><b>{{  bookings[0].cheque_number }}</b></span> .</p>#}
        <hr>
        {#<p>Dated <span><b>{{  bookings[0].booking_date|date("m/d/Y") }}</b></span> drawn on<span><b>{{ bookings[0].bank_name }}</b></span>On Account. </p>#}
    </div>





</div>
<img style="float: right" src="/../static/realestateCustomer/{{ bookings[0].customer_sig_img }}" height="120px" width="140px">

</form>
</div>
</div>


</div>


</body>

</html>