<!doctype html>
<html lang="en">
<head>
    <title>Hissab.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./static/general/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./static/general/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="./static/general/fonts/font-awesome/css/font-awesome.min1.css" rel="stylesheet" type="text/css" />
    <link href="./static/general/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="./static/general/css/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="./static/general/css/style.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="./static/general/animate.css" rel="stylesheet" type="text/css"/>
    <style>
   .fa-whatsapp {
    padding: 8px;
    font-size: 40px;
    width: 57px;
    text-align: center;
    text-decoration: none;
    margin: 3px 1px;
    border-radius: 50%;
    background: #2fb753;
    color: white;
}
    .icon{
	position: fixed;
	padding: 9px;
	bottom: 0;
	right: 0;
	z-index: 999;
}
    .navbar-nav li a {
    padding-top: 30px;
    padding-right: 2px;
    font-size: 14px;
    color: white!important;
    text-transform: uppercase;
}
        /* jssor slider loading skin spin css */
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }


        .jssorb032 {position:absolute;}
        .jssorb032 .i {position:absolute;cursor:pointer;}
        .jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
        .jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .i.idn {opacity:.3;}

        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
        
      
            
    </style>
    <style>
        @media only screen and (max-width: 472px)
        {
            .image {
    width: 185px;
    height: 160px;}
    .img-content {
    position: relative;
    margin-bottom: 40px;
    width: 160px;
    height: 150px;
    width: 50%;
    float: left;
    
}
#jssor_1 {
    width: 383px !important;
}
.text h2 {
    color: black;
    font-size: 13px;
}
.member-social {
    background-color: #ffa726;
    margin: -20px 0px;
    border: 1px solid #ffa726;
}
.img-content .overlay {
    left: 5px!important;
    top: 5px!important;}
    
            .modules-button {
                width: 370px !important;
            }
            .col-xs-6 {
                    width: 100%;
                }
                .module-item {
    padding-top: 0px;
    padding-bottom: 0px;
}

#jssor_1{width:337px !important;}

        }
    </style>
</head>
<body>
<!--------------------------------------Navigation***Bar----------------------------------------------------->
<section>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>

            <div class="col-md-offset-2 col-md-1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="./static/general/images/hissablogo%20-%20Copy%20-%20copy.png" class="img-logo"/>
                    </a>
                </div>

            </div>
            <div class="col-md-offset-1 col-md-8">
                <div class="collapse navbar-collapse" id="n">
                    <ul class="nav navbar-nav">
                        <li><a href="#home" id="slidein">HOME</a></li>
                        <li><a href="#aboutus" id="slidein">ABOUT US</a></li>
                        <li><a href="#features" id="slidein">FEATURES</a></li>
                        <li><a href="#modules" id="slidein">MODULES</a></li>
                        <li><a href="#client" id="slidein">OUR CLIENTS</a></li>
                        <li><a href="#team" id="slidein">OUR TEAM</a></li>
                        <li><a href="#contactus" id="slidein">REGISTER</a></li>
                        <li><a href="/login" id="slidein">LOGIN</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</section>
<!--------------------------------------MAIN***SLIDER------------------------------------------------------>
<section>
    <div id="jssor_1" style="position:relative;margin:0 auto;top:10px;left:0px;width:1300px;height:500px;overflow:hidden;visibility:hidden;margin-top:70px !important">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="../svg/loading/static-svg/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;">
            <div>
                <img data-u="image" src="./static/general/images/slider1.jpg" />

            </div>
            <div>
                <img data-u="image" src="./static/general/images/slider2.jpeg" />
            </div>
            <div>
                <img data-u="image" src="./static/general/images/slider3.jpeg" />

            </div> <div>
                <img data-u="image" src="./static/general/images/slider4.jpeg" />

            </div>

            <a data-u="any" href="https://www.jssor.com" style="display:none">bootstrap carousel</a>
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb032" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i" style="width:16px;height:16px;">
                <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora051" style="width:65px;height:65px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora051" style="width:65px;height:65px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>
    </div>

</section>

<!-------------------------------------Aboutus-section-------------------------------------------->
<section class="aboutus space" >
    <div class="container" >
        <div class="row" id="aboutus">
            <div class="heading">
                <h1><span>ABOUT </span>US</h1>
            </div>
            <!--Image Block -->
            <div class="col-md-6">
                <img src="./static/general/images/about%20img.jpg" width="100%"/>
            </div>

            <!-- Tab panels -->
            <div class="col-md-6">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" >
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Profile</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">Hissab integrate and automate your retail and other operations – from the Point of Sale to the back office and up and down your supply chain, we turns your business into an efficient, smoothly running operation that can recognize and adapt quickly to change.When selecting a point of sale (POS) solution, users have a choice between stand-alone solutions and integrated solutions. They should first evaluate core and non-core components of POS systems, and assess the strengths and weaknesses of best-of-breed and integrated approaches
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Mission</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">Our core competencies are focused on the design and implementation of state-of-the-art software solutions forManufacturing & Servicing Industries, financial & Educational Institutions, Government Organizations as well as Multinational Companies.</div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Vision</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">Hissab takes the transition to an automated business environment as smooth as possible. We realize that this is a complex process, and we guide our clients through it in a logical, orderly manner because our commitment to you is long term,. We design Hissab to allow for an assured upward growth path. Initial proposals are planned carefully in open environments to avoid wasteful and costly system replacements and inflexible proprietary roadblocks.</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>
<!----------------------------------------------Product section------------------------------------------>

<section class="features space" style="padding:50px 0 50px 0;margin-top:50px" id="products">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h1 style=""><span>Our Main</span>Products</h1>
            </div>

            <div class="col-md-4">
                <div class="icons center-block">
                    <img src="./static/general/images/86050.png" class="img-responsive center-block" width="100px">
                    <h4 style="text-align:center">Point Of Sale(POS)</h4>
                    <p style="font-size:12px;text-align:center; ">We provide POS in which user can
                    <ol style=" list-style: none; margin: 0; padding: 0;">
                        <li style="text-align: center;">Manage accounts</li>
                        <li style="text-align: center;">Manage products</li>
                        <li style="text-align: center;">Manage Customers/Vendor</li>
                        <li style="text-align: center;">Manage Stock</li>
                        <li style="text-align: center;">Manage Reports ect</li>

                    </ol>

                    </p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="icons center-block">
                    <img src="./static/general/images/real_estate.png" class="img-responsive center-block" width="100px">
                    <h4 style="text-align:center">Real Estate</h4>
                    <p style="font-size:12px;text-align:center; ">We provide Real Estate in which user can
                    <ol style=" list-style: none; margin: 0; padding: 0;">
                        <li style="text-align: center;">Manage Plots</li>
                        <li style="text-align: center;">Manage Flats/Shops</li>
                        <li style="text-align: center;">Manage Customers/Vendor</li>
                        <li style="text-align: center;">Manage Expense </li>
                        <li style="text-align: center;">Manage Reports ect</li>
                    </ol>

                    </p>
                </div>
            </div>


            <div class="col-md-4">
                <div class="icons center-block">
                    <img src="./static/general/images/currency.png" class="img-responsive center-block" width="100px">
                    <h4 style="text-align:center">Currency Exchange</h4>
                    <p style="font-size:12px;text-align:center; ">We provide Real Estate in which user can
                    <ol style=" list-style: none; margin: 0; padding: 0;">
                        <li style="text-align: center;">Manage Customers/Vendor</li>
                        <li style="text-align: center;">Manage Expense</li>
                        <li style="text-align: center;">Manage Exchange of Currency</li>
                        <li style="text-align: center;">Manage Currencies</li>
                        <li style="text-align: center;">Manage Reports ect</li>
                    </ol>

                    </p>
                </div>
            </div>


            <div class="col-md-4">
                <div class="icons center-block">
                    <img src="./static/general/images/transportation-icon-png-30.png" class="img-responsive center-block" width="100px">
                    <h4 style="text-align:center">Transport Management System</h4>
                    <p style="font-size:12px;text-align:center; ">We provide Transport Management in which user can
                    <ol style=" list-style: none; margin: 0; padding: 0;">
                        <li style="text-align: center;">Manage Transport</li>
                        <li style="text-align: center;">Manage Expense of Each Transport</li>
                        <li style="text-align: center;">Manage Customers </li>
                        <li style="text-align: center;">Manage Reports ect</li>

                    </ol>

                    </p>
                </div>
            </div>




        </div>
    </div>
</section>
<!------------------------------------------------- end of product section------------------------------->


<!---------------------------------------modules--section---------------------------------------------->
<section>
    <div class="Modules space" id="modules">
        <div class="container">
            <div class="row">
                <div class="heading">
                    <h1><span>OUR </span>MODULES</h1>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/product.png" width="40px" height="40px"/><span>      Main Stock/Products</span>
                        </p>
                    </div>
                </div>   <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/customer.png" width="40px" height="40px"/><span>       Customer record</span>
                        </p>
                    </div>
                </div>   <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/icon-expenses%20copy.png" width="40px" height="40px"/><span>       Daily Expenses Record</span>
                        </p>
                    </div>
                </div>   <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/sale.png" width="40px" height="40px"/><span>        Daily Sales record</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6" >
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/purchase.png" width="40px" height="40px"/><span>        Daily Purchase record</span>
                        </p>
                    </div>
                </div>   <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/cashpaymentrecord%20copy.png" width="40px" height="40px"/><span>        Cash Payment Record</span>
                        </p>
                    </div>
                </div>   <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/reciept.png" width="40px" height="40px"/><span>        Cash Receipt Record</span>
                        </p>
                    </div>
                </div>   <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/Deposit.png" width="40px" height="40px"/><span>        Bank Deposit Record</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6"  >
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/bank.png" width="40px" height="40px"/><span>      Bank Payment Record</span>
                        </p>
                    </div>
                </div>   <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/party.PNG" width="40px" height="40px"/><span>      Party Ladger</span>
                        </p>
                    </div>
                </div>   <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/bankledger.PNG" width="40px" height="40px"/><span>      Bank Ledger</span>
                        </p>
                    </div>
                </div>   <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/profitloss.png" width="40px" height="40px"/><span>      Profit & Loss Statement</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3  col-sm-4 col-xs-6" >
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/bar%20print.png" width="40px" height="40px"/><span>     Payable Receivable </span>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/bar%20print.png" width="40px" height="40px"/><span>     Barcode Printing</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6"  >
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/supermarket-sale-tag.png" width="40px" height="40px"/><span>        Daily Sales Statment</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6"  >
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/chequebook.png" width="40px" height="40px"/><span>        Cash Book</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6" >
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/expansestatement.PNG" width="40px" height="40px"/><span>     Expense Statment H.Wise</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="module-item">
                        <p p class="modules-button">
                            <img src="./static/general/images/bar%20print.png" width="40px" height="40px"/><span>     Other Report on demand</span>
                        <p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<!---------------------------------------------Features-Section------------------------------------------->
<section class="features space" style="background-color:#e3e3e7;padding:50px 0 50px 0;margin-top:50px" id="features">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h1 style=""><span>Key </span>Features</h1>
            </div>

            <div class="col-md-4">
                <div class="icons center-block">
                    <img src="./static/general/images/easytolearn%20copy.png" class="img-responsive center-block" width="100px">
                    <h4 style="text-align:center">Easy to learn</h4>
                    <p style="font-size:12px;text-align:center; ">You do not have to send your staff out for expensive training</p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="icons">
                    <img src="./static/general/images/easy%20to%20use.png" class="img-responsive center-block" width="100px">
                    <h4 style="text-align:center">Easy to use</h4>
                    <p style="font-size:12px;text-align:center">Requires minimum keystrokes and the often mouse is required</p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="icons">
                    <img src="./static/general/images/Flexibility-Icon.png" class="img-responsive center-block" width="100px">
                    <h4 style="text-align:center">Flexibile</h4>
                    <p style="font-size:12px;text-align:center; ">Handles any combination of discounts, credits and sale specials</p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="icons">
                    <img src="./static/general/images/reward.png" class="img-responsive center-block" width="100px">
                    <h4 style="text-align:center">Reward</h4>
                    <p style="font-size:12px;text-align:center; ">Helps to practice suggestion selling and their sales commissions</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icons">
                    <img src="./static/general/images/calender.png" class="img-responsive center-block" width="100px">
                    <h4 style="text-align:center">Up to date</h4>
                    <p style="font-size:12px;text-align:center; ">If something is not in stock you can send purchase order system</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icons">
                    <img src="./static/general/images/secure.PNG" class="img-responsive center-block" width="100px">
                    <h4 style="text-align:center">Secure</h4>
                    <p style="font-size:12px;text-align:center; ">You control who can see the profit margins and stock counts</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!---------------------------------------------Client-section------------------------------------------->
<section class="container-fluid owl space" id="client" style="background:lightgrey;padding-bottom:90px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h1><span>OUR </span>CLIENT</h1>
                </div>
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="#"> <img src="./static/general/images/1.png" alt="khyber charsi tikkha shop" width="360px" class="img-responsive"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="./static/general/images/2.png" alt="University tikka Hut"  width="360px" class="img-responsive"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="./static/general/images/3.PNG" alt="Islamia resturanant" width="360px" class="img-responsive"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="./static/general/images/4.PNG" alt="Shiraz Arena"  width="360px" class="img-responsive"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="./static/general/images/5.png" alt="RMI" width="360px" class="img-responsive"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="./static/general/images/6.png" alt="Office World"  width="360px" class="img-responsive"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="./static/general/images/7.png" alt="Taste In train" width="360px" class="img-responsive"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="./static/general/images/8.PNG" alt="Hong Kong"  width="360px" class="img-responsive"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="./static/general/images/9.PNG" alt="Shaz Fish and Chips"  width="360px" class="img-responsive"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="./static/general/images/10.PNG" alt="Spectrum Computer Rawalpindi"  width="360px" class="img-responsive"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="./static/general/images/11.PNG" alt="Thames Burger"  width="360px" class="img-responsive"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="./static/general/images/12.PNG" alt="Almaida Resturant"  width="360px" class="img-responsive"></a>
                    </div>
                </div>
                <div class="customNavigation">
                    <a class="btn prev"><img src="./static/general/images/left-yellow.png"  style="width:50px;height:50px;"/></a>
                    <a class="btn next"><img src="./static/general/images/right-yellow.png" style="width:50px;height:50px"/></a>
                </div>


            </div>

        </div>

    </div>
</section>

<!---------------------------------------OUR TEAM--section---------------------------------------------->
<section id="team" class="space">
    <div class="ourteam" >
        <div class="container">
            <div class="row">
                <div class="heading">
                    <h1><span>OUR </span>TEAM</h1>
                </div>

                <div class="col-md-3" id="pic">
                    <div class="img-content">
                        <img src="./static/general/images/Anwar.JPG" alt="Avatar" class="image img-responsive">
                        <div class="overlay">
                            <div class="center-content">
                                <div class="member-social" >
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="text">
                                <h2>ANWAR SHAMIM</h2>
                                <h6>PROJECT MANAGER</h6>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="img-content">
                        <img src="./static/general/images/Aqeel.JPG" alt="Avatar" class="image img-responsive">
                        <div class="overlay">
                            <div class="center-content">
                                <div class="member-social" >
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="text">
                                <h2>AQEEL AHMAD</h2>
                                <h6>CEO</h6>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-content">
                        <img src="./static/general/images/Bilawal.JPG" alt="Avatar" class="image img-responsive">
                        <div class="overlay">
                            <div class="center-content">
                                <div class="member-social" >
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="text">
                                <h2>BILAWAL BIN KHALID</h2>
                                <h6>WEB DEVELOPER</h6>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-content">
                        <img src="./static/general/images/40084262_1003658566471716_1364416212636794880_o.JPG" alt="Avatar" class="image img-responsive">
                        <div class="overlay">
                            <div class="center-content">
                                <div class="member-social" >
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="text">
                                <h2>HADEEF KHAN</h2>
                                <h6>ORACLE DEVELOPER</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" style="margin-top: 20px;">
                    <div class="img-content">
                        <img src="./static/general/images/khurram.JPG" alt="Avatar" class="image img-responsive">
                        <div class="overlay">
                            <div class="center-content">
                                <div class="member-social" >
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="text">
                                <h2>KHURRAM</h2>
                                <h6>WEB DEVELOPER</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<!---------------------------------------Contact--section---------------------------------------------->
<section class="contact space" id="contactus">
    <div class="container">
        <div class="row" id="up">
            <div class="heading">
                <h1><span>CONTACT </span>US</h1>
                <p style="font-weight: bold">(To use our application,Send Us your project type and we will contact through your email address)</p>
            <span id="success" style="font-weight: bold; color: #008000;display:none"><h4>Your Request is Submitted. Our company will contact you through email soon.</h4></span>
            <span id="error" style="display:none"><h4 style="font-weight: bold; color: red;">Your Company Code OR Email Already Exist !</h4></span>
            
            </div>
            <form onsubmit="validateCaptcha()" id="idForm" method="post" action="/insert_contact_us">


            <div class="col-md-12">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
                    <input required="required" name="name" type="text" class="form-control " placeholder="Company Full Name" aria-describedby="basic-addon1">
                </div>
                <br>
                
                <div class="input-group input-group-lg">
                    <span class="input-group-addon glyphicon glyphicon-lock" id="basic-addon1"></span>
                    <input required="required" name="company_code" type="text" class="form-control" placeholder="Company Code" aria-describedby="basic-addon1" id="company_code">
                </div>
                <br>
                <div class="input-group input-group-lg" style="padding-top:5px">
                    <span class="input-group-addon glyphicon glyphicon-envelope" id="basic-addon1"></span>
                    <input required="required" name="email" type="text" class="form-control " placeholder="Email Address" aria-describedby="basic-addon1">
                </div>
                <br>

                <div class="input-group input-group-lg" style="padding-top:5px">
                    <span class="input-group-addon glyphicon glyphicon-earphone" id="basic-addon1"></span>
                    <input required="required" name="number" type="text" class="form-control " placeholder="Your Phone Number" aria-describedby="basic-addon1">
                </div>
                <br>

                <div class="input-group input-group-lg" style="padding-top:5px">
                    <span class="input-group-addon glyphicon glyphicon-arrow-down" id="basic-addon1"></span>
                    <select required="required" name="type" id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select Type ...">


                        {% for type in types %}
                            <option value="{{ type.id }}"> {{ type.name }}</option>
                        {% endfor %}
                        {#<option value="POS">POS</option>#}
                        {#<option value="REAL_ESTATE">REAL ESTATE</option>#}
                        {#<option value="CURRENCY_EXCHANGE">CURRENCY EXCHANGE</option>#}
                        {#<option value="TRANSPORT">TRANSPORT</option>#}
                    </select>
                </div>

                <div class="input-group msg" style="margin-top: 20px">
                    <span class="input-group-addon glyphicon glyphicon-comment" id="basic-addon1"></span>
                    <textarea name="message" class="form-control" rows="4" id="Your Message" placeholder="Your Message" style="font-size:20px"></textarea>
                </div>
                <div>
                    <br>
                    
                    
                    
                    
                <div class="form-group">


                    <body onload="createCaptcha()">

                        <div id="captcha">
                        </div>
                        <input type="text" placeholder="Captcha" id="cpatchaTextBox"/>


                    </body>
                    <button  type="submit"  class="btn btn-secondary btn-lg btn-block" id="sub">SEND MESSAGE</button>
                </div>

                </div>



            </div>
            </form>
        </div>
    </div>

</section>
<!---------------------------------------footer--section---------------------------------------------->
<section class="footer" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <nav class="first-content">
                    <ul>
                        <li><img src="./static/general/images/hissablogo%20-%20Copy.png" width="150px" height="80px"/></li>
                        <li><p style="font-size:14px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply</p></li>
                        <li class="readmore"><a href="#" style="color:white"> Read more</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <nav class="footer-content">
                    <ul>
                        <h3>PAGES</h3>
                        <li> HOME</li>
                        <li> ABOUT US</li>
                        <li> FEATURES</li>
                        <li> OUR TEAM</li>
                        <li> CONTACT US</li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <nav class="footer-content">
                    <ul>
                        <h3>QUICK LINKS</h3>
                        <li> Home</li>
                        <li> Home</li>
                        <li> Home</li>
                        <li> Home</li>
                        <li> Home</li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <nav class="footer-content">
                    <ul>
                        <h3>CONTACT US</h3>
                        <li> HISSAB</li>
                        <li> Office no:abc mall deans plaza peshawar</li>
                        <li> phone no:+232433546</li>
                        <li> email:abc@gmail.com</li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>

<div class="icon"><a href="https://wa.me/+923109011212?text=I'm%20interested%20in%20your%20Hissab%20System" class="fa fa-whatsapp" target="_blank"></a></div>
</section>
<!------------------------------------------ENDS---------------------------------------------->

<!------------------------------------------Java scripts-------------------------------------->
<script src="./static/general/js/jquery.min.js"></script>
<script src="./static/general/js/owl.carousel.min.js" type="text/javascript"></script>
<script src="./static/general/js/jssor.slider.min.js" type="text/javascript"></script>
<script src="./static/general/js/bootstrap.min.js" type="text/javascript"></script>
<script src="./static/general/js/custom.js" type="text/javascript"></script>

<script>
    $(document).ready(function(){
        $("#idForm").submit(function(e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.

        });
    });
</script>


<script>
    var code;
    function createCaptcha() {
        //clear the contents of captcha div first
        document.getElementById('captcha').innerHTML = "";
        var charsArray =
                "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@!#$%^&*";
        var lengthOtp = 6;
        var captcha = [];
        for (var i = 0; i < lengthOtp; i++) {
            //below code will not allow Repetition of Characters
            var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
            if (captcha.indexOf(charsArray[index]) == -1)
                captcha.push(charsArray[index]);
            else i--;
        }
        var canv = document.createElement("canvas");
        canv.id = "captcha";
        canv.width = 100;
        canv.height = 50;
        var ctx = canv.getContext("2d");
        ctx.font = "25px Georgia";
        ctx.strokeText(captcha.join(""), 0, 30);
        //storing captcha so that can validate you can save it somewhere else according to your specific requirements
        code = captcha.join("");
        document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
    }
    function validateCaptcha() {
        event.preventDefault();
        debugger
        if (document.getElementById("cpatchaTextBox").value == code){
            var form = $('#idForm');
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function(data)
                {
                    if(data ==1){
                         $('html, body').animate({
                            scrollTop: $("#up").offset().top
                        }, 700);
                        $('#success').hide();
                        $('#error').show();

                    }else{
                        //show response from the php script.
                        $('html, body').animate({
                            scrollTop: $("#up").offset().top
                        }, 700);
                        $('#error').hide();
                        $("#idForm").trigger("reset");
                        $('#success').show();

                    }
                    //show response from the php script.
                    // $("#idForm").trigger("reset");
                    // $('#success').show();
                }
            });
//            $('#submit').show();
        }else{
            alert("Invalid Captcha. try Again");
            createCaptcha();
        }
    }

</script>

<script>
    $('.navbar-nav li').click(function(){
        
        $('.navbar-collapse').collapse('hide');
    });
</script>


</body>

</html>