<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}



    <!-- jQuery library -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}

    {#<h1>The session value is : {{ session.name }}</h1>#}
    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Edit Product</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/product/update" method="post" >
                <div class="box-body">
                    <div class="form-group col-md-12">
                       <input type="hidden" name="id" value="{{ record[0].PRODUCT_ID }}">

                        {% if messages.notify is not empty  %}
                            <div class="alert alert-success" role="alert">
                                <strong> {{ messages.notify }} </strong>
                            </div>
                        {% endif %}


                        
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1" class="lang" key="category name">Category Name</label>
                        <select class="form-control selectpicker" data-live-search="true" name="category_id">
                            {#<option>Select Category</option>#}
                            {% for category in categories %}
                                {% if(category.CATEGORY_ID==record[0].CATEGORY_ID) %}
                                <option value="{{ category.CATEGORY_ID }}" SELECTED>{{ category.NAME }}</option>
                            {% else %}
                                <option value="{{ category.CATEGORY_ID }}">{{ category.NAME }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1" class="lang" key="Name">Name</label>
                        <input name="name" type="text" value="{{ record[0].NAME }}"  placeholder="Enter Product Name here" class="form-control">
                    </div>

                     <div class="form-group col-md-6">
                        <label for="exampleInputPassword1" class="lang" key="unit">Unit</label>
                        <select class="form-control"  name="weight" class="lang" key="weight">
                             <option value="KG" {% if record[0].weight == 'KG' %} selected="selected"{% endif %}>KG</option>
                            <option value="FEET"{% if record[0].weight == 'FEET' %} selected="selected"{% endif %}>FEET</option>
                            <option value="DOZEN"{% if record[0].weight == 'DOZEN' %} selected="selected"{% endif %}>DOZEN</option>
                            <option value="PIECES"{% if record[0].weight == 'PIECES' %} selected="selected"{% endif %}>PIECES</option>
                            <option value="MG"{% if record[0].weight == 'MS' %} selected="selected"{% endif %}>MG</option>
                            <option value="ML"{% if record[0].weight == 'ML' %} selected="selected"{% endif %}>ML</option>
                            <option value="LTR"{% if record[0].weight == 'LTR' %} selected="selected"{% endif %}>LTR</option>
                              <option value="METER"{% if record[0].weight == 'METER' %} selected="selected"{% endif %}>METER</option>
                              <option value="BUNDLE"{% if record[0].weight == 'BUNDLE' %} selected="selected"{% endif %}>BUNDLE</option>
                              <option value="PACK"{% if record[0].weight  == 'PACK' %} selected="selected"{% endif %}>PACK</option>
                            <option value="COTTON"{% if record[0].weight == 'COTTON' %} selected="selected"{% endif %}>COTTON</option>
                        </select>
                        {#<input name="weight" type="text"  placeholder="Enter Product Weight here" class="form-control">#}
                    </div>

                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1" class="lang" key="sale unit"> Sale Unit</label>
                        <select class="form-control"  name="sale_unit">
                            <option value="KG" {% if record[0].sale_unit == 'KG' %} selected="selected"{% endif %}>KG</option>
                            <option value="FEET"{% if record[0].sale_unit == 'FEET' %} selected="selected"{% endif %}>FEET</option>
                            <option value="DOZEN"{% if record[0].sale_unit == 'DOZEN' %} selected="selected"{% endif %}>DOZEN</option>
                            <option value="PIECES"{% if record[0].sale_unit == 'PIECES' %} selected="selected"{% endif %}>PIECES</option>
                            <option value="MG"{% if record[0].sale_unit == 'MS' %} selected="selected"{% endif %}>MG</option>
                            <option value="ML"{% if record[0].sale_unit == 'ML' %} selected="selected"{% endif %}>ML</option>
                            <option value="LTR"{% if record[0].sale_unit == 'LTR' %} selected="selected"{% endif %}>LTR</option>
                              <option value="METER"{% if record[0].sale_unit == 'METER' %} selected="selected"{% endif %}>METER</option>
                              <option value="BUNDLE"{% if record[0].sale_unit == 'BUNDLE' %} selected="selected"{% endif %}>BUNDLE</option>
                              <option value="PACK"{% if record[0].sale_unit == 'PACK' %} selected="selected"{% endif %}>PACK</option>
                            <option value="COTTON"{% if record[0].sale_unit == 'COTTON' %} selected="selected"{% endif %}>COTTON</option>
                        </select>
                        {#<input name="weight" type="text"  placeholder="Enter Product Weight here" class="form-control">#}
                    </div>

                    

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="lang" key="sale price">Sale Price</label>
                            <input name="sale_price" type="text" value="{{ record[0].SALE_PRICE }}"  id="street" placeholder="Enter Sale rate" class="form-control">
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="lang" key="cost price">Cost Price</label>
                            <input name="cost_price" type="text" value="{{ record[0].COST_PRICE }}"  id="city" placeholder="Enter Price rate" class="form-control">
                        </div>
                    </div>
                    
                    
                     <div class="form-group col-md-6">
                        <label for="exampleInputEmail1" class="lang" key="unit Quantity">Unit Quantity</label>
                        <input name="unit_quantity" type="text" id="street" value="{{ record[0].unit_quantity }}"  class="form-control">
                    </div>
                    
                    {#<div class="form-group col-md-6">#}
                    {#    <label for="exampleInputPassword1" class="lang" key="weight"></label>#}
                    {#    <input name="weight" type="text" value="{{ record[0].weight }}"  placeholder="Enter Product Weight here" class="form-control">#}
                    {#</div>#}
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1" class="lang" key="product type">Product Type</label>
                        <select class="form-control"  name="product_type">
                            <option value="PRODUCT"{% if record[0].product_type == 'PRODUCT' %} selected="selected"{% endif %}>PRODUCT</option>
                            <option value="SERVICE"{% if record[0].product_type == 'SERVICE' %} selected="selected"{% endif %}>SERVICE</option>
                        </select>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="lang" key="opening balance">Opening Balance</label>
                            <input name="opening_balance" value="{{ record[0].OPENING_BALANCE }}"  type="text" id="street" placeholder="Enter Balance" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="lang" key="image">Image</label>
                            IMAGE_NAME
                            <input name="product_pic_old" type="hidden" id="city" value="{{ record[0].IMAGE_NAME }}"  class="form-control">
                            <input name="product_pic" type="file" id="city" placeholder="Enter your Contact Number" class="form-control">
                        </div>
                    </div>


                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" class="lang" key="description">Description</label>
                        <textarea name="description" class="form-control">{{ record[0].DESCRIPTION }}</textarea>
                    </div>



                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                </div>
            </form>
        </div>


    </div>




{% endblock middle %}


</body>
</html>