<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}

{% block middle %}


    <section class="content">


        <a href="/product/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span>Add New Product</span></button></a>

        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="products">PRODUCTS</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">




                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home" class="lang" key="products">Products</a></li>
                            <li><a data-toggle="tab" href="#menu1" class="lang" key="Services">Services</a></li>

                        </ul>
                    
                        <div class="tab-content" style="margin-top:22px">
                            <div id="home" class="tab-pane fade in active">
                                
                                <table id="example" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th class="lang" key="category name">Category Name</th>
                                        <th class="lang" key="Name">Name</th>

                                        <th class="lang" key="weight">Weight</th>
                                        <th class="lang" key="sale price">Sale Price</th>
                                        <th class="lang" key="cost price">Cost Price</th>
                                        <th class="lang" key="opening balance">Opening Balance</th>
                                        <th class="lang" key="Quantity in Hand">Quantity in Hand</th>

                                        <th class="lang" key="action">Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for dat in data %}
                                        {% if(dat.product_type=="PRODUCT") %}
                                            <tr>
                                                <td>{{ dat.CAT_NAME }}</td>
                                                <td>{{ dat.NAME }}</td>

                                                <td>{{ dat.weight }}</td>
                                                <td><span style="float: right">{{ dat.SALE_PRICE }}</span></td>
                                                <td><span style="float: right">{{ dat.COST_PRICE }}</span></td>
                                                <td style="text-align: center; "><span>{{ dat.OPENING_BALANCE }}</span></td>
                                                <td style="background-color: rgba(51, 167, 35, 0.60); text-align: center; color: #ffffff; font-weight: bold; ">{{ dat.quantity_in_hand }}</span></td>

                                                <td>  <a class="btn btn-warning" href="/product/edit/{{dat.PRODUCT_ID }}"><i class="glyphicon glyphicon-pencil"></i></a></td>

                                            </tr>
                                        {% else %}

                                        {% endif %}

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div id="menu1" class="tab-pane fade">
                                <table id="example" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th class="lang" key="category name">Category Name</th>
                                        <th class="lang" key="NAME">Name</th>

                                        <th>Weight</th>
                                        <th class="lang" key="sale price">Sale Price</th>
                                        <th class="lang" key="cost price">Cost Price</th>
                                        <th >Opening Balance</th>
                                        <th >Quantity in Hand</th>

                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for dat in data %}
                                        {% if(dat.product_type=="SERVICE") %}
                                            <tr>
                                                <td>{{ dat.CAT_NAME }}</td>
                                                <td>{{ dat.NAME }}</td>

                                                <td>{{ dat.weight }}</td>
                                                <td><span style="float: right">{{ dat.SALE_PRICE }}</span></td>
                                                <td><span style="float: right">{{ dat.COST_PRICE }}</span></td>
                                                <td style="text-align: center; "><span>{{ dat.OPENING_BALANCE }}</span></td>
                                                <td style="background-color: rgba(51, 167, 35, 0.60); text-align: center; color: #ffffff; font-weight: bold; ">{{ dat.quantity_in_hand }}</span></td>

                                                <td>  <a class="btn btn-warning" href="/product/edit/{{dat.PRODUCT_ID }}"><i class="glyphicon glyphicon-pencil"></i></a></td>

                                            </tr>
                                        {% else %}

                                        {% endif %}

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>






                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>


<script>
    $(document).ready(function(){
//        $( "#myTab" ).tabs({ active: home });
        $('#home').click();
    });
</script>
<script>
        $(document).ready(function() {
            $('#example').DataTable({
  "ordering": false
});
        });
    </script>

{% endblock middle %}

</body>
</html>