<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/hawala/print/{{ sale_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>

    {% if(messages is not empty) %}
    <div class="alert alert-success">
        <p style="text-align: center; font-size:15px"><b>{{ messages }}</b></p>
    </div>

    {% endif %}


    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/payment_schedule/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span>Add Payment Schedule</span></button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                {#<div class="box">#}
                {#    <div class="box-header">#}
                {#        <h3 class="box-title">Details</h3>#}
                {#    </div>#}
                {#    <!-- /.box-header -->#}
                {#    <div class="box-body">#}
                {#        <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/payment_schedule/print" class="btn btn-primary"><i class="fa fa-print"></i></a> </p>#}
                {#    </div>#}
                {#    <!-- /.box-body -->#}
                {#</div>#}

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Plot Schedule</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table  class="table table-bordered table-striped" id="example">


                            <thead>
                            <tr>

                                <th>Project Name</th>
                                <th>Size Name</th>
                                {#<th>Mode Name</th>#}

                                <th>Type</th>
                                {#<th>Amount</th>#}



                                {% if(role=='Admin') or (role=='manager') %}
                                    <th class="lang" key="edit"  style="width: 3%">Edit</th>
                                {% endif %}
                                {% if(role=='Admin')  %}
                                    <th class="lang" key="delete"  style="width: 3%">Delete</th>
                                {% endif %}



                            </tr>
                            </thead>



                            <tbody>
                            {% for schedule in schedules %}
                                <tr>


                                    <td style="width: 15%;">{{ schedule.project_name }}</td>
                                    <td style="width: 15%;">{{ schedule.size_name }}</td>
                                    {#<td style="width: 15%;">{{ schedule.mode_name}}</td>#}

                                    <td style="width: 15%;">{{ schedule.plot_type}}</td>
                                    {#<td style="width: 15%;">{{ schedule.amount}}</td>#}

                                    {% if(role=='Admin') or (role=='manager') %}
                                        <td style="width: 5%;"><a target="_blank" href="/payment_schedule/edit/{{ schedule.schedule_id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
                                    {% endif %}
                                    {% if(role=='Admin')  %}
                                        <td style="width: 5%;"><a  href="/payment_schedule/delete/{{ schedule.schedule_id }}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                    {% endif %}




                                </tr>
                            {% endfor %}

                            </tbody>


                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        $(document).ready(function() {
            $('#example').DataTable({
  "ordering": false
});
        });
    </script>

    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});




    </script>


    <script>
        $(document).ready(function(){
            {% if sale_id is empty %}
            {% else %}
            $('#myModal2').modal('show');
            {% endif %}
        });
    </script>

{% endblock middle %}



</body>

</html>