<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}
{% block middle %}
<!-- Latest compiled and minified CSS -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Trigger the modal with a button -->

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Change Password</h3>
                </div>

                <form role="form" action="/account_head/change_password" method="post">
                    <div class="box-body">
                        {% if msg not undefined %}
                            <div align="center" style="color: red">{{ msg }}</div>
                        {% endif %}

                        {% if msg2 not undefined %}
                            <div align="center" style="color: green">{{ msg2 }}</div>
                        {% endif %}
                        <div class="col-md-12">
                            <div class="form-group" >
                                <label for="exampleInputPassword1">Old Password </label>
                                <input type="password" name="old_password" class="form-control" id="total_rate">
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group" >
                                <label for="exampleInputPassword1">New Password </label>
                                <input type="password" name="new_password" class="form-control" id="password">
                            </div>
                        </div>
                        
                         <div class="col-md-12">
                            <div class="form-group" >
                                <label for="exampleInputPassword1">Confirm Password </label>
                                <input type="password"   class="form-control" id="confirm_password">
                            </div>
                        </div>
                        
                     </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
                    </div>
                 </form>

                    </div>

        </div>
    </div>

</section>

    <script>
        $(document).ready(function(){
            $('#confirm_password').on('change',function(){
                check();
            });
            function check(){
                if($('#password').val()==$('#confirm_password').val()){

                }
                else{
                    alert('Password doest not match');
                    $('#confirm_password').val('');
                }
            }

        });
    </script>

{% endblock middle %}
</body>
</html>