<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}
{% block middle %}
<!-- Latest compiled and minified CSS -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<section class="content">
    <div class="row">
        
        
           <div class="col-md-12">
       <div class="row">



           <div class="col-lg-3 col-xs-6">
               <!-- small box -->
               <div class="small-box bg-yellow">
                   <div class="inner">
                       <h3 id="today_sale"></h3>

                       <p class="lang" key="today sale">Today Sale</p>
                   </div>
                   <div class="icon">
                       <i class="ion ion-person-add"></i>
                   </div>
                   {#<a href="#" class="small-box-footer" style="font-weight: bold; color: white; display: inline-block"><span class="lang" key="monthly_sale"> Monthly Sale</span> &nbsp;<span id="monthly_sale"></span>  </a>#}
                   {#<a href="#" class="small-box-footer" style="font-weight: bold; color: white; display: inline-block; float: right"><span class="lang" key="total_sale"> Total Sale</span> &nbsp;<span id="total_sale"></span>  </a>#}
                   <a href="#" class="small-box-footer">Sale Section </a>

               </div>
           </div>


           <div class="col-lg-3 col-xs-6">
               <!-- small box -->
               <div class="small-box bg-aqua">
                   <div class="inner">
                       <h3 id="today_expense" class="money"></h3>
                       <p class="lang" key="today expense">Today Expense</p>
                   </div>
                   <div class="icon">
                       <i class="ion ion-stats-bars"></i>
                   </div>
                   <a href="#" class="small-box-footer">Expense Section </a>
                   {#<a href="#" class="small-box-footer" style="display: inline-block;"><span style="margin-left: 2px;">Monthly Expense: <b><span id="monthly_expense"></span></b></span></a>#}
                   {#<a href="#" class="small-box-footer money" style="display: inline-block; float: right" class="lang" key="total expense">Total Expense:<b><span id="total_expense_ajax" class="money"></span></b></a>#}
               </div>
           </div>

           <div class="col-lg-3 col-xs-6">
               <!-- small box -->
               <div class="small-box bg-green">
                   <div class="inner">
                       <h3 id="cash_at_bank"></h3>
                       <p class="lang" key="cash at bank">Cash At Bank</p>
                   </div>
                   <div class="icon">
                       <i class="ion ion-stats-bars"></i>
                   </div>
                   <a href="/account_head/all_bank_record" class="small-box-footer">All Bank Record <i class="fa fa-arrow-circle-right"></i></a>
               </div>
           </div>

           <!-- ./col -->

           <!-- ./col -->

           <!-- ./col -->
           <div class="col-lg-3 col-xs-6">
               <!-- small box -->
               <div class="small-box bg-red">
                   <div class="inner">
                       <h3 id="cash_in_hand" >0</h3>
                       <p class="lang" key="Cash In Hand">Cash in Hand</p>
                   </div>
                   <div class="icon">
                       <i class="ion ion-pie-graph"></i>
                   </div>
                   <a href="#" class="small-box-footer">Cash Section </a>
                   {#<a href="#" class="small-box-footer" style="font-weight: bold; color: white; display: inline-block"><span> Receivables</span> &nbsp;<span id="receivable"></span>  </a>#}
                   {#<a href="#" class="small-box-footer" style="font-weight: bold; color: white; display: inline-block; float: right"><span > Payables</span> &nbsp;<span id="payables"></span>  </a>#}

               </div>
           </div>
           <!-- ./col -->
       </div>
   </div>
        
        <div class="col-md-6">
        <div  class="box box-primary">

            <!-- /.box-header -->
            <div class="box-body" >

                <Div style="background-color: rgba(228, 201, 242, 0.29)">
                <div class="col-md-6">
                    <h3>Monthly Expense</h3>
                </div>

                <div class="col-md-6">
                    <h3>Total Expense</h3>
                </div>


                <div class="col-md-6">
                    {% for monthly_expens in monthly_expense %}
                        <h3>{{ monthly_expens.AMOUNT|number_format(0) }}</h3>
                    {% endfor %}
                </div>

                <div class="col-md-6">
                    {% for total_expens in total_expense %}
                    <h3 style="margin-left: 30px">{{ total_expens.AMOUNT|number_format(0) }}</h3>
                    {% endfor %}
                </div>
                </Div>



                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->

            <!-- /.box-footer -->
        </div>
    </div>



    <div class="col-md-6">
        <div  class="box box-primary">

            <!-- /.box-header -->
            <div class="box-body">

                <div class="col-md-6">
                    <h3>Payables</h3>
                </div>

                <div class="col-md-6">
                    <h3>Receivables</h3>
                </div>


                <div class="col-md-6">
                    <h3><span id="payables">0</span></h3>
                </div>

                <div class="col-md-6">
                    <h3 style="margin-left: 30px"><span id="receivable"></span></h3>
                </div>



                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->

            <!-- /.box-footer -->
        </div>
    </div>

        
        <div class="col-md-4">
            <div  class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Today Sale Detail</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Amount</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td>Today's Total Sale</td>
                                {% for today_sal in today_sale %}
                                <td><span class="label label-success" style="font-size: 15px; float: right">{{ today_sal.TODAY_SALE|number_format(0, '.', ',') }}</span></td>
                                {% endfor %}
                            </tr>


                            <tr>

                                <td>Today's Credit Sale</td>
                                {% for today_credit_sal in today_credit_sale %}
                                <td><span class="label label-danger" style="font-size: 15px; float: right">{{ today_credit_sal.TODAY_CREDIT_SALE|number_format(0, '.', ',') }}</span></td>
                                {% endfor %}
                            </tr>
                            <tr>

                                <td>Today's Cash Sale</td>
                                {% for today_cash_sal in today_cash_sale %}
                                <td><span class="label label-info" style="font-size: 15px; float: right">{{ today_cash_sal.TODAY_CASH_SALE|number_format(0, '.', ',') }}</span></td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->

                <!-- /.box-footer -->
            </div>
        </div>


        <div class="col-md-4">
            <div  class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Monthly Sale Detail</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Amount</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td>Monthly Total Sale</td>
                                {% for monthly_sal in monthly_sale %}
                                <td><span class="label label-success" style="font-size: 15px; float: right">{{ monthly_sal.Monthly_SALE|number_format(0, '.', ',') }}</span></td>
                                 {% endfor %}
                            </tr>


                            <tr>

                                <td>Monthly  Credit Sale</td>
                                {% for monthly_credit_sal in monthly_credit_sale %}
                                <td><span class="label label-danger" style="font-size: 15px; float: right">{{ monthly_credit_sal.Monthly_credit_SALE|number_format(0, '.', ',') }}</span></td>
                                {% endfor %}
                            </tr>
                            <tr>

                                <td>Monthly Cash Sale</td>
                                {% for monthly_cash_sal in monthly_cash_sale %}
                                <td><span class="label label-info" style="font-size: 15px; float: right">{{ monthly_cash_sal.Monthly_cash_SALE|number_format(0, '.', ',') }}</span></td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->

                <!-- /.box-footer -->
            </div>
        </div>


        <div class="col-md-4">
            <div  class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Total Sale Detail</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Amount</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td> Total Sale</td>
                                {% for total_sal in total_sale %}
                                <td><span class="label label-success" style="font-size: 15px; float: right">{{ total_sal.TODAY_SALE|number_format(0, '.', ',') }}</span></td>
                                {% endfor %}
                            </tr>


                            <tr>

                                <td>Total Credit Sale</td>
                                {% for total_credit_sal in total_credit_sale %}
                                <td><span class="label label-danger" style="font-size: 15px; float: right">{{ total_credit_sal.TODAY_credit_SALE|number_format(0, '.', ',') }}</span></td>
                                {% endfor %}
                            </tr>
                            <tr>

                                <td>Total Cash Sale</td>
                                {% for total_cash_sal in total_cash_sale %}
                                <td><span class="label label-info" style="font-size: 15px; float: right">{{ total_cash_sal.TODAY_cash_SALE|number_format(0, '.', ',') }}</span></td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->

                <!-- /.box-footer -->
            </div>
        </div>
        
            <div class="col-md-12">
        <div  class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Today's Remainder</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Description</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for remainder in remainders %}

                            <tr>
                                <td style="width: 20%;">{{ remainder.p_name }}</td>

                                <td style="width: 20%;">{{ remainder.DATE|date("m/d/Y") }}</td>


                                <td style="width: 20%;">{{ remainder.AMOUNT }}</td>
                                {% if(remainder.status=='Y') %}
                                    <td style="font-weight: bold; color: #008000"><span class="label label-success" style="font-size: 15px; float: right">Paid</span></td>
                                {% else %}
                                    <td style="font-weight: bold; color: red"><span class="label label-danger" style="font-size: 15px; float: right">Pending</span></td>
                                {% endif %}
                                <td style="width: 40%;">{{ remainder.DESCRIPTION }}</td>
                                {% if(remainder.status=='N') %}
                                <td>  <a class="btn btn-warning" href="/remainder/pay/{{remainder.id }}"><i class="glyphicon glyphicon-pencil"></i> Pay</a></td>
                                {% else %}
                                    <td>  <a class="btn btn-primary" href="/remainder/unpay/{{remainder.id }}"><i class="glyphicon glyphicon-pencil"></i>Unpay</a></td>

                                {% endif %}


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->

            <!-- /.box-footer -->
        </div>
    </div>

    <div class="col-md-12">
        <div  class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Old Unpaid Remainder(overdues)</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Description</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for remainder in previous_remainders %}

                            <tr>
                                <td style="width: 20%;">{{ remainder.p_name }}</td>

                                <td style="width: 20%;">{{ remainder.DATE|date("m/d/Y") }}</td>


                                <td style="width: 20%;">{{ remainder.AMOUNT }}</td>
                                {% if(remainder.status=='Y') %}
                                    <td style="font-weight: bold; color: #008000"><span class="label label-success" style="font-size: 15px; float: right">Paid</span></td>
                                {% else %}
                                    <td style="font-weight: bold; color: red"><span class="label label-danger" style="font-size: 15px; float: right">Pending</span></td>
                                {% endif %}
                                <td style="width: 40%;">{{ remainder.DESCRIPTION }}</td>
                                {% if(remainder.status=='N') %}
                                    <td>  <a class="btn btn-warning" href="/remainder/pay/{{remainder.id }}"><i class="glyphicon glyphicon-pencil"></i> Pay</a></td>
                                {% else %}
                                    <td>  <a class="btn btn-primary" href="/remainder/unpay/{{remainder.id }}"><i class="glyphicon glyphicon-pencil"></i>Unpay</a></td>

                                {% endif %}


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->

            <!-- /.box-footer -->
        </div>
    </div>

        
        </div>
 </section>

{% endblock middle %}
