<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title id="company_name">Hissab ERP</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/../static/admin2/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/../static/admin2/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/../static/admin2/bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/../static/admin2/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/../static/admin2/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/../static/admin2/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
     <style type="text/css">
        .dropdown-menu>li>a {
    color: #777;
    line-height: 27px;
}
        .print .dropdown-menu{
            top: auto;
    bottom: 100%;
    margin-left: 260px;
    width: 211px !important;
    border: 2px solid gray;
    margin-bottom: 20px;
        }
         .save .dropdown-menu{
           top: auto;
    bottom: 100%;
    width: 200px !important;
    border: 1px solid gray;
    margin-bottom: 15px;}


        .foot {
    position: fixed;
    height: 56px;
    bottom: 0px;
    background-color: #393a3d;
    width: 100%;
    margin-left: -16px;
    padding: 9px;
}
.p, .p:active, .p:hover, .p:focus{background-color: #393a3d;
    color: white;
    border-color: #393a3d;
   
    font-size: 18px;
}
 .open>.dropdown-toggle.btn-primary{background-color: #393a3d!important;
    color: white!important;
    border-color: #393a3d!important;
   
    font-size: 18px;}
.p:active{background-color: #393a3d!important;
    color: white!important;
    border-color: #393a3d!important;
   
    font-size: 18px;
}
.b {
    background-color: #393a3d;
    color: white;
    border-radius: 20px;
    border-color: #888585;
    padding: 7px;
    font-size: 18px;
    width: 87px;
}
.b:active{background-color: #393a3d!important;border-color: white!important ; border: 3px solid white}
.b:focus{background-color: #393a3d;}


.b:hover {
    background-color: #393a3d;
    color: white;
    border-radius: 20px;
    border-color: #888585;
    padding: 7px;
    font-size: 18px;
    width: 87px;
}
*:focus {
    outline: 0 !important;

}
button.btn.btn-success.dropdown-toggle.c {
    border-top-right-radius: 21px;
    border-bottom-right-radius: 20px;
}

/*.s:active{
    background: #009a54;
    border: #009a54;
}*/

.s {
    position: relative;
    float: left;
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
}

.s {
   
    padding: 8px;
    font-size: 18px;
    width: 150px;background-color:#2bce04; border:#2bce04
}
.btn-group .btn+.btn{
    width: 40px;
    padding: 8px;
}

.c:hover{background-color:#20d22d; border:#20d22d;padding: 8px!important;}
.s:hover, .s:focus, .s:active {background-color:#20d22d; border:#20d22d;padding: 8px!important;}
.c{background-color:#2bce04; border:#2bce04;padding: 11px;font-size: 18px}
.open>.dropdown-toggle.btn-success, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover{background-color:#20d22d; border:#20d22d}

.shortcut, .shortcut2{
    color: #50a5af;
    float: right;
    display: none;
}


    </style>
    <style>
        @media only screen and (max-width: 768px) {
             .small-box h3 {
    z-index: 5;
    font-size: 20px;
}

h3 {
    font-size: 18px;
}
  
}
    </style>
    
   
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<header class="main-header">
<!-- Logo -->
<a href="/clientdashboard" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>ERP</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Hissab|</b>ERP</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
    <span class="sr-only">Toggle navigation</span>
</a>

<div class="navbar-custom-menu">
<ul class="nav navbar-nav">
<!-- Messages: style can be found in dropdown.less-->


<li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
       Lang <i class="fa fa-caret-down"></i>

    </a>
    <ul class="dropdown-menu">

        <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
                <li>
                    <a class="translate" id="en">ENGLISH
                    </a>
                </li>
                <li>
                    <a class="translate" id="ur">URDU
                    </a>
                </li>
                <li>
                    <a class="translate" id="pr">PERSIAN
                    </a>
                </li>

            </ul>
        </li>

    </ul>
</li>


<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img id="logo2"  src="/../static/login/images/we.png" class="user-image" alt="User Image">
        <span class="hidden-xs" id="company_name2">Malik Ice</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img id="logo3" src="/../static/login/images/we.png" class="img-circle" alt="User Image">


        </li>
        <!-- Menu Body -->
        <li class="user-body">
            <div class="row">

            </div>
            <!-- /.row -->
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">

 <div class="pull-left">
                <a href="/account_head/change_password" class="btn btn-default btn-flat">Chane Password</a>
            </div>

            <div class="pull-right">
                <a href="/" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>

</ul>
</div>
</nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        {##}
        {#<div class="user-panel">#}
        {#    <div class="pull-left image">#}
        {#        <img id="logo_online" src="" class="img-circle" alt="User Image">#}
        {#    </div>#}
        {#    <div class="pull-left info">#}
        {#        <p>{{ online_email }}</p>#}
        {#        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>#}
        {#    </div>#}
        {#</div>#}
        {##}
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">

        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
         <div class="first" style="display: none">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            {#<li class="treeview">#}
                {#<a href="#">#}
                    {#<i class="fa fa-dashboard"></i> <span>Comapny Detail</span>#}
            {#<span class="pull-right-container">#}
              {#<i class="fa fa-angle-left pull-right"></i>#}
            {#</span>#}
                {#</a>#}
                {#<ul class="treeview-menu">#}
                    {#<li><a href="/company/add"><i class="fa fa-circle-o"></i> Add Company</a></li>#}
                    {#<li><a href="/company/list"><i class="fa fa-circle-o"></i> Companies List</a></li>#}
                {#</ul>#}
            {#</li>#}


                    {# khurram comment 7-4-2021 #}
            {#{% for menu in all_menus %}#}
            {#{% if menu.name=='manage_account' %}#}
            {#<li class="treeview">#}
            {#    <a href="#">#}
            {#        <i class="fa fa-pie-chart"></i>#}
            {#        <span class="lang" key="setup">Setup</span>#}
            {#<span class="pull-right-container">#}
            {#  <i class="fa fa-angle-left pull-right"></i>#}
            {#</span>#}
            {#    </a>#}
            {#    <ul class="treeview-menu">#}
                    {#<li><a href="/employees/list"><i class="fa fa-circle-o"></i> Employees</a></li>#}
            {#        {% for menu in all_menus %}#}
            {#        {% if menu.name=='categories' %}#}
            {#        <li><a href="/category/list" ><i class="fa fa-circle-o"></i><span class="lang" key="categories">Categories</span></a></li>#}
            {#        {% endif %}#}
            {#        {% if menu.name=='products' %}#}
            {#        <li><a href="/product/list"><i class="fa fa-circle-o"></i><span class="lang" key="products">Products</span></a></li>#}
            {#         {% endif %}#}
                     
            {#          {% if menu.name=='city' %}#}
            {#                <li><a href="/city/cities"><i class="fa fa-circle-o"></i><span class="lang" key="cities">Cities</span></a></li>#}
            {#            {% endif %}#}
                     
            {#        {% if menu.name=='customers' %}#}
            {#        <li><a href="/customers/list"><i class="fa fa-circle-o"></i><span class="lang" key="customers">Customers</span></a></li>#}
            {#        {% endif %}#}
            {#         {% if menu.name=='fakhar_customers' %}#}
            {#                <li><a href="/fakhar_customers/list"><i class="fa fa-circle-o"></i><span class="lang" key="customers">Customers</span></a></li>#}
            {#            {% endif %}#}
                        
            {#             {% if menu.name=='realestate_customers' %}#}
            {#                <li><a href="/realestate_customers/list"><i class="fa fa-circle-o"></i><span class="lang" key="customers">Customers</span></a></li>#}
            {#            {% endif %}#}
                    
            {#        {% if menu.name=='expense' %}#}
            {#        <li><a href="/account_head/expense"><i class="fa fa-circle-o"></i><span class="lang" key="expense defination"> Expense Defination</span></a></li>#}
            {#        {% endif %}#}
            {#        {% if menu.name=='destinations' %}#}
            {#        <li><a href="/destination/list"><i class="fa fa-circle-o"></i><span class="lang" >Destinations</span></a></li>#}
            {#        {% endif %}#}
            {#        {% if menu.name=='vendors' %}#}
            {#        <li><a href="/vendors/list"><i class="fa fa-circle-o"></i><span class="lang" key="vendors">Vendors</span></a></li>#}
            {#        {% endif %}#}





                 


            {#            {% if menu.name=='plotsizes' %}#}
            {#                <li><a href="/plotsizes/list"><i class="fa fa-circle-o"></i>Plot Sizes</a></li>#}
            {#            {% endif %}#}


            {#            {% if menu.name=='plotfeatures' %}#}
            {#                <li><a href="/plotfeatures/list"><i class="fa fa-circle-o"></i>Plot Feature</a></li>#}
            {#            {% endif %}#}


            {#            {% if menu.name=='plotmaster' %}#}
            {#                <li><a href="/plotmaster/list"><i class="fa fa-circle-o"></i>Plot Master</a></li>#}
            {#            {% endif %}#}


            {#            {% if menu.name=='buildermaster' %}#}
            {#                <li><a href="/buildermaster/list"><i class="fa fa-circle-o"></i>Builder Master</a></li>#}
            {#            {% endif %}#}
                        
            {#               {% if menu.name=='payment_modes' %}#}
            {#                <li><a href="/payment_modes/list"><i class="fa fa-circle-o"></i>Payment Modes</a></li>#}
            {#            {% endif %}#}



            {#         {% if menu.name=='currencies' %}#}
            {#                <li><a href="/currencies/list"><i class="fa fa-circle-o"></i><span class="lang" key="currencies">Currencies</span></a></li>#}
            {#            {% endif %}#}
                        
            {#        {% if menu.name=='bookers' %}#}
            {#             <li><a href="/bookers/list"><i class="fa fa-circle-o"></i>Bookers</a></li>#}
            {#         {% endif %}#}
                    {#<li><a href="/account_head/list"><i class="fa fa-circle-o"></i>Accounts Head</a></li>#}
            {#        {% if menu.name=='account_head' %}#}
            {#            <li class="treeview">#}
            {#                <a href="#">#}
            {#                    <i class="fa fa-circle-o"></i> <span class="lang" key="account head">Accounts Head</span>#}
            {#                    <span class="pull-right-container">#}
            {#                      <i class="fa fa-angle-left pull-right"></i>#}
            {#                    </span>#}
            {#                </a>#}

            {#                <ul class="treeview-menu">#}
            {#                    {% for menu in all_menus %}#}
            {#                    {% if menu.name=='expenses' %}#}
            {#                    <li><a href="/account_head/expense"><i class="fa fa-circle-o"></i> <span class="lang" key="expense">Expense</span></a></li>#}
            {#                    {% endif %}#}
            {#                    {% if menu.name=='banks' %}#}
            {#                    <li><a href="/account_head/bank"><i class="fa fa-circle-o"></i><span class="lang" key="bank">Bank</span></a></li>#}
            {#                    {% endif %}#}
            {#                    {% if menu.name=='cash' %}#}
            {#                    <li><a href="/account_head/cash"><i class="fa fa-circle-o"></i><span class="lang" key="cash">Cash</span></a></li>#}
            {#                    {% endif %}#}
            {#                    {% if menu.name=='income' %}#}
            {#                    <li><a href="/account_head/income"><i class="fa fa-circle-o"></i><span class="lang" key="income">Income</span></a></li>#}
            {#                    {% endif %}#}
            {#                    {% endfor %}#}

            {#                </ul>#}
            {#            </li>#}
            {#        {% endif %}#}

            {#        {% endfor %}#}

            {#    </ul>#}
            {#</li>#}
            {#{% endif %}#}
            {#{% endfor %}#}
                                {# end comment khurram #}
            {% for menu in all_menus %}
             {% if menu.name=='sale' %}
             <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span class="lang" key="sales">Sales </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>

                <ul class="treeview-menu">
                    {% for menu in all_menus %}
                     {% if menu.name=='sale_invoice' %}
                        <li><a href="/sale_invoice/list"><i class="fa fa-circle-o"></i><span class="lang" key="sale invoice"> Sales Invoice</span></a></li>
                     {% endif %}


 {% if menu.name=='hawala' %}
                            <li><a href="/hawala/list"><i class="fa fa-circle-o"></i><span class="lang" key="send hawala">Send Hawala</span></a></li>
                        {% endif %}

                        {% if menu.name=='hawala_receive' %}
                            <li><a href="/hawala_receive/list"><i class="fa fa-circle-o"></i><span class="lang" key="receive hawala">Receive Hawala</span></a></li>
                        {% endif %}

                    {% if menu.name=='union_sale_invoice' %}
                        <li><a href="/union_sale_invoice/list"><i class="fa fa-circle-o"></i><span class="lang" key="union sale invoice">Union Sale Invoice</span></a></li>
                    {% endif %}

                    {% if menu.name=='yy_sale_invoice' %}
                        <li><a href="/yy_sale_invoice/list"><i class="fa fa-circle-o"></i><span class="lang" key="sale invoice">YY Sales Invoice</span></a></li>
                    {% endif %}


                    {% if menu.name=='sale_return' %}
                    <li><a href="/sale_return/list"><i class="fa fa-circle-o"></i><span class="lang" key="sale return"> Sales Return</span></a></li>
                    {% endif %}
                    {% if menu.name=='trip' %}
                    <li><a href="/trip/list"><i class="fa fa-circle-o"></i><span class="lang" > Trip</span></a></li>
                    {% endif %}
                    {% if menu.name=='sale_dollars' %}
                        <li><a href="/sale_dollars/list"><i class="fa fa-circle-o"></i> Sale Dollars</a></li>
                    {% endif %}


                    {% if menu.name=='sale_form_i' %}
                        <li><a href="/sale_form_i/list"><i class="fa fa-circle-o"></i> Sale Form I</a></li>
                    {% endif %}
                    
                      {% if menu.name=='hawala_sale' %}
                            <li><a href="/hawala_sale/list"><i class="fa fa-circle-o"></i><span class="lang" key="hawala sale">Hawala Sale</span></a></li>
                        {% endif %}


                    {% endfor %}
                </ul>

            </li>
            {% endif %}
            {% endfor %}



    {% for menu in all_menus %}
                {% if menu.name=='hawala_menu' %}
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>HAWALA</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                        </a>
                        <ul class="treeview-menu">
                            {% for menu in all_menus %}


                                {% if menu.name=='hawala' %}
                                    <li><a href="/hawala/list"><i class="fa fa-circle-o"></i><span>Send Hawala</span></a></li>
                                {% endif %}

                                {% if menu.name=='hawala_receive' %}
                                    <li><a href="/hawala_receive/list"><i class="fa fa-circle-o"></i><span>Receive Hawala</span></a></li>
                                {% endif %}



                                {% if menu.name=='hawala_sale' %}
                                    <li><a href="/hawala_sale/list"><i class="fa fa-circle-o"></i>Hawala Sale</a></li>
                                {% endif %}


                            {% endfor %}
                        </ul>

                    </li>
                {% endif %}
            {% endfor %}


            {% for menu in all_menus %}
                {% if menu.name=='hawala_exchange_menu' %}
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span >EXCHANGE</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                        </a>
                        <ul class="treeview-menu">
                            {% for menu in all_menus %}



                                {% if menu.name=='hawala_purchase' %}
                                    <li><a href="/hawala_purchase/list"><i class="fa fa-circle-o"></i>Exchange Currency</a></li>
                                {% endif %}

                            {% endfor %}
                        </ul>

                    </li>
                {% endif %}
            {% endfor %}

            {% for menu in all_menus %}
            {% if menu.name=='purchase' %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span class="lang" key="purchase">Purchase</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>

                <ul class="treeview-menu">
                    {% for menu in all_menus %}
                    {% if menu.name=='purchase_invoice' %}
                    <li><a href="/purchase_invoice/list"><i class="fa fa-circle-o"></i><span class="lang" key="purchase invoice"> Purchase Invoice</span></a></li>
                    {% endif %}

                    {% if menu.name=='yy_purchase_invoice' %}
                        <li><a href="/yy_purchase_invoice/list"><i class="fa fa-circle-o"></i>YY Purchase Invoice</a></li>
                    {% endif %}
                    
                     {% if menu.name=='boring_purchase_invoice' %}
                            <li><a href="/boring_purchase_invoice/list"><i class="fa fa-circle-o"></i>Boring Purchase Invoice</a></li>
                        {% endif %}

                    {% if menu.name=='union_purchase_invoice' %}
                        <li><a href="/union_purchase_invoice/list"><i class="fa fa-circle-o"></i>Union Purchase Invoice</a></li>
                    {% endif %}

                    {% if menu.name=='purchase_return' %}
                    <li><a href="/purchase_return/list"><i class="fa fa-circle-o"></i><span class="lang" key="purchase return"> Purchase Return</span></a></li>
                    {% endif %}
                    {% if menu.name=='purchase_dollars' %}
                        <li><a href="/purchase_dollars/list"><i class="fa fa-circle-o"></i> Purchase Dollars</a></li>
                    {% endif %}

                    {% if menu.name=='demand_note' %}
                        <li><a href="/demand_note/list"><i class="fa fa-circle-o"></i> Demand Note</a></li>
                    {% endif %}


                    {% if menu.name=='purchase_form_i' %}
                            <li><a href="/purchase_form_i/list"><i class="fa fa-circle-o"></i> Purchase Form I</a></li>
                    {% endif %}
                    
                    
                        {% if menu.name=='hawala_purchase' %}
                            <li><a href="/hawala_purchase/list"><i class="fa fa-circle-o"></i><span class="lang" key="Hawala Purchase">Hawala Purchase</a></li>
                        {% endif %}

                    {% endfor %}
                </ul>
            </li>

            {% endif %}
            {% endfor %}

            {#{% for menu in all_menus %}#}
            {#{% if menu.name=='damages' %}#}
            {#<li><a href="/damages/list"><i class="fa fa-book"></i> <span class="lang" key="damages">Damages</span></a></li>#}
            {#{% endif %}#}
            {#{% endfor %}#}


            {% for menu in all_menus %}
            {% if menu.name=='vouchers' %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span class="lang" key="voucher">Vouchers</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    {% for menu in all_menus %}
                    {% if menu.name=='voucher_expense' %}
                    <li><a href="/voucher_expense/list"><i class="fa fa-circle-o"></i> <span class="lang" key="expense">Expense</span></a></li>
                    {% endif %}
                    
                      {% if menu.name=='hawala_voucher_expense' %}
                            <li><a href="/hawala_voucher_expense/list"><i class="fa fa-circle-o"></i> <span class="lang" key="expense"> Expense</span></a></li>
                        {% endif %}
                    
                    {% if menu.name=='voucher_income' %}
                    <li><a href="/voucher_income/list"><i class="fa fa-circle-o"></i><span class="lang" key="income">Income</span></a></li>
                    {% endif %}
                    {% if menu.name=='voucher_cash_payment' %}
                    <li><a href="/voucher_cashpayment/list"><i class="fa fa-circle-o"></i><span class="lang" key="cash payment">Cash Payment</span></a></li>
                    {% endif %}
                    {% if menu.name=='voucher_cash_receive' %}
                    <li><a href="/voucher_cashreceive/list"><i class="fa fa-circle-o"></i><span class="lang" key="cash receive">Cash Receive</span></a></li>
                    {% endif %}
                    
                      {% if menu.name=='hawala_cash_receive' %}
                            <li><a href="/hawala_cashreceive/list"><i class="fa fa-circle-o"></i><span class="lang" key="cash receive"> Cash Receive</span></a></li>
                        {% endif %}
                        
                           {% if menu.name=='realestate_cashreceive' %}
                            <li><a href="/realestate_cashreceive/list"><i class="fa fa-circle-o"></i><span> Cash Receive</span></a></li>
                        {% endif %}

                        
                         {% if menu.name=='hawala_cash_payment' %}
                            <li><a href="/hawala_cashpayment/list"><i class="fa fa-circle-o"></i><span class="lang" key="cash payment"> Cash Payment</span></a></li>
                        {% endif %}

                    
                    
                    {% if menu.name=='voucher_bank_deposit' %}
                    <li><a href="/voucher_bankdeposit/list"><i class="fa fa-circle-o"></i><span class="lang" key="bank deposite"> Bank Deposit</span></a></li>
                    {% endif %}

                    {% if menu.name=='yy_voucher_bank_deposit' %}
                        <li><a href="/yy_voucher_bankdeposit/list"><i class="fa fa-circle-o"></i><span class="lang" key="bank deposite">Bank Deposit</span></a></li>
                    {% endif %}


                    {% if menu.name=='voucher_bank_withdraw' %}
                    <li><a href="/voucher_bankwithdraw/list"><i class="fa fa-circle-o"></i><span class="lang" key="bank withdraw">Bank WithDraw</span></a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>

            {% endif %}
            {% endfor %}
                 {#utility#}
           {% for menu in all_menus %}
            {% if menu.name =='users' %}
                        <li class="treeview" style="margin-left:-3px">
                            <a href="#">
                                <i class="fa fa-trash"></i> <span class="lang" key="Utilities">Utilities</span>
                                <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>

                            <ul class="treeview-menu">
                                {% for menu in all_menus %}
                                {% if menu.name=='damages' %}
                                <li><a href="/damages/list"><i class="fa fa-book"></i> <span class="lang" key="damages">Damages</span></a></li>
                                {% endif %}
                                {% if menu.name=='users' %}
                                <li>
                                    <a href="/trash/list"><i class="fa fa-users"></i> <span class="lang" key="trash">Trash</span></a></li>
                                {% endif %}
                                
                                {% endfor %}

                            </ul>
                        </li>
                    {% endif %}

                    {% endfor %}

           {##}
            {% for menu in all_menus %}
            {% if menu.name=='reports' %}
            <li><a href="/reports/all"><i class="fa fa-book"></i> <span  class="lang" key="reports">Reports</span></a></li>
            {% endif %}
            
              {% if menu.name=='hawala_reports' %}
                    <li><a href="/hawala_reports/all"><i class="fa fa-book"></i> <span  class="lang" key="reports">Reports</span></a></li>
                {% endif %}
                
                {# start khurram#}
                
                {% if menu.name=='manage_account' %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span class="lang" key="setup">Setup </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    {#<li><a href="/employees/list"><i class="fa fa-circle-o"></i> Employees</a></li>#}
                    {% for menu in all_menus %}
                    {% if menu.name=='categories' %}
                    <li><a href="/category/list" ><i class="fa fa-circle-o"></i><span class="lang" key="categories">Categories</span></a></li>
                    {% endif %}
                    {% if menu.name=='products' %}
                    <li><a href="/product/list"><i class="fa fa-circle-o"></i><span class="lang" key="products">Products</span></a></li>
                     {% endif %}
                     
                      {% if menu.name=='city' %}
                            <li><a href="/city/cities"><i class="fa fa-circle-o"></i><span class="lang" key="cities">Cities</span></a></li>
                        {% endif %}
                     
                    {% if menu.name=='customers' %}
                    <li><a href="/customers/list"><i class="fa fa-circle-o"></i><span class="lang" key="customers">Customers</span></a></li>
                    {% endif %}
                     {% if menu.name=='fakhar_customers' %}
                            <li><a href="/fakhar_customers/list"><i class="fa fa-circle-o"></i><span class="lang" key="customers">Customers</span></a></li>
                        {% endif %}
                        
                         {% if menu.name=='realestate_customers' %}
                            <li><a href="/realestate_customers/list"><i class="fa fa-circle-o"></i><span class="lang" key="customers">Customers</span></a></li>
                        {% endif %}
                    
                    {% if menu.name=='expense' %}
                    <li><a href="/account_head/expense"><i class="fa fa-circle-o"></i><span class="lang" key="expense defination"> Expense Defination</span></a></li>
                    {% endif %}
                    {% if menu.name=='destinations' %}
                    <li><a href="/destination/list"><i class="fa fa-circle-o"></i><span class="lang" >Destinations</span></a></li>
                    {% endif %}
                    {% if menu.name=='vendors' %}
                    <li><a href="/vendors/list"><i class="fa fa-circle-o"></i><span class="lang" key="vendors">Vendors</span></a></li>
                    {% endif %}





                 


                        {% if menu.name=='plotsizes' %}
                            <li><a href="/plotsizes/list"><i class="fa fa-circle-o"></i><span class="lang" key="plot size">Plot Sizes</span></a></li>
                        {% endif %}


                        {% if menu.name=='plotfeatures' %}
                            <li><a href="/plotfeatures/list"><i class="fa fa-circle-o"></i><span class="lang" key="Plot Feature">Plot Feature</span></a></li>
                        {% endif %}


                        {% if menu.name=='plotmaster' %}
                            <li><a href="/plotmaster/list"><i class="fa fa-circle-o"></i><span class="lang" key="Plot Master">Plot Master</span></a></li>
                        {% endif %}


                        {% if menu.name=='buildermaster' %}
                            <li><a href="/buildermaster/list"><i class="fa fa-circle-o"></i><span class="lang" key="Builder Master">Builder Master</span></a></li>
                        {% endif %}
                        
                           {% if menu.name=='payment_modes' %}
                            <li><a href="/payment_modes/list"><i class="fa fa-circle-o"></i><span class="lang" key="Payment Modes">Payment Modes</span></a></li>
                        {% endif %}



                     {% if menu.name=='currencies' %}
                            <li><a href="/currencies/list"><i class="fa fa-circle-o"></i><span class="lang" key="currencies">Currencies</span></a></li>
                        {% endif %}
                        
                    {% if menu.name=='bookers' %}
                         <li><a href="/bookers/list"><i class="fa fa-circle-o"></i>Bookers</a></li>
                     {% endif %}
                    {#<li><a href="/account_head/list"><i class="fa fa-circle-o"></i>Accounts Head</a></li>#}
                    {% if menu.name=='account_head' %}
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> <span class="lang" key="account head">Accounts Head</span>
                                <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>

                            <ul class="treeview-menu">
                                {% for menu in all_menus %}
                                {% if menu.name=='expenses' %}
                                <li><a href="/account_head/expense"><i class="fa fa-circle-o"></i> <span class="lang" key="expense">Expense</span></a></li>
                                {% endif %}
                                {% if menu.name=='banks' %}
                                <li><a href="/account_head/bank"><i class="fa fa-circle-o"></i><span class="lang" key="bank">Bank</span></a></li>
                                {% endif %}
                                {% if menu.name=='cash' %}
                                <li><a href="/account_head/cash"><i class="fa fa-circle-o"></i><span class="lang" key="cash">Cash</span></a></li>
                                {% endif %}
                                {% if menu.name=='income' %}
                                <li><a href="/account_head/income"><i class="fa fa-circle-o"></i><span class="lang" key="income">Income</span></a></li>
                                {% endif %}
                                {% endfor %}

                            </ul>
                        </li>
                    {% endif %}

                    {% endfor %}

                </ul>
            </li>
            {% endif %}
                
                {# end khurram#}
                
                {% if menu.name=='payment_schedule' %}
                    <li><a href="/payment_schedule/list"><i class="fa fa-book"></i> <span class="lang" key="Payment Schedule">Payment Schedule</span></a></li>
                {% endif %}
                
                       {% if menu.name=='projects' %}
                            <li><a href="/projects/list"><i class="fa fa-circle-o"></i><span class="lang" key="projects">Projects</span></a></li>
                        {% endif %}
                
                
                  {% if menu.name=='booking' %}
                    <li><a href="/booking/list"><i class="fa fa-book"></i> <span >Booking</span></a></li>
                {% endif %}
                
                   {% if menu.name=='hawala_cash_closing' %}
                    <li><a href="/hawala_cash_closing/list"><i class="fa fa-book"></i> <span >Balance Sheet</span></a></li>
                {% endif %}

            {% if menu.name=='remainder' %}
                <li><a href="/remainder/list"><i class="fa fa-book"></i> <span>Remainder</span></a></li>
            {% endif %}
            
               {% if menu.name=='issue' %}
                <li><a href="/issues/list"><i class="fa fa-book"></i> <span>Issue</span></a></li>
            {% endif %}

            {% if menu.name=='receive' %}
                <li><a href="/receives/list"><i class="fa fa-book"></i> <span>Receive</span></a></li>
            {% endif %}

            {% endfor %}

            {% for menu in all_menus %}
            {% if menu.name=='users' %}
           
             {#<li>#}
             {#       <a href="/trash/list">#}
             {#           <i class="fa fa-users"></i> <span class="lang" key="trash">Trash</span>#}
             {#       </a>#}
             {#</li>#}
           
            <li>
                <a href="/users/list">
                    <i class="fa fa-users"></i> <span class="lang" key="users">Users</span>
                </a>
            </li>

             

            {% endif %}
            {% endfor %}
          

        </ul>
          </div>
          
          
        <div class="second" style="display: none">
            <ul class="sidebar-menu tree" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>Amount Head</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/account_head/expense"><i class="fa fa-circle-o"></i><span class="lang" key="expense">Expense</span></a></li>
                        <li><a href="/account_head/bank"><i class="fa fa-circle-o"></i>Bank</a></li>
                         <li><a href="/customers/list"><i class="fa fa-circle-o"></i><span class="lang" key="customers">Customers</span></a></li>
                            <li><a href="/voucher_cashpayment/list"><i class="fa fa-circle-o"></i><span class="lang" key="cash payment">Cash Payment</span></a></li>

                    </ul>
                </li>


                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>Plot Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">



                        <li><a href="/projects/list/Builder"><i class="fa fa-circle-o"></i><span class="lang" key="projects">Projects</span></a></li>
                        <li><a href="/plotsizes/list"><i class="fa fa-circle-o"></i><span class="lang" key="plot size">Plot Sizes</span></a></li>
                        <li><a href="/plotfeatures/list"><i class="fa fa-circle-o"></i><span class="lang" key="Plot Feature">Plot Feature</span></a></li>
                        <li><a href="/plotmaster/list"><i class="fa fa-circle-o"></i><span class="lang" key="Plot Master">Plot Master</span></a></li>
                        <li><a href="/payment_modes/list"><i class="fa fa-circle-o"></i><span class="lang" key="Payment Modes">Payment Modes</span></a></li>
                        <li><a href="/payment_schedule/list"><i class="fa fa-book"></i> <span >Payment Schedule</span></a></li>
                        <li><a href="/realestate_customers/list/Builder"><i class="fa fa-circle-o"></i><span class="lang" key="customers">Customers</span></a></li>
                        <li><a href="/booking/list"><i class="fa fa-book"></i> <span >Booking</span></a></li>
                    </ul>
                </li>



                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>Builing Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/projects/list/Developer"><i class="fa fa-circle-o"></i>Projects</a></li>
                                       <li><a href="/floor/list"><i class="fa fa-circle-o"></i><span class="lang" key="floor">Floor</span></a></li>
                        <li><a href="/buildermaster/list"><i class="fa fa-circle-o"></i><span class="lang" key="Builder Master">Builder Master</span></a></li>

                        <li><a href="/realestate_customers/list/Developer"><i class="fa fa-circle-o"></i><span class="lang" key="customers">Customers</span></a></li>

 <li><a href="/shop_booking/list"><i class="fa fa-book"></i> <span >Booking</span></a></li>
 <li><a href="/real_estate_report/list"><i class="fa fa-book"></i> <span >Reports</span></a></li>







                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>Voucher</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/voucher_expense/list"><i class="fa fa-circle-o"></i> <span class="lang" key="expense">Expense</span></a></li>
                        <li><a href="/realestate_cashreceive/list"><i class="fa fa-circle-o"></i><span class="lang" key="cash receive"> Cash Receive</span></a></li>
                          <li><a href="/voucher_cashreceive/list"><i class="fa fa-circle-o"></i><span class="lang" key="cash receive">General Cash Receive</span></a></li>
                        

                    </ul>
                </li>


                <li><a href="/reports/all"><i class="fa fa-book"></i> <span  class="lang" key="reports">Reports</span></a></li>
                
                
                
                {##}
                
                    {##}
            </ul>

        </div>
          
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    
</section>

<!-- Main content -->
<section class="content">
<!-- Small boxes (Stat box) -->


<!-- /.row -->
<!-- Main row -->
<div class="row">
<!-- Left col -->

     {#<button class="translate" id="en">English</button>#}
     {#<button class="translate" id="ur">Urdu</button>#}

      {#<ul>#}
          {#<li class="lang" key="home">Home</li>#}
          {#<li class="lang" key="about">About us</li>#}
      {#</ul>#}

    {% block middle  %} {% endblock middle %}



<!-- right col -->
</div>
<!-- /.row (main row) -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy;  <a href="https://adminlte.io">Powered by </a></strong> TechTrack | HMIS360 (Pvt) Limited.
</footer>

<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="/../static/admin2/bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<!-- jQuery 3 -->
<script src="/../static/admin2/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/../static/admin2/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="/../static/admin2/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/../static/admin2/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/../static/admin2/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/../static/admin2/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/../static/admin2/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/../static/admin2/dist/js/demo.js"></script>




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>




<script>
    $(function () {
        setNavigation();
    });

    function setNavigation() {
        var path = window.location.pathname;
        path = path.replace(/\/$/, "");
        path = decodeURIComponent(path);
        $(".treeview a").each(function () {
            var href = $(this).attr('href');
            if(path.substring(0, href.length) === href){
                $(this).closest('li').addClass('active');
                $(this).closest('.treeview').addClass('active');
            }

        });
    }
</script>


<script>
    $(document).ready(function() {
        $('#example').DataTable({
            "order": [[ 3, "desc" ]];
        });
    });
</script>

<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/cash_in_hand",
            success:function(response){
                $('#cash_in_hand').text("");
                var x=addCommas(response);
                $('#cash_in_hand').append(x);
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/cash_at_bank2",
            success:function(response){
                response=(response);
                var x=addCommas(response);
                $('#cash_at_bank').append(x);
            }
        });

          $.ajax({
            'type':'Get',
            'url':"/account_head/get_logo",
            success:function(response){

                if(response==""){
                    $('#logo_online').attr("src","../static/img/hissablogo.png");
                    $('#logo2').attr("src","../static/img/hissablogo.png");
                    $('#logo3').attr("src","../static/img/hissablogo.png");
                }
                else{
                    $('#logo_online').attr("src","../static/img/"+response);
                    $('#logo2').attr("src","../static/img/"+response);
                    $('#logo3').attr("src","../static/img/"+response);
                }

            }
        });

        $.ajax({
            'type':'Get',
            'url':"/account_head/get_company_name",
            success:function(response){
                $('#company_name').text('Hissab ERP | '+response);
                $('#company_name2').text(response);
            }
        });


//        $('#logo_online').attr("src","../static/img/hissablogo.png");
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/today_sale",
            success:function(response){
                var x=addCommas(response);
                $('#today_sale').append(x);
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/total_sale",
            success:function(response){
                var x=addCommas(response);
                $('#total_sale').append(x);
            }
        });
    });
</script>

<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/monthly_sale",
            success:function(response){
                var x=addCommas(response);
                $('#monthly_sale').append(x);
            }
        });
    });

</script>

<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/total_expense_ajax",
            success:function(response){
//                $('#total_expense_ajax').append(response);
//                $('#total_expense_ajax').mask("#,###", {reverse: true});
                var x=addCommas(response);
                $('#total_expense_ajax').append(x);
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/monthly_expense",
            success:function(response){
                var x=addCommas(response);
                $('#monthly_expense').append(x);
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/today_expense",
            success:function(response){
                var x=addCommas(response);
                $('#today_expense').append(x);
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/receivables",
            success:function(response){
                var x=addCommas(response);
                $('#receivable').append(x);
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
           $.ajax({
            'type':'Get',
            'url':"/account_head/getcompany",
            success:function(response){
              if(response==69){
                 $('.second').show();
              }
                else{
                   
                  $('.first').show();
              }
            }
        });
        
        $.ajax({
            'type':'Get',
            'url':"/account_head/payables",
            success:function(response){
                $('#payables').text("");
                var x=addCommas(response);
                $('#payables').append(x);
            }
        });

    });
</script>

<script>
   var arrLang={
     'en':{
          'home':'Home',
           'about':'About Us',
           'sales':'Sales',
           'NAME':'NAME',
           'sales':'Sales',
           'setup':'Setup',
           'categories':'Categories',
           'description':'Description',
           'action':'Action',
           'products':'Products',
           'category name':'Category Name',
           'sale price':'Sale Price',
           'cost price':'Cost Price',
           'customers':'Customers',
           'email':'Email',
           'contact number':'Contact Number',
           'opening balance':'Opening Balance',
           'expense defination':'Expense Defination',
           'sale invoice':'Sales Invoice',
           'date':'Date',
           'payment type':'Payment Type',
           'discount':'Discount',
           'total':'Total',
           'voucher':'Vouchers',
           'expense':'Expense',
            'amount':'Amount',
            'cash receive':'Cash Receive',
         'party name':'Party Name',
         'total expense':'Total Expense',
         'today sale':'Today Sale',
         'receivable':'Receivable',
         'reports':'Reports',
         'users':'Users',
         'edit':'Edit',
         'delete':'Delete',
         'monthly_sale':'Monthly Sale',
         'add new customer':'Add New Customer',
         'add expense':'Add Expense',
         'add new sale':'Add New Sale',
         'time':'Time',
         'product name':'Product Name',
         'QTY':'QTY',
         'type':'Type',
         'unit price':'Unit Price',
         'discount':'Discount',
         'gross amount':'Gross Amount',
         'net amount':'Net amount',
         'parties':'Parties',
         'last balance':'Last Balance',
         'contact number':'Contact Number',
         'password':'Password',
         'role':'Role',
         'view':'View',
         'sale invoice report':'Sale Invoice Report',
         'expense report':'Expense Report',
         'cash receive report':'Cash Receive Report',
         'expense complete report':'Expense Complete Report',
         'party ledger report':'Party Ledger Report',
         'projects':'Projects',
         'damages':'Damages',
         'trash':'Trash',
         'purchase':'Purchase',
         'Payment Schedule':'Payment Schedule',
         'sale return':'Sales Return',
         'union sale invoice':'Union Sales Invoice',
         'send hawala':'Send Hawala',
         'receive hawala':'Receive Hawala',
         'hawala sale':'Hawala Sales',
         'purchase invoice':'Purchase Invoice',
         'purchase return':'Purchase Return',
         'Hawala Purchase':'Hawala Purchase',
         'income':'Income',
         'cash payment':'Cash Payment',
         'bank withdraw':'Bank WithDraw',
         'bank deposite':'Bank Deposite',
         'vendors':'Vendors',
         'account head':'Accont Head',
         'currencies':'Currencies',
         'cities':'Cities',
         'plot size':'Plot Sizes',
         'Plot Feature':'Plot Feature',
         'Plot Master':'Plot Master',
         'Builder Master':'Builder Master',
         'Payment Modes':'Payment Modes',
         'cash':'Cash',
         'bank':'Bank',
         'Utilities':'Utilities',
         'today expense':'Today Expense',
         'cash at bank':'Cash At Bank',
         'Cash In Hand':'Cash In Hand'
            
     },
       'ur':{
           'Cash In Hand':'ہاتھ میں کیش',
           'cash at bank':'بینک میں نقد',
           'today expense':'آج کے اخراجات',
           'Utilities':'افادیت',
           'bank':'بینک',
           'cash':'نقد',
           'Payment Modes':'ادائیگی کے طریقے',
           'Builder Master':'بلڈر ماسٹر',
           'Plot Master':'پلاٹ ماسٹر',
           'Plot Feature':'پلاٹ کی خصوصیت',
           'plot size':'پلاٹ کا سائز',
           'cities':'شہر',
           'currencies':'کرنسی',
           'account head':'اکاؤنٹ ہیڈ',
           'vendors':'فروش',
           'bank deposite':'بینک ڈپازٹ',
           'bank withdraw':'بینک واپسی',
           'cash payment':'نقد ادائیگی',
           'income':'آمدنی',
           'Hawala Purchase':'حوالہ خریداری',
           'purchase return':'خریداری واپسی',
           'purchase invoice':'انوائس کی خریداری',
           'hawala sale':'حوالہ فروخت',
           'receive hawala':'حوالہ وصول کریں',
           'send hawala':'حوالہ بھیج دو',
           'union sale invoice':'یونین فروخت انوائس',
           'sale return':'فروخت واپسی',
           'Payment Schedule':'ادائیگی کے شیڈول',
            'home':'ghar',
            'projects':'پروجیکٹ',
            'setup':'ترتیب و تنظیم',
            'trash':'ردی کی ٹوکری',
            'purchase':'خریداری',
            'damages':'نقصانات',
            'about':'hamarey barey me',
            'sales':'فروخت',
            'Name':'نام',
            'manage account':'اکاؤنٹ کی تفصیل',
            'categories':'اقسام',
            'description':'تفصیل',
            'action':'عمل',
            'products':'مصنوعات',
            'category name':'قسم کا نام',
            'sale price':'قیمت فروخت',
            'cost price':'قیمت کی قیمت',
            'customers':'گاهک',
            'email':'ای میل',
            'contact number':'رابطہ نمبر',
            'opening balance':'افتتاحی بقیہ',
            'expense defination':'اخراجات کی وضاحت',
            'sale invoice':'فروخت کی رسید',
            'date':'تاریخ',
            'payment type':'ادائیگی کی قسم',
            'discount':'ڈسکاؤنٹ',
            'total':'کل',
           'voucher':'واؤچر',
            'expense':'خرچہ',
            'amount':'رقم',
            'cash receive':'نقد وصول',
           'party name':'پارٹی کا نام',
           'total expense':'کل اخراجات',
           'today sale':'آج کی فروخت',
           'receivable':'رقم وصول',
           'reports':'رپورٹس',
           'users':'صارفین',
           'edit':'ترمیم',
           'delete':'حذف',
           'monthly_sale':'ماہانہ فروخت',
           'add new customer':'نیا کسٹمر شامل کریں',
           'add expense':'اخراجات شامل کریں',
           'add new sale':'نئی فروخت شامل کریں',
           'time':'وقت',
           'product name':'پروڈکٹ کا نام',
           'QTY':'مقدار',
           'type':'قسم',
           'unit price':'اکائی قیمت',
           'discount':'ڈسکاؤنٹ',
           'gross amount':'مجموعی رقم',
           'net amount':'اصل رقم',
           'parties':'پارٹی کا نام',
           'last balance':'آخری رقم',
           'contact number':'رابطہ نمبر',
           'password':'پاس ورڈ',
           'role':'کردار',
           'view':'ملاحظہ کریں',
           'sale invoice report':'فروخت انوائس کی رپورٹ',
           'expense report':'اخراجات کی رپورٹ',
           'cash receive report':'نقد رقم کی رپورٹ',
           'expense complete report':'خرچ مکمل رپورٹ',
           'party ledger report':'پارٹی لیجر رپورٹ'
       },
        'pr':{
        'home':'خانه',
        'vendors':'فروشندگان',
        'weight':'وزن',
        // 'Opening Balance':'تعادل باز',
        'Quantity in Hand':'مقدار در دست',
        'Services':'خدمات',
        'image':'تصویر',
         'unit':'واحد',
         'quantity':'تعداد',
        'sale unit':'واحد فروش',
        'unit Quantity':'مقدار واحد',
        'product type':'نوع محصول',
        'city':'شهر',
        'address':'نشانی',
        'currencies':'ارزها',
        'add new currency':'اضافه کردن ارز جدید',
        'cities':'شهرها',
        'sign':'امضاء کردن',
        'add new city':'اضافه کردن شهر جدید',
        'city name':'نام شهر',
        'account head':'سر حساب',
        'bank':'بانک',
        'income':'درآمد',
        'cash':'پول نقد',
        'add bank detail':'جزئیات بانک را اضافه کنید',
        'banks':'بانک ها',
        'edit bank':'ویرایش بانک',
        'add cash':'اضافه کردن پول نقد',
        'add cash detail':'جزئیات پول را اضافه کنید',
        'edit cash':'ویرایش پول نقد',
        'edit expense':'هزینه ویرایش',
        'sale':' فروش',
        'add sale invoice':'فاکتور فروش را اضافه کنید',
        'payment':'پرداخت',
        'customer name':'نام مشتری',
        'freight':'حمل و نقل',
        'edit sale invoice':'فاکتور فروش را ویرایش کنید',
        'sale return':'بازده فروش',
        'union sale invoice':'فاکتور فروش اتحادیه',
        'send hawala':'هالا بفرست',
        'receive hawala':'هالا دریافت کنید',
        'purchase':'خرید',
        'purchase invoice':'فاکتور خرید',
        'purchase return':'بازگشت خرید',
        'damages':'خسارت',
        'sale invoice detail':'جزئیات فاکتور فروش',
        'add return invoice':'فاکتور بازگشت را اضافه کنید',
        'invoice number':'شماره فاکتور',
        'search by invoice number':'با شماره فاکتور جستجو کنید',
        'serial no':'شماره سریال',
        'internal notes':'یادداشت های داخلی',
        'external notes':'یادداشتهای خارجی',
        'tax':'مالیات',
        'net amount':'مقدار خالص',
        'adit return invoice':'فاکتور بازگشت آگهی',
        'booker name':'نام بوکر',
        'Add Union Sale Invoice':'فاکتور فروش اتحادیه را اضافه کنید',
        'tax invoice':'فاکتور مالیات',
        'Edit Union Sale Invoice':'فاکتور فروش اتحادیه را ویرایش کنید',
        'Hawala List':'لیست هاولا',
        'add hawala':'حوا را اضافه کنید',
        'hawala no':'حواله نه',
        'customer type':'نوع مشتری',
        'from customer':'از مشتری',
        'to customer':'به مشتری',
        'hawala currency':'واحد پول حواله',
        'hawala amount':'مقدار هاولا',
        'hawala commission':'اشتراک هوالا',
        'commission':'کمیسیون',
        'Hawala pass To':'حواله عبور به',
        'print':'چاپ',
        'total payment':'مبلغ کل قابل پرداخت',
        'hawala form':'فرم هاوالا',
        'to name':'به نام',
        'from name':'از نام',
        
        'commission currency':'ارز کمیسیون',
        'remarks':'ملاحظات',
        'conversion':'تبدیل',
        'conversion currency':'ارز تبدیل',
        'exchange rate':'قیمت ارز',
        'Edit Hawala Form':'ویرایش فرم هاوالا',
        'total amount':'مقدار کل',
        'add hawala receiv':'رسید هاله را اضافه کنید',
        'Receive Hawala List':'لیست هاوالا را دریافت کنید',
        'Hawala Receive Form':'فرم دریافت هووالا',
        'cnic':'قنادی',
        'Edit Hawala Form':'ویرایش فرم هاوالا',
        'Purchase Invoice':'فاکتور خرید',
        'add new':'جدید اضافه کن',
        'voucher':'کوپن',
        'Add Purchase Invoice':'فاکتور خرید را اضافه کنید',
        'Purchase Return':'بازگشت خرید',
        'Add Purchase Return':'بازگشت خرید را اضافه کنید',
        'Damages List':'لیست خسارات',
        'Add Damage Details':'جزئیات خسارت را اضافه کنید',
        'damage number':'شماره خسارت',
        'add expense':'هزینه اضافه کنید',
        'voucher number':'شماره برگه تخفیف',
        'manual number':'شماره کتابچه راهنمای کاربر',
        'edit expense':'هزینه ویرایش',
        'add income':'درآمد را اضافه کنید',
        'edit income':'درآمد را ویرایش کنید',
        'cash receive':'دریافت پول',
        'add cash receive':'دریافت وجه نقد را اضافه کنید',
        'edit cash receive':'دریافت وجه نقد را ویرایش کنید',
        'add cash payment':'پرداخت نقدی را اضافه کنید',
        'edit cash payment':'پرداخت وجه نقد را ویرایش کنید',
        'cash payment':'پرداخت نقدی',
        'bank withdraw':'برداشت بانک',
        'bank name':'نام بانک',
        'add bank withdraw':'برداشت بانک اضافه کنید',
        'cash in bank':'وجه نقد در بانک',
        'edit bank withdraw':'برداشت بانک برداشت',
        'cash in hand':'پول در دست',
        'bank deposites':'سپرده های بانکی',
        'add bank deposite':'سپرده بانکی را اضافه کنید',
        'edit bank deposite':'واریز سپرده بانکی را ویرایش کنید',
        'currency':'واحد پول',
        'hawala cash receive':'دریافت وجه نقد هوالا',
        'hawala cash payment':'پرداخت نقدی هوالا',
        'bank deposite':'سپرده بانکی',
        'trash':'زباله ها',
        'trash list':'لیست سطل زباله',
        'deleted by':'حذف شده توسط',   
        'type':'نوع',
        'invoice':'صورتحساب',
        'users list':'لیست کاربران',
        'add new user':'کاربر جدید اضافه کنید',
        'edit user':'ویرایش کاربر',
        'bill to':'قبض به',
        'rate':'نرخ',
        'dis':'دیس',
        'gross total':'مجموع ناخالص',
        'net total':'کل خالص',
        'monthly sale report':'گزارش فروش ماهانه',
        'from':'از جانب',
        'to':'به',
        'Sale Missing Invoice Report':'گزارش فاکتور موجود نیست',
        'City Wise Receivable Report':'گزارش دریافتنی خرد شهری',
        'category wise sale report':'گزارش فروش خرد گروه',
        'price list report':'گزارش لیست قیمت',
        'city wise receivable':'دریافتنی عاقلانه شهر',
        'category wise profite report':'گزارش سودمند طبقه',
        'profit and loss report':'گزارش سود و زیان',
        'category wise stock report':'گزارش سهام خرد',
        'bank ledger report':'گزارش رهبر بانک',
        'demage report':'گزارش خرابی',
        'expense complete report':'گزارش کامل هزینه',
        'profit loss report':'گزارش ضرر سود',
        'bank withdraw report':'گزارش برداشت بانک',
        'Expense Headwise Report':'گزارش سرانه هزینه',
        'expense name':'نام هزینه',
        'Bank Deposit Report':'گزارش سپرده بانکی',
        'Cash Receive Report':'گزارش دریافت پول',
        'income report':'گزارش درآمد',
        'Expense Report':'گزارش هزینه',
        'Purchase Return Report':'گزارش بازگشت خرید',
        'Purchase Invoice Report':'گزارش فاکتور خرید',
        'Sale Return Report':'گزارش بازده فروش',
        'Sale Invoice Report':'گزارش فاکتور فروش',
        'report section':'بخش گزارش',
        'Expense Headwise Report':'گزارش سرانه هزینه',
        'Expense Complete Report':'گزارش سرانه هزینه',
        'Cash Payment Report':'گزارش پرداخت نقدی',
        'Customer List  Report':'گزارش لیست مشتری',
        'Receivable  Report':'گزارش دریافتنی',
        'Payable  Report':'گزارش قابل پرداخت',
        'Income Expense Report':'گزارش هزینه درآمد',
        'Stock  Report':'گزارش سهام',
        'Simple Stock  Report':'گزارش سهام ساده',
        'Invoice Date':'تاریخ فاکتور',
        'Invoice time':'زمان فاکتور',
        'price':'قیمت',
        'total items':'کل موارد',
        'amount in words':'مبلغ به حروف',
        'expense voucher':'کوپن هزینه',
        'Bank Withdraw Voucher':'کوپن برداشت بانک',
        'Cash Received Voucher':'وجه نقدی دریافت کرد',
        'Cash Payment Voucher':'کوپن پرداخت نقدی',
        'Income Voucher':'کوپن درآمد',
        'Hawala Purchase':'خرید هاوالا',
        'Hawala Purchase List':'لیست خرید هاوالا',
        'from currency':'از ارز',
        'to currency':'به ارز',
        'hawala purchase form':'فرم خرید هاوالا',
        'Hawala Purchase Edit Form':'فرم ویرایش خرید هاوالا',
        'union trader sale invoice':'فاکتور فروش تاجر اتحادیه',
        'Status':'وضعیت',
        'hawala sale':'فروش هاوالا',
        'Hawala Sale List':'لیست فروش هاوالا',
        'add hawala sale':'فروش هاولا را اضافه کنید',
        'Hawala Sale Form':'فرم فروش هاوالا',
        'Hawala Sale Edit Form':'فرم ویرایش فروش هاوالا',
        'sign':'امضاء کردن',
        'load currency':'ارز بار',
        'owner check':'بررسی مالک',
        'customer code':'کد مشتری',
        'sale section':'بخش فروش',
        'today expense':'هزینه امروز',
        'expense section':'بخش هزینه',
        'cash at bank':'پول در بانک',
        'all bank record':'همه سوابق بانکی',
        'cash section':'بخش نقدی',
        'edit currency':'ویرایش ارز',
        'receive form':'دریافت فرم',
        'Hawala to':'هاوالا به',
        'Hawala Expense':'هزینه هاوالا',
        
        
        
        
        
        
            'about':'در باره',
            'sale':'فروش',
            'Name':'نام',
            'manage account':'مدیریت حساب',
            'categories':'دسته بندی ها',
            'description':'شرح',
             'action':'عمل',
             'products':'محصولات',
            'category name':'نام دسته',
            'sale price':'قیمت فروش ',
            'cost price':'قیمت هزینه',
            'customers':'مشتریان' ,
            'email':'پست الکترونیک' ,
            'contact number':'شماره تماس', 
            'opening balance':'تعادل باز' ,
            'expense defination':'تعریف هزینه',
            'sale invoice':'فاکتور فروش',
            'date':'تاریخ',
            'payment type':'نوع پرداخت',
            'discount':'تخفیف',
            'total':'جمع',
           'voucher':'کوپن',
            'expense':'هزینه',
            'amount':'میزان',
            'cash receive':'دریافت پول',
           'party name':'نام مهمانی',
           'total expense':'هزینه کل',
           'today sale':'فروش امروز',
           'receivable':'دریافتنی',
           'reports':'گزارش ها',
           'users':'کاربران',
           'edit':'ویرایش کنید',
           'delete':'حذف',
           'monthly_sale':'فروش ماهانه',
           'add new customer':'مشتری جدید اضافه کنید',
           'add expense':'هزینه اضافه کنید',
           'add new sale':'فروش جدید اضافه کنید',
           'time':'زمان',
           'product name':'نام محصول',
           'QTY':'تعداد',
           'type':'نوع',
           'unit price':'قیمت واحد',
           'discount':'تخفیف',
           'gross amount':'مقدار ناخالص',
           'net amount':'مقدار خالص',
           'parties':'مهمانی',
           'last balance':'تعادل آخر',
           'contact number':'شماره تماس',
           'password':'کلمه عبور',
           'role':'نقش',
           'view':'چشم انداز',
           'sale invoice report':'گزارش فاکتور فروش',
           'expense report':'گزارش هزینه',
           'cash receive report':'گزارش دریافت پول',
           'expense complete report':'گزارش کامل هزینه',
           'party ledger report':'گزارش دفتر حزب'
       }
   };

    $(function(){
      $('.translate').click(function(){
//          document.cookie = $(this).attr('id');
          Cookies.set('name', $(this).attr('id'));

            var lang=$(this).attr('id');
            $('.lang').each(function(index,element){
             $(this).text(arrLang[lang][$(this).attr('key')]);
          });
      });
    });
    $(document).ready(function(){

       var res =  Cookies.get('name');;
//        alert(cookies)

//        alert(res);
        if(res=='ur'){
            var lang='ur';
            $('.lang').each(function(index,element){
                $(this).text(arrLang[lang][$(this).attr('key')]);
            });

        }
        else if(res=='en'){
            var lang='en';
            $('.lang').each(function(index,element){
                $(this).text(arrLang[lang][$(this).attr('key')]);
            });
        }
        else if(res=='pr'){
            var lang='pr';
            $('.lang').each(function(index,element){
                $(this).text(arrLang[lang][$(this).attr('key')]);
            });
        }
    });
</script>


<script type="text/javascript">

    $('.money').mask("#,###", {reverse: true});

</script>
<script>
    function khan(){
        $('.money').mask("#,###", {reverse: true});
    }
</script>
<script>
    function addCommas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;

    }
</script>

<script>
    document.onload = setTimeout(function () {  khan(); }, 2000);
</script>

</body>
</html>
