<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            border-radius: 10%;
            float: right;
            margin-right: 15px
        }


    </style>
    <title></title>
</head>
<body>
<div id="main" style="border:2px solid black; border-radius:20px">

    <div>

        <div style="display: inline-block; width: 55%">

            <p style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px; font-size:15px">Address : <span>Warsak Road</span></p>
            <p style="margin-top: 0px; margin-bottom: 0px;  margin-left: 10px; font-size:15px">Office No : <span>395</span></p>
            <p style="margin-top: 0px; margin-bottom: 0px;  margin-left: 10px; font-size:15px">Telephone No : <span>{{ session.contact }}</span></p>
            <p style="margin-top: 0px; margin-bottom: 0px;  margin-left: 10px; font-size:15px">Email : <span>{{ session.email }}</span></p>
        </div>

        <div style="float: right; width: 40%; margin-top: 5px">
            <img src="/../static/img/{{ session.logo }}" width="80px" height="95px" >
            <h4 style="float: right; margin-top: 40px" >{{ session.name }} &nbsp; </h4>
        </div>

    </div>


    <hr>

    <div id="payment" style="width:100%"><center><h3 style="border:3px solid black; width:25%; align:center; border-radius:20px">Payment Receipt</h3></center>
    </div>

    <div id="leftside" style="margin-left: 1%; float: left; width: 50%">
        <p>Receipt No : <span>{{ data[0].VOUCHER_NO }}</span></p>

        <p>Received From : <span>{{ data[0].party_name }}</span></p>

        <p>Last Balance : <span>1212121</span></p>

    </div>


    <div id="rightside" style="width: 49%; float: right">
        <div style="margin-left: 50%">
            <p>Date : <span>{{ data[0].VOUCHER_DATE|date("m/d/Y") }}</span></p>
            <p>Amount : <span>{{ data[0].AMOUNT }}</span></p>
            <p>Manual Number : <span>{{ data[0].MANUAL_NUMBER }}</span></p>
        </div>
    </div>

    <div style="float:left; margin-left:10px"><p>Description : <span>{{ data[0].DESCRIPTION }}</span></p></div>








    <div style="min-height: 710px">


    </div>
    <!--
    <script>

        window.onload = function () {
            window.print();
        }

    </script>
    -->

    <h4 style="text-align: center ">Copyright : Tech Track</h4>
</div>

<script>
    window.onload = function () {
        window.print();
    }
</script>

</body>
</html>
