<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}
{% block middle %}
<!-- Latest compiled and minified CSS -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: red"><strong>Alert</strong></h4>
            </div>
            <div class="modal-body">
                <p><strong>The price cant not be less the cost price.</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="myModal2" class="modal fade" role="dialog"  >
    <div class="modal-dialog" style="margin-top: 18%;">

        <!-- Modal content-->
        <div class="modal-content" style="width: 90%;">

            <div class="modal-body">
                <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/sale_invoice/print/{{ sale_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
            </div>

        </div>

    </div>
</div>



<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Purchase Dollar</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="/purchase_dollars/store" method="post">
                    <div class="box-body">



                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Transaction  #</label>
                                <input value="{{ transaction_number }}" style="color: green; font-weight: bold; font-size: 20px" type="text" name="transaction_number" class="form-control" id="exampleInputEmail1"  >
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="lang" key="date">Invoice Date</label>
                                <input type="date" value="" name="date" class="form-control" id="theDate" placeholder="Enter Category Name">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group" >
                                <label for="exampleInputEmail1" class="lang" key="time">Time</label>
                                <input name="time" style="font-weight: bold; color: green;font-size: 19px"  readonly type="timer" value="" class="form-control" id="timer">
                            </div>
                        </div>

                        <hr style="color: black; width: 100%">



                        <div class="col-md-6">
                            <div class="form-group" >
                                <label for="exampleInputPassword1">Party Name</label>
                                <select class="form-control" name="party_id">
                                    <option value="counter_sale">Select Customer</option>
                                    {% for customer in customers %}
                                        <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}</option>
                                    {% endfor %}
                                </select>
                                </div>

                            <div class="form-group" >
                                <label for="exampleInputPassword1">Party Amount in Dollar</label>
                                <input type="text" name="party_amount" class="form-control" id="party_amount">
                            </div>

                            <div class="form-group" >
                                <label for="exampleInputPassword1">Dollar Rate</label>
                                <input type="text" name="party_rate" class="form-control" id="party_dollar_rate" value="1">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Party Total</label>
                                <input style="color: green; font-weight: bold; font-size: 20px" type="text" name="total_party_amount" class="form-control" id="party_total" readonly value="0"  >
                            </div>

                        </div>







                        <div class="col-md-6">
                            <div class="form-group" >
                                <label for="exampleInputPassword1">Bank Name</label>
                                <select class="form-control" name="account_id">
                                    <option value="counter_sale">Select Bank</option>
                                    {% for bank in banks %}
                                        <option value="{{ bank.ACCOUNT_ID }}"> {{ bank.NAME }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group" >
                                <label for="exampleInputPassword1">Bank Amount in Dollar</label>
                                <input type="text" name="bank_amount" class="form-control" id="bank_amount">
                            </div>

                            <div class="form-group" >
                                <label for="exampleInputPassword1">Dollar Rate</label>
                                <input type="text" name="bank_rate" class="form-control" id="bank_dollar_rate" value="1">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Bank Total</label>
                                <input style="color: green; font-weight: bold; font-size: 20px" type="text" name="total_bank_amount" class="form-control" id="bank_total" readonly value="0"   >
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Difference</label>
                                <input type="text" name="difference" class="form-control" id="difference">
                           </div>
                        </div>



                        <hr style="width: 100%;">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Tax Rate</label>
                                <input type="text" name="tax_rate" class="form-control" id="tax_rate">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Total Rate</label>
                                <input type="text" name="total_tax_amount" class="form-control" id="total_rate">
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Net Amount</label>
                                <input type="text" name="net_amount" class="form-control" id="net_amount">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Per Dollar</label>
                                <input type="text" name="per_dollar_rate" class="form-control" id="per_dollar">
                            </div>
                        </div>


                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        $(document).ready(function(){
            {% if sale_id is empty %}
            {% else %}
            $('#myModal2').modal('show');
            {% endif %}

            $('#party_amount,#party_dollar_rate').on('input',function(){
               var value=$('#party_amount').val();
               var party_dollar_rate=$('#party_dollar_rate').val();
               $('#party_total').val(value*party_dollar_rate);

                khan();
            });

            $('#bank_amount,#bank_dollar_rate').on('input',function(){
                var value=$('#bank_amount').val();
                var bank_dollar_rate=$('#bank_dollar_rate').val();
                $('#bank_total').val(value*bank_dollar_rate);

                khan();

            });


            $('#tax_rate').on('input',function(){
                var tax_rate=$('#tax_rate').val();
                var difference=$('#difference').val();
                var bank_amount=$('#bank_amount').val();
                $('#total_rate').val( tax_rate * bank_amount);
                var total_rate= $('#total_rate').val();
                $('#net_amount').val(parseInt(difference) + parseInt(total_rate));
                var net_amount=$('#net_amount').val();
                $('#per_dollar').val(net_amount/bank_amount).toFixed(2);


            });
            function khan(){

                var party_total=$('#party_total').val();
                var bank_total=$('#bank_total').val();

                $('#difference').val(party_total -  bank_total);
            }
        });

    </script>

    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>
{% endblock middle %}
</body>
</html>