<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>



    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/purchase_dollars/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" >Add Purchase Dollar</span></button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" >Purchase Dollar List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width: 15%">Invoice #</th>
                                <th style="width: 20%" >Party Name</th>
                                <th style="width: 10%" class="lang" key="date">Date</th>
                                <th style="width: 10%">Party Total</th>
                                <th style="width: 10%"> Bank Total</th>
                                <th style="width: 10%">Tax Rate</th>

                                <th class="lang" key="total" style="width: 5%">Per Dollar</th>

                                <th class="lang"  key="view" style="width: 3%">View</th>


                            </tr>
                            </thead>

                            {% for purchase in purchases %}
                                <tr>


                                    <td>{{ purchase.transaction_number }}</td>

                                   <td>{{ purchase.p_name }}</td>

                                    <td>{{ purchase.date|date("m/d/Y") }}</td>
                                    <td>{{ purchase.total_party_amount }}</td>
                                    <td>{{ purchase.total_bank_amount }}</td>
                                    <td>{{ purchase.tax_rate }}</td>
                                    <td>{{ purchase.per_dollar_rate }}</td>
                                    <td><a target="_blank" href="/purchase_dollars/print/{{ purchase.id }}" class="btn btn-primary"><i class="fa fa-print"></i></a></td>

                                </tr>
                            {% endfor %}


                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>






    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});
        $('.money').css('float','right');


    </script>


<script>
        $(document).ready(function() {
            $('#example').DataTable({
  "ordering": false
});
        });
    </script>


{% endblock middle %}
</body>
</html>