<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>


        img {
            border-radius: 10%;
            float: right;
            margin-right: 15px
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            border: 1px solid black;
            text-align: left;
            padding: 6px;
        }
        td{
            text-align: left;
            border: 1px solid black;
            padding: 8px;
        }

        th{
            background-color: #dddddd;
        }

    </style>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div id="main" style="border:2px solid #EDE8E8; border-radius:20px">





    <div style="width: 100%">

        <img src="/../static/login/images/we.png"  width="80px" height="95px" style="float: left; margin-left: 5%; margin-top: 3%">

    </div>

    <div style="margin-top: 3%">
        <h1 style="color: blue;  margin-bottom: 0px">Malakand Pharmacy</h1>
        <p style="margin-top: 0px; font-size: 1.1em">DIR Medical Tower Opp Emergency Gate LRH</p>
    </div>

    <br>
    <br>
    <br>
    <!--    <hr>-->
    <div style="width: 90%; margin-left: 4.9%; margin-top: 0px">

        <div style="width: 90%;">
            <div style="display: inline; width: 33%; float: left">
                <h4 style="display: inline">Transaction : <span>#1</span></h4>
            </div>

            <div style="display: inline; width: 33%; float: left">
                <h4 style="display: inline">Date : <span>{{ purchases[0].date|date("m/d/Y") }}</span></h4>
            </div>

            <div style="display: inline; width: 33%; float: left">
                <h4 style="display: inline">Time : <span>{{ purchases[0].time }}</span></h4>
            </div>
        </div>
        <br>
        <br>

        <div style="display: inline; width: 50%; float: left">
            <h4 style="display: inline">Party name : <span>{{ purchases[0].p_name }}</span></h4>
        </div>

        <div style="display: inline; width: 50%">
            <h4 style="display: inline">Bank name&nbsp;&nbsp;&nbsp;&nbsp; : <span>{{ purchases[0].b_name }}</span></h4>
        </div>
        <br>
        <div style="display: inline; width: 50%; float: left">
            <h4 style="display: inline">Amount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span>{{ purchases[0].party_amount }}</span></h4>
        </div>

        <div style="display: inline; width: 50%">
            <h4 style="display: inline">Bank Amount&nbsp; : <span>{{ purchases[0].bank_amount }}</span></h4>
        </div>
        <br>
        <div style="display: inline; width: 50%; float: left">
            <h4 style="display: inline">Dollar Rate : <span>{{ purchases[0].party_rate }}</span></h4>
        </div>

        <div style="display: inline; width: 50%">
            <h4 style="display: inline">Dollar Rate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span>{{ purchases[0].bank_rate }}</span></h4>
        </div>
        <br>
        <div style="display: inline; width: 50%; float: left">
            <h4 style="display: inline">Party Total &nbsp;: <span>{{ purchases[0].total_party_amount }}</span></h4>
        </div>

        <div style="display: inline; width: 50%">
            <h4 style="display: inline">Bank Total&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <span>{{ purchases[0].total_bank_amount }}</span></h4>
        </div>
        <br>


        <br>
        <div style="display: inline; width: 50%; float: left">
            <h4 style="display: inline">Tax Rate&nbsp;&nbsp;&nbsp;&nbsp; : <span>{{ purchases[0].tax_rate }}</span></h4>
        </div>


        <br>

        <div style="display: inline; width: 100%">
            <h4 style="display: inline">Net Amount : <span>{{ purchases[0].total_tax_amount }}</span></h4>
        </div>

        <div style="display: inline; width: 100%">
            <h4 style="display: inline">Per Dollar : <span>{{ purchases[0].per_dollar_rate }}</span></h4>
        </div>
        <br>
        <br>
        <br>


    </div>

</div>
</body>
</html>
