<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Add New Category</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/category/store" method="post">
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="lang" key="category name">Category Name</label>
                    <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Enter Category Name" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="lang" key="description">Description</label>
                    <textarea class="form-control" name="description" name="description"></textarea>
                </div>


            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
            </div>
        </div>
    </section>



{% endblock middle %}
</body>
</html>