<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/hawala/print/{{ sale_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>

    {% if(messages is not empty) %}
    <div class="alert alert-success">
        <p style="text-align: center; font-size:15px"><b>{{ messages }}</b></p>
    </div>

    {% endif %}

    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/hawala/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" key="add hawala">Add Hawala</span></button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="Hawala List">Hawala List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table  class="table table-bordered table-striped">


                            <thead>
                            <tr>

                                <th class="lang" key="hawala no">Hawala Number</th>
                                <th class="lang" key="date">Date</th>
                                {#<th>Customer Type</th>#}
                                <th class="lang" key="from customer">From Customer </th>
                                <th class="lang" key="Hawala pass To">Hawala Pass To </th>
                                <th class="lang" key="hawala amount">Hawala Amount </th>
                                <th class="lang" key="hawala currency">Hawala Currency </th>

                                <th class="lang" key="commission">Commission </th>
                                {#<th>Total Payment</th>#}
                                {% if(role=='Admin') or (role=='manager') %}
                                    <th   style="width: 3%" class="lang" key="print">Print</th>
                                {% endif %}
                                {% if(role=='Admin') or (role=='manager') %}
                                    <th class="lang" key="edit"  style="width: 3%">Edit</th>
                                {% endif %}
                                {% if(role=='Admin')  %}
                                    <th class="lang" key="delete"  style="width: 3%">Delete</th>
                                {% endif %}



                            </tr>
                            </thead>



                            <tbody>

                            {% for hawala in hawalas %}
                                <tr>


                                    <td>{{ hawala.hawala_number }}</td>
                                    <td>{{ hawala.hawala_date|date("m/d/Y") }}</td>
                                    {#<td>{{ hawala.customer_type }}</td>#}
                                    {% if(hawala.from_customer_name==NULL) %}
                                        <td>{{ hawala.from_name }}</td>
                                    {% else %}
                                        <td>{{ hawala.from_customer_name }}</td>
                                    {% endif %}

                                    <td>{{ hawala.to_customer_name }}</td>
                                    <td>{{ hawala.hawala_amount }}</td>
                                    <td>{{ hawala.currency_name }}</td>

                                    <td>{{ hawala.hawala_commission }}</td>
                                    {#<td class="money2"><span style="float: right">{{ hawala.total_payment }}</span></td>#}
                                    {% if(role=='Admin') or (role=='manager') %}
                                        <td><a target="_blank" href="/hawala/print/{{ hawala.hawala_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a></td>
                                    {% endif %}
                                      {% if(role=='Admin') or (role=='manager') %}
                                        <td><a target="_blank" href="/hawala/edit/{{ hawala.hawala_id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
                                    {% endif %}
                                    {% if(role=='Admin')  %}
                                        <td><a  href="/hawala/delete/{{ hawala.hawala_id }}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                    {% endif %}




                                </tr>
                            {% endfor %}
                            </tbody>


                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        $(document).ready(function() {
            var tab = $('.table').DataTable();
            tab
            .order( [ 1, 'des' ] )
            .draw();
            
        });
    </script>

    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});




    </script>


    <script>
        $(document).ready(function(){
            {% if sale_id is empty %}
            {% else %}
            $('#myModal2').modal('show');
            {% endif %}
        });
    </script>

{% endblock middle %}
<script>
    $('#example').DataTable({
        "ordering": false
    });
</script>


</body>

</html>