<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}

{% block middle  %}
    <section class="content">

        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="trash list">Trash List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="lang" key="serial no">Sr #</th>
                                <th class="lang" key="date">Date</th>
                                <th class="lang" key="invoice">Invoice #</th>
                                <th class="lang" key="type">Type</th>
                                <th class="lang" key="deleted by">Deleted By</th>




                            </tr>
                            </thead>
                            <tbody>
                            {% set count = 1 %}
                            {% for trash in trashes %}
                                <tr>
                                    <td>{{ count }}</td>
                                    <td>{{ trash.date|date("m/d/Y") }}</td>
                                    <td>{{ trash.invoice_number }}</td>
                                    <td>{{ trash.type }}</td>

                                    <td>{{ trash.party_name }}</td>



                                </tr>
                                {% set count = ( count | default(0) ) + 1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
<script>
        $(document).ready(function() {
            $('#example').DataTable({
  "ordering": false
});
        });
    </script>
  
{% endblock middle %}




</body>
</html>