<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title lang" key="add new currency">Add New Currency</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/currencies/store" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="lang" key="Name"> Name</label>
                                <input type="text" name="currency_name" class="form-control" id="exampleInputEmail1" placeholder="Enter Currency Name">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1" class="lang" key="sign">Sign</label>
                                <input type="text" name="currency_sign" class="form-control" id="exampleInputEmail1" placeholder="Enter Currency Sign">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1" class="lang" key="opening balance">Opening Balance</label>
                                <input type="text" name="opening_balance" class="form-control" id="exampleInputEmail1" placeholder="Enter Opening Balance Sign">
                            </div>


                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



{% endblock middle %}
</body>
</html>