<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title lang" key="edit currency">Edit Currency</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/currencies/update" method="post">
                        <div class="box-body">
                            {% for currency in currencies %}
                                <input type="hidden" name="id" value="{{ currency.currencyid }}">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="lang" key="Name">Name</label>
                                    <input type="text" name="currency_name" value="{{ currency.currency_name }}" class="form-control" id="exampleInputEmail1" placeholder="Enter Category Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="lang" key="sign">Sign</label>
                                    <input type="text" name="currency_sign" value="{{ currency.currency_sign }}" class="form-control" id="exampleInputEmail1" placeholder="Enter Category Name">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="lang" key="opening balance">Opening Balance</label>
                                    <input type="text" value="{{ currency.opening_balance }}" name="opening_balance" class="form-control" id="exampleInputEmail1" placeholder="Enter Opening Balance Sign">
                                </div>
                            {% endfor %}


                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



{% endblock middle %}
</body>
</html>