<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

</head>
<body>

{% extends "login/adminhead.twig" %}

{% block middle  %}

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {#<h1>The session value is : {{ session.name }}</h1>#}
<section class="content">
    <div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Add Company

                    <div id="result"></div>
                </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/company/registercompany" method="post"  enctype="multipart/form-data">
                <div class="box-body">
                    <input type="hidden" name="lat" id="lat" >
                    <input type="hidden" name="lang" id="lang" >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input name="name" type="text" id="company" placeholder="Enter your company name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Address</label>
                        <input name="address" type="text" id="company" placeholder="Enter Address Here " class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Short Name</label>
                        <input name="short_name" type="text"  placeholder="Enter Short Name" class="form-control">
                    </div>


                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input name="email" type="text" id="street" placeholder="Enter Email" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Contact</label>
                        <input name="contact" type="text" id="city" placeholder="Enter your Contact Number" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" type="password" id="postal-code" placeholder="Enter Password" class="form-control">
                    </div>


                    <div class="form-group">
                        <label for="exampleInputFile">Select Company logo</label>
                        <input name="company_logo" type="file" id="country" class="form-control">
                    </div>




                    <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <textarea name="description" class="form-control"></textarea>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputPassword1" >Type</label>
                            <select class="form-control" name="type">
                                <option>Select Category</option>
                                {% for type in types %}
                                    <option value="{{ type.name }}">{{ type.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>




                    <div>
                        <h2>Menus</h2>
                    </div>

                    <div class="col-md-4">
                        <input  type="checkbox" name="check_list[]" value="manage_account" checked>Manage Account<br/>  <br>
                        <div style="margin-left: 2%;">
                            <input  type="checkbox" name="check_list[]" value="categories">Categories<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="products">Products<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="customers">Customers<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="vendors">Vendors<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="bookers">Bookers<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="destinatinos">Destinations<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="account_head" checked>Account_head<br/>  <br>
                            <div style="margin-left: 2%;">
                                <input  type="checkbox" name="check_list[]" value="expenses">Expense<br/>  <br>
                                <input  type="checkbox" name="check_list[]" value="banks">Bank<br/>  <br>
                                <input  type="checkbox" name="check_list[]" value="cash">Cash<br/>  <br>
                                <input  type="checkbox" name="check_list[]" value="income">Income<br/>  <br>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <input  type="checkbox" name="check_list[]" value="sale" checked>sale<br/>  <br>
                        <div style="margin-left: 4%;">
                            <input  type="checkbox" name="check_list[]" value="sale_invoice">Sale Invoice<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="sale_return">Sale Return<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="trip">Trip<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="sale_dollars">Sale Dollars<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="sale_form_i">Sale Form I<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="yy_sale_invoice">yy Sale Invoice<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="union_sale_invoice">Union Trader Sale Invoice<br/>  <br>
                        </div>

                        <input  type="checkbox" name="check_list[]" value="purchase" checked>Purchase<br/>  <br>
                        <div style="margin-left: 4%;">
                            <input  type="checkbox" name="check_list[]" value="purchase_invoice">Purchase Invoice<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="purchase_return">Purchase Return<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="purchase_dollars">Purchase Dollars<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="purchase_form_i">Purchase Form I<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="yy_purchase_invoice">yy Purchase Invoice<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="union_purchase_invoice">Union Trader Purchase Invoice<br/>  <br>
                        </div>


                        <input  type="checkbox" name="check_list[]" value="damages" checked>Damages<br/>  <br>

                    </div>


                    <div class="col-md-4">
                        <input  type="checkbox" name="check_list[]" value="vouchers" checked>Vouchers<br/>  <br>
                        <div style="margin-left: 4%;">
                            <input  type="checkbox" name="check_list[]" value="voucher_expense">Expense<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="voucher_income">Income<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="voucher_cash_payment">Cash Payment<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="voucher_cash_receive">Cash Receive<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="voucher_bank_deposit">Bank Deposit<br/>  <br>
                            <input  type="checkbox" name="check_list[]" value="voucher_bank_withdraw">Bank withdraw<br/>  <br>
                        </div>


                        <input  type="checkbox" name="check_list[]" value="reports" checked>Reports<br/>  <br>

                        <input  type="checkbox" name="check_list[]" value="users" checked>Users<br/>  <br>
                    </div>






                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>





 </div>
    </section>

    <script>
        $(document).ready(function(){
            if ("geolocation" in navigator){ //check geolocation available
                //try to get user current location using getCurrentPosition() method
                navigator.geolocation.getCurrentPosition(function(position){
                    $('#lat').val(position.coords.latitude);
                    $('#lang').val(position.coords.longitude);
                });
            }else{
                console.log("Browser doesn't support geolocation!");
            }
        });
    </script>

{% endblock middle %}



</body>
</html>