<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/adminhead.twig" %}



{% block middle %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>


    <section class="content">

        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="customers">Messages</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                <th class="lang" key="NAME">Name</th>
                                <th class="lang" key="email">Email</th>
                                <th class="lang" key="contact number">Contact Number</th>
                                <th>Type</th>
                                <th><span class="lang" key="description">Description</span></th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for message in messages %}
                                <tr>
                                    <td>{{ message.name }}</td>
                                    <td>{{ message.email }}</td>
                                    <td>{{ message.number }}</td>
                                    <td style="color: #008000;font-weight: bold">{{ message.type_name }}</td>
                                    <td style="width: 40%;">{{ message.message }}</td>
                                   <td>
                                       {% if(message.approve_status=='Y') %}
                                           <span style="color: #008000;font-weight: bold">APPROVED</span>
                                       {% else %}
                                           <a class="btn btn-success" href="/company/add_new_company/{{  message.id }}"><i class="glyphicon glyphicon-ok"></i>APPROVE</a>
                                       {% endif %}


                                   </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>

    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});



    </script>



{% endblock middle %}
</body>
</html>