<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<div class="card-header"><strong>Company Form</strong></div>
<div class="card-body card-block">
    <form action="/company/test" method="post">


        <div class="form-group"><label for="company" class=" form-control-label">Name</label><input name="name[]" type="text" id="company" placeholder="Enter your company name" class="form-control">
            <input name="name[]" type="text" id="company" placeholder="Enter your company name" class="form-control">
            <input name="name[]" type="text" id="company" placeholder="Enter your company name" class="form-control"><input name="name[]" type="text" id="company" placeholder="Enter your company name" class="form-control">
        </div>
            <div class="form-group"><input style="float: right" type="submit" class="btn btn-primary"></div>
    </form>

</body>
</html>