<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}
{% block middle %}
    <!-- Latest compiled and minified CSS -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Trigger the modal with a button -->
    <style>
        .select2-container .select2-selection--single{
            height:35px !important;
            width: 300px;
        }
        .select2-container--default .select2-selection--single{
            border: 1px solid #ccc !important;
            border-radius: 0px !important;
        }

        .wizard {
            margin: 20px auto;
            background: #fff;
        }

        .wizard .nav-tabs {
            position: relative;
            margin: 40px auto;
            margin-bottom: 0;
            border-bottom-color: #e0e0e0;
        }

        .wizard > div.wizard-inner {
            position: relative;
        }

        .connecting-line {
            height: 2px;
            background: #e0e0e0;
            position: absolute;
            width: -10%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 1;
        }

        .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
            color: #555555;
            cursor: default;
            border: 0;
            border-bottom-color: transparent;
        }

        span.round-tab {
            width: 70px;
            height: 70px;
            line-height: 70px;
            display: inline-block;
            border-radius: 100px;
            background: #fff;
            border: 2px solid #e0e0e0;
            z-index: 2;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 25px;
        }
        span.round-tab i{
            color:#555555;
        }
        .wizard li.active span.round-tab {
            background: #fff;
            border: 2px solid #5bc0de;

        }
        .wizard li.active span.round-tab i{
            color: #5bc0de;
        }

        span.round-tab:hover {
            color: #333;
            border: 2px solid #333;
        }

        .wizard .nav-tabs > li {
            width: 25%;
        }

        .wizard li:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 0;
            margin: 0 auto;
            bottom: 0px;
            border: 5px solid transparent;
            border-bottom-color: #5bc0de;
            transition: 0.1s ease-in-out;
        }

        .wizard li.active:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 1;
            margin: 0 auto;
            bottom: 0px;
            border: 10px solid transparent;
            border-bottom-color: #5bc0de;
        }

        .wizard .nav-tabs > li a {
            width: 70px;
            height: 70px;
            margin: 20px auto;
            border-radius: 100%;
            padding: 0;
        }

        .wizard .nav-tabs > li a:hover {
            background: transparent;
        }

        .wizard .tab-pane {
            position: relative;
            padding-top: 50px;
        }

        .wizard h3 {
            margin-top: 0;
        }

        @media( max-width : 585px ) {

            .wizard {
                width: 90%;
                height: auto !important;
            }

            span.round-tab {
                font-size: 16px;
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .wizard .nav-tabs > li a {
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .wizard li.active:after {
                content: " ";
                position: absolute;
                left: 35%;
            }
        }

    </style>


    <!------ Include the above in your HEAD tag ---------->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>



    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: red"><strong>Alert</strong></h4>
                </div>
                <div class="modal-body">
                    <p><strong>The price cant not be less the cost price.</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/sale_invoice/print/{{ sale_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>



    <section class="content">
    <div class="row">
    <!-- left column -->
    <div class="col-md-12">
    <div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Edit Booking</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="container">
    <div class="row">
    <section>
    <div class="wizard">


    <form role="form" action="/booking/update" method="post">
    <input type="hidden" name="booking_id" value="{{ masters[0].booking_id  }}">
    <div class="tab-content">

        <div align="center"><h3>Customers Information</h3></div>





            <div class="col-md-12">
                <div id="first" class="form-group">
                    <label for="exampleInputPassword1">Customer Name</label>
                    <select class="form-control selectpicker" data-live-search="true" name="customer_id" id="customer_id">

                        {% for customer in customers %}
                             {% if(masters[0].customer_id==customer.PARTY_ID) %}
                              <option value="{{ customer.PARTY_ID }}" selected> {{ customer.NAME }}({{ customer.reg_no }})</option>
                             {% endif %}
                        {% endfor %}
                    </select>
                </div>


            </div>



        <!-- /.box-body -->

    <div align="center"><h3>Plot Detail</h3></div>
    <div class="col-md-4">
        <div id="first" class="form-group">
            <label for="exampleInputPassword1">Project Name</label>
            <select class="form-control select2 project" name="project_id" disabled="disabled">

                {% for project in projects %}
                {% if(masters[0].project_id==project.project_id) %}
                    <option value="{{ project.project_id }}" selected> {{ project.project_name }}</option>
                {% else %}
                    <option value="{{ project.project_id }}"> {{ project.project_name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group col-md-4">
        <label for="exampleInputPassword1">Type</label>
        <select class="form-control plot_type"  name="plot_type" disabled="disabled">
            <option value="Residential"{% if masters[0].plot_type == 'Residential' %} selected="selected"{% endif %}>Residential</option>
            <option value="Commercial"{% if  masters[0].plot_type == 'Commercial' %} selected="selected"{% endif %}>Commercial</option>

        </select>
    </div>

    <div class="col-md-4">
        <div id="first" class="form-group">
            <label for="exampleInputPassword1">Plot Size</label>
            <select class="form-control select2 plot_size" name="size_id" id="size" disabled="disabled">
                <option value="0">Select Size</option>
                {% for plot in plotsizes %}
                {% if(masters[0].size_id==plot.size_id) %}
                    <option  data-length="{{ plot.length }}" data-width="{{ plot.width }}" value="{{ plot.size_id }}" selected> {{ plot.size_name }}</option>
                 {% else %}
                     <option  data-length="{{ plot.length }}" data-width="{{ plot.width }}" value="{{ plot.size_id }}"> {{ plot.size_name }}</option>
                 {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>


    <div class="form-group col-md-4">
        <label for="exampleInputPassword1">Plots</label>
        <select class="form-control plot"  name="plot_id" >
            {% for plot in plots %}
                {% if(masters[0].plot_id==plot.plot_id) %}
                    <option  value="{{ plot.plot_id }}" selected> {{ plot.name }}</option>
                {% else %}
                    <option  value="{{ plot.plot_id }}"> {{ plot.name }}</option>
                {% endif %}
            {% endfor %}

        </select>
    </div>


    <div class="form-group col-md-4">
        <label for="exampleInputPassword1" class="lang" key="NAME">Registration Number</label>
        <input id="booking_number" required="required" value="{{ masters[0].booking_number  }}" name="booking_number" type="text"  placeholder="Enter Plot Number here" class="form-control">
    </div>


    <div class="form-group col-md-4">
        <label for="exampleInputPassword1" class="lang" key="NAME">Street Number</label>
        <input readonly name="street_number" type="text"  placeholder="Enter Street Number here" class="form-control street_no">
    </div>


    <div class="form-group col-md-4">
        <label for="exampleInputPassword1" class="lang" key="NAME">Block</label>
        <input readonly name="block" type="text"  placeholder="Enter Street Number here" class="form-control block">

    </div>

    <div class="form-group col-md-4">
        <label for="exampleInputPassword1" class="lang" key="NAME">Length/Width</label>
        <input style="color: black; font-size: 17px; font-weight: bold"  type="text" name="length_width" id="length_width" readonly class="form-control">
    </div>

    {#<div class="form-group col-md-4">#}
        {#<label for="exampleInputPassword1">Total</label>#}
        {#<input style="color: black; font-size: 17px; font-weight: bold"  type="text" value="0" readonly class="form-control total">#}
    {#</div>#}

    <div id="feature_div" style=" width: 20%; display: none; float: right" >
        <div class="form-group col-md-12">
            <div align="center"><h4>Features</h4></div>
        </div>


        <div class="form-group col-md-12">
            <div class="table-responsive m-t">
                <table class="table table-bordered">
                    <thead style="background-color: #2196f3; color: white">
                    <tr>

                        <th style="width: 30%;">Plot Feature</th>
                        <th style="width: 20%;" >Percentage</th>

                    </tr>
                    </thead>
                    <tbody id="feature_body">


                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div id="once_div">
        <div class="form-group col-md-12">
            {#<div align="center"><h4>Once</h4></div>#}
        </div>


        <div class="form-group col-md-12">
            <div class="table-responsive m-t">
                <table class="table table-bordered">
                    <thead style="background-color: #2196f3; color: white">
                    <tr>
                        <td colspan="4"><div align="center" style="font-size: 17px; font-weight: bold">Once</div></td>
                    </tr>
                    <tr>

                        <th style="width: 25%;">Mode Name</th>
                        <th style="width: 25%;">Amount</th>
                        <th style="width: 25%;">Unit</th>
                        <th style="width: 25%;" >Total</th>

                    </tr>
                    </thead>
                    <tbody id="once_body">
                    {% for child in childs %}
                      {% if(child.type=='O') %}
                          <tr><td><input type='text' name='once_mode_name[]' class='form-control' value="{{ child.mode_name }}" ><input type='hidden' name='once_mode_id[]' class='form-control' value="{{ child.mode_id }}" ></td>
                              <td><input type='text' name='once_amount[]' class='form-control' value="{{ child.amount }}" >
                                  <td><input type='text' name='once_unit[]' class='form-control' value="1" >
                                  <td><input type='text' name='once_total[]' class='form-control' value="{{ child.total }}" > <input type='hidden' name='once_type[]' class='form-control' value="{{ child.type }}" >
                                  </td></tr>
                      {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div id="year_div">
        <div class="form-group col-md-12">
            {#<div align="center"><h4>Yearly</h4></div>#}
        </div>


        <div class="form-group col-md-12">
            <div class="table-responsive m-t">
                <table class="table table-bordered">
                    <thead style="background-color: #2196f3; color: white">
                    <tr>
                        <td colspan="3"><div align="center" style="font-size: 17px; font-weight: bold">Year</div></td>
                    </tr>
                    <tr>

                        <th style="width: 33%;">Installment Number</th>
                        <th style="width: 33%;">Receivable Date</th>
                        <th style="width: 33%;">Receivable Amount</th>


                    </tr>
                    </thead>

                    <tbody id="year_body">
                    {% set count = 1 %}
                    {% for child in childs %}
                        {% if(child.type=='Y') %}
                            <tr><td><input name='yearly_instalment_no[]' type='text' class='form-control' value="{{ count }}"></td>
                                <td><input name='yearly_date[]' type='date' class='form-control' value="{{ child.date|date("Y-m-d") }}">
                                    <td><input   name='yearly_amount[]' type='text' class='form-control'   value="{{ child.amount }}" ><input name='yearly_total[]' type='hidden' class='form-control amount'   value="{{ child.total }}" ><input name='yearly_type[]' type='hidden' class='form-control amount'   value="{{ child.type }}" ><input name='yearly_mode_id[]' type='hidden' class='form-control amount'   value="{{ child.mode_id }}" >
                                    </tr>
                            {% set count = ( count | default(0) ) + 1 %}
                        {% endif %}

                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div id="month_div">
        <div class="form-group col-md-12">
            <div align="center"><h4>Month</h4></div>
        </div>




        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Start Date</label>
                <input type="date" value="{{ masters[0].plan_date|date("Y-m-d")  }}"  name="plan_date" class="form-control start_date"  id="theDate">
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Numbers of Installments</label>
                <input name="no_of_instalments" type="text" value="{{ masters[0].no_of_instalments  }}" class="form-control number_of_instalments" id="number_of_instalments">
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Instalment Gap</label>
                <input name="gap" type="text" value="{{ masters[0].gap  }}" class="form-control gap" id="gap">
            </div>
        </div>






        <div class="col-md-2">
            <br>
            <input id="load" type="button" value="Load" class="btn btn-primary">
        </div>




        <div class="form-group col-md-12">
            <div class="table-responsive m-t">
                <table class="table table-bordered">
                    <thead style="background-color: #2196f3; color: white">


                    <tr>
                        <th style="width: 33%;">Installment Number</th>
                        <th style="width: 33%;">Receivable Date</th>
                        <th style="width: 33%;">Receivable Amount</th>
                    </tr>
                    </thead>

                    <tbody id="month_body">
                    {% set count = 1 %}
                    {% set hidden_month_total = 0 %}
                    {% for child in childs %}
                        {% if(child.type=='M') %}
                            <tr><td><input name='monthly_instalment_no[]' type='text' class='form-control' value="{{ count }}"></td>
                                <td><input name='monthly_date[]' type='date' class='form-control' value="{{ child.date|date("Y-m-d") }}">
                                    <td><input name='monthly_amount[]' type='text' class='form-control amount'   value="{{ child.amount }}" ><input name='monthly_total[]' type='hidden' class='form-control amount'   value="{{ child.total }}" ><input name='monthly_type[]' type='hidden' class='form-control amount'   value="{{ child.type }}"><input name='monthly_mode_id[]' type='hidden' class='form-control amount'   value="{{ child.mode_id }}" >
                                    </tr>
                            {% set count = ( count | default(0) ) + 1 %}
                            {% set hidden_month_total = ( hidden_month_total | default(0) ) + child.amount %}
                        {% endif %}

                    {% endfor %}

                    <input type="hidden" id="hidden_month_total" value="{{ hidden_month_total }}" >


                    </tbody>
                </table>
            </div>
        </div>
    </div>









        <div class="col-md-12">
            <div align="center"><h3>Amount Details</h3></div>
        </div>







        <div class="form-group col-md-4">
            <label for="exampleInputPassword1">Grand Total</label>
            <input value="{{ masters[0].total  }}" style="color: black; font-size: 17px; font-weight: bold" readonly name="grand_total" type="text"  placeholder="Enter Plot Number here" class="form-control grand_total">
        </div>

        <div class="form-group col-md-4">
            <label for="exampleInputPassword1">Advance</label>
            <input   name="advance" type="number"  value="{{ masters[0].advance  }}"  value="0" placeholder="Enter Advance here" class="form-control advance">
        </div>





        <div class="form-group col-md-4">
            <label for="exampleInputPassword1">Discount</label>
            <input   name="discount" type="number"    value="{{ masters[0].discount  }}" placeholder="Enter Advance here" class="form-control discount">
        </div>



        {% if (masters[0].bank_id==NULL) or (masters[0].bank_id=="") %}
        <div class="form-group col-md-4">
            <label for="exampleInputPassword1">Payment Type</label>
            <select class="form-control payment_type"  name="payment_type">
                <option>Select Payment Type</option>
                <option value="cash" selected>Cash</option>
                <option value="bank">Bank</option>


            </select>
        </div>
        {% else %}
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1">Payment Type</label>
                <select class="form-control payment_type"  name="payment_type">
                    <option>Select Payment Type</option>
                    <option value="cash">Cash</option>
                    <option value="bank" selected>Bank</option>
                </select>
            </div>
        {% endif %}


        {% if (masters[0].bank_id==NULL) or (masters[0].bank_id=="")  %}
            <div id="cheque_number_div" class="form-group col-md-4" style="display: none">
                <label for="exampleInputPassword1">Cheque Number</label>
                <input   name="cheque_number" type="text"  placeholder="Enter Cheque Number Here" class="form-control">

            </div>
        {% else %}
            <div id="cheque_number_div" class="form-group col-md-4">
                <label for="exampleInputPassword1">Cheque Number</label>
                <input   name="cheque_number" value="{{ masters[0].cheque_number  }}" type="text"  placeholder="Enter Cheque Number Here" class="form-control">

            </div>
        {% endif %}


        {% if (masters[0].bank_id==NULL) or (masters[0].bank_id=="") %}
            <div class="col-md-4" id="bank_div" style="display: none" >
                <div class="form-group" >
                    <label for="exampleInputEmail1">Banks</label>
                    <select id="account_id"  class="form-control selectpicker" data-live-search="true" name="account_id">
                        <option value="">Select Bank</option>
                        {% for bank in banks %}
                            <option value="{{ bank.ACCOUNT_ID }}"> {{ bank.NAME }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


        {% else %}
        <div class="col-md-4" id="bank_div" >
            <div class="form-group" >
                <label for="exampleInputEmail1">Banks</label>
                <select id="account_id"  class="form-control selectpicker" data-live-search="true" name="account_id">
                    <option value="">Select Bank</option>
                    {% for bank in banks %}
                          {% if(masters[0].bank_id==bank.ACCOUNT_ID) %}
                           <option value="{{ bank.ACCOUNT_ID }}" selected> {{ bank.NAME }}</option>
                           {% else %}
                               <option value="{{ bank.ACCOUNT_ID }}"> {{ bank.NAME }}</option>
                           {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}

        <div class="form-group col-md-4">
            <label for="exampleInputPassword1">Remaining</label>
            <input value="{{ masters[0].remaining  }}" style="color: black; font-size: 17px; font-weight: bold" readonly  name="remaining" type="text"  placeholder="" class="form-control remaining">
        </div>


        <div class="form-group col-md-4">

            <input style="color: black; font-size: 17px; font-weight: bold" readonly  name="feature_amount" type="hidden"  placeholder="" value="{{ masters[0].feature_amount  }}" class="form-control feature_amount">
        </div>


        <div class="form-group col-md-12">
            <input id="submit" style="float: right" type="submit" class="btn btn-primary">
        </div>




    <div class="tab-pane" role="tabpanel" id="complete">
        <h3>Complete</h3>
        <p>You have successfully completed all steps.</p>
    </div>
    <div class="clearfix"></div>
    </div>

    </form>
    </div>
    </section>

    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

    <script>
    $(document).ready(function(){

        var plot_id=$('.plot').val();

        $.ajax({
            'type':'Get',
            'url':"/booking/plot_detail"+ "/"+ plot_id,
            success:function(response){
                $('.type').val(response[0].type)
                $('.street_no').val(response[0].street_no)
                $('.block').val(response[0].block)
            }

        });

        $('#feature_div').show();
        var $el= $('#feature_body');
        $el.empty();
        var percentage=0;

        $.ajax({
            'type':'Get',
            'url':"/booking/plot_features"+ "/"+ plot_id,
            success:function(response){
                $.each(response,function(key,value){
                    percentage=percentage+parseInt(value.percentage);
                    $el.append("<tr><td>"+ value.description + "</td><td>"+ value.percentage +"%</td></tr>");
                });

            }
        });


        var length=$('#size').find(':selected').data('length');
        var width=$('#size').find(':selected').data('width');
        var final=length+'/'+width;
        $('#length_width').val('');
        $('#length_width').val(final);


        $('.advance').on('input',function(){
            var advance=$(this).val();
            var discount=$('.discount').val();
            var grand_total= $('.grand_total').val();
            $('.remaining').val(parseInt(grand_total)-parseInt(advance)-parseInt(discount));
        });


        $('.discount').on('input',function(){
            var discount=$(this).val();
            var advance=$('.advance').val();
            var grand_total= $('.grand_total').val();
            $('.remaining').val(parseInt(grand_total)-parseInt(discount)-parseInt(advance));
        });

        $('.customer_type').on('change',function(){
            var type= $(this).val();
            if(type=='new'){
                $('.new_customer').show();
                $('.old_customer').hide();
            }
            else{

                $('.new_customer').hide();
                $('.old_customer').show();

            }
        });

        $('body').on('change','#size',function(){
            var length=$(this).find(':selected').data('length');
            var width=$(this).find(':selected').data('width');
            var final=length+'/'+width;
            $('#length_width').val('');
            $('#length_width').val(final);

            var id=$(this).val();
            var $el= $('.plot');
            $el.empty();
            $el.append('<option value="">select Plot </option>')
            $.ajax({
                'type':'Get',
                'url':"/booking/plot_by_size"+ "/"+ id,
                success:function(response){
                    console.log(response)
                    $.each(response,function(key,value){
                        $el.append("<option  value='"+value.plot_id+"'  >"+value.name+"</option>");
                    });
                }
            });

            var project_id=$('.project').val();
            var plot_type=$('.plot_type').val();
//                alert('Project id' + project_id + " Plot Type: "+ plot_type + " Size:" +id)


            $.ajax({
                'type':'Get',
                'url':"/booking/get_total"+ "/"+ project_id+ "/" + plot_type + "/" + id,
                success:function(response){
//                        alert(response);
                    $('.total').val(response);
                    $('.grand_total').val(response);
                    $('.remaining').val(response);
                }

            });

            $.ajax({
                'type':'Get',
                'url':"/booking/get_schedule"+ "/"+ project_id+ "/" + plot_type + "/" + id,
                success:function(response){
                    console.log(response);
                    if(response=='NO'){
                        alert('Please Define Payment Schedule First ')
                    }
                    else{
                        $('#once_div').show();
                        $('#month_div').show();
                        $('#year_div').show();

                        var $el= $('#once_body');
                        $el.empty();

                        var $el2= $('#month_body');
                        $el2.empty();

                        var $el3= $('#year_body');
                        $el3.empty();


                        console.log(response);
                        $.each(response,function(key,value){

                            if(value.type=='O'){
                                $el.append("<tr><td><input type='text' name='once_mode_name[]' class='form-control' value=" +value.mode_name +" ><input type='hidden' name='once_mode_id[]' class='form-control' value=" +value.mode_id +" ></td>" +
                                        "<td><input type='text' name='once_amount[]' class='form-control' value=" +value.amount +" >" +
                                        "<td><input type='text' name='once_unit[]' class='form-control' value=" +value.unit +" >" +
                                        "<td><input type='text' name='once_total[]' class='form-control' value=" +value.total +" > <input type='hidden' name='once_type[]' class='form-control' value=" +value.type +" >" +
                                        "</td></tr>");
                            }
                            if(value.type=='M'){
                                var hidden_month_total=0;
                                var count=1;
                                var dated=$('#theDate').val();
                                var newdate = new Date(dated);
                                var dd = newdate.getDate();
                                var mm = newdate.getMonth()+1;
                                var y = newdate.getFullYear();
                                if (dd < 10) dd = "0" + dd;

                                for(var i=1;i<=value.unit;i++){
                                    if(mm > 12){
                                        mm=1;
                                        y=y+1;
                                    }
                                    if (mm < 10) mm = "0" + mm;

                                    var someFormattedDate = y + "-" + mm + "-" + dd;

                                    $el2.append("<tr><td><input name='monthly_instalment_no[]' type='text' class='form-control' value=" +count +"></td>" +
                                            "<td><input name='monthly_date[]' type='date' class='form-control' value=" + someFormattedDate + ">" +
                                            "<td><input name='monthly_amount[]' type='text' class='form-control amount'   value=" +value.amount +" ><input name='monthly_total[]' type='hidden' class='form-control amount'   value=" +value.amount +" ><input name='monthly_type[]' type='hidden' class='form-control amount'   value=" +value.type +" ><input name='monthly_mode_id[]' type='hidden' class='form-control amount'   value=" +value.mode_id +" >" +
                                            "</tr>");
                                    count=count+1;

                                    mm=parseInt(parseInt(mm)+1);
                                    hidden_month_total=parseInt(hidden_month_total)+parseInt(value.amount);
                                }


//                                   alert(hidden_month_total);
                                $('#hidden_month_total').val(hidden_month_total);
                            }
                            if(value.type=='Y'){
                                var count=1;
                                var dated=$('#theDate').val();
                                var newdate = new Date(dated);
                                var dd = newdate.getDate();
                                var mm = newdate.getMonth()+1;
                                var y = newdate.getFullYear();
                                if (dd < 10) dd = "0" + dd;
                                if (mm < 10) mm = "0" + mm;
//                                    alert('i am here and i have value')
                                for(var i=1;i<=value.unit;i++){

                                    y=y+1;


                                    var someFormattedDate = y + "-" + mm + "-" + dd;

//                                       alert(someFormattedDate);

                                    $el3.append("<tr><td><input name='yearly_instalment_no[]' type='text' class='form-control' value=" +count +"></td>" +
                                            "<td><input name='yearly_date[]' type='date' class='form-control' value=" + someFormattedDate + ">" +
                                            "<td><input   name='yearly_amount[]' type='text' class='form-control'   value=" +value.amount +" ><input name='yearly_total[]' type='hidden' class='form-control amount'   value=" +value.amount +" ><input name='yearly_type[]' type='hidden' class='form-control amount'   value=" +value.type +" ><input name='yearly_mode_id[]' type='hidden' class='form-control amount'   value=" +value.mode_id +" >" +
                                            "</tr>");
                                    count=count+1;

                                }

                            }

                        });

                    }

                }
            });
        });



        $('body').on('change','.payment_type',function(){
            var val=$(this).val();
            if(val=='cash'){
                $('#cheque_number_div').hide();
                $('#bank_div').hide();

            }
            else{
                $('#cheque_number_div').show();
                $('#bank_div').show();
            }
        });

        $('body').on('change','.plot',function(){
            var id=$(this).val();
            $.ajax({
                'type':'Get',
                'url':"/booking/plot_detail"+ "/"+ id,
                success:function(response){
                    $('.type').val(response[0].type)
                    $('.street_no').val(response[0].street_no)
                    $('.block').val(response[0].block)
                }

            });
            $('#feature_div').show();

            var $el= $('#feature_body');
            $el.empty();
            var percentage=0;

            $.ajax({
                'type':'Get',
                'url':"/booking/plot_features"+ "/"+ id,
                success:function(response){


                    $.each(response,function(key,value){
                        percentage=percentage+parseInt(value.percentage);
                        $el.append("<tr><td>"+ value.description + "</td><td>"+ value.percentage +"%</td></tr>");
                    });
                    var total=$('.grand_total').val();

                    var grand_total=((parseInt(total)*percentage)/100);
                    $('.feature_amount').val(grand_total);
                    $('.grand_total').val(parseInt(total)+grand_total);
                    $('.remaining').val(parseInt(total)+grand_total);

                    var advance=$('.advance').val();
                    var grand_total= $('.grand_total').val();
                    $('.remaining').val(parseInt(grand_total)-parseInt(advance));
                }
            });
        });

//            $('.instalments').on('change',function(){
//               var instalments=$(this).val();
//               var remaining=$('.remaining').val();
//               var amount=parseFloat(remaining/instalments);
//                var counter=1;
//                var date=$('.date').val();
//
//                alert(date.addMonths(1));
//
//                for(var i=0; i<instalments;i++){
//
//                    var newRow = $('<tr>' +
//                            '<td><span class="counter">'+counter+'</span></td>'+
//                            '<td><input type="date" readonly class="form-control" value='+ date +' name="date[]"/></td>' +
//                            '<td><input readonly class="form-control" value='+ amount +'  name="amount[]"/></td>' +
//
//                            '</tr>');
//                    counter++;
//                    $('#instalment_body').append(newRow);
//                }
//            });



        $('body').on('click','.puradd',function(){
            var counter=$( ".counter" ).last().text();
            counter++;
            $('.puradd').hide();

            var newRow = $('<tr>' +
                    '<td><span class="counter">'+counter+'</span></td>'+
                    '<td>' +
                    '<select class="feature_id  form-control" style="width: 100%" name="feature_id[]">' +
                    '<option value=""> Select Feature</option>'+
                    {% for plot in plotfeatures %}
                    '<option data-percentage="{{ plot.percentage }}"  value="{{ plot.feature_id }}"> {{ plot.description }} </option>'+
                    {% endfor %}
                    '</select>'+
                    '</td>' +

                    '        <td><input readonly style="font-weight: bold; text-align: right" class="form-control percentage" value="0" type="text" name="percentage[]" id="percentage" required="required"></td>'+

                    '<td> ' +
                    '<button class="btn btn-info btn-circle puradd" type="button"><i class="fa fa-plus-square"></i></button>' +
                    ' <button class="btn btn-warning btn-circle removepur" type="button"><i class="fa fa-times"></i></button>' +
                    '</td>' +
                    '</tr>');
            $('#purbody').append(newRow);
        });

        $('body').on('click','.removepur',function(){
            $(this).closest('tr').remove();
            $('.puradd').show();
            calculate();
        });


        $('body').on('change','.feature_id',function(){
            var percentage=$(this).find(':selected').data('percentage');
            var row = $(this).closest('tr');
            row.find($('.percentage')).val(percentage);
        });


        $('body').on('click','#load',function(){
            var start_date=$('.start_date').val();
            var number_of_instalments=$('.number_of_instalments').val();
            var gap=$('.gap').val();
            var hidden_month_total=parseFloat($('#hidden_month_total').val());
            var amount=parseFloat(hidden_month_total/number_of_instalments);
            var $el2= $('#month_body');
            $el2.empty();
            var count=1;
            var dated=$('.start_date').val();
            var newdate = new Date(dated);
            var dd = newdate.getDate();
            var mm = newdate.getMonth()+1;
            var y = newdate.getFullYear();
            if (dd < 10) dd = "0" + dd;

            for(var i=1;i<=number_of_instalments;i++){
                if(mm > 12){
                    mm=1;
                    y=y+1;
                }
                if (mm < 10) mm = "0" + mm;
                var someFormattedDate = y + "-" + mm + "-" + dd;

                $el2.append("<tr><td><input type='text' class='form-control' value=" +count +"></td>" +
                        "<td><input type='date' class='form-control' value=" + someFormattedDate + ">" +
                        "<td><input type='text' class='form-control amount'   value=" +amount +" >" +
                        "</tr>");
                count=count+1;

                mm=parseInt(parseInt(mm)+parseInt(gap));
            }



        });


    });

    </script>

    <script>
        $(document).ready(function () {
            //Initialize tooltips
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                var $target = $(e.target);

                if ($target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                var type= $('input[name=customer_type]:checked').val();
                if(type=="new"){
                    if($('#name').val()==""){
                        alert('please Enter all required fields')
                    }
                    else{
                        $active.next().removeClass('disabled');
                        nextTab($active);
                    }
                }
                else{
                    $active.next().removeClass('disabled');
                    nextTab($active);
                }

            });
            $(".prev-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                prevTab($active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }
        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }
    </script>

    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>



    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        $(document).ready(function(){
            $("#submit").click(function(e){
                if($('#booking_number').val()==''){
                    e.preventDefault();
                    alert('please Enter Registration Number in Step 2');
                }


            });
        });
    </script>



{% endblock middle %}
</body>
</html>