<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>



    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/yy_sale_invoice/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" key="add new sale">Add New Sale</span></button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="sale invoice">Sale Invoice</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Invoice #</th>
                                <th class="lang" key="NAME">Name</th>
                                <th class="lang" key="date">Date</th>
                                <th class="lang" key="payment type">Payment Type</th>
                                <th class="lang" key="discount">Discount</th>
                                <th class="lang" key="total">Total</th>
                                <th class="lang"  key="view" style="width: 3%">View</th>
                                {% if(role=='Admin') or (role=='manager') %}
                                    <th class="lang" key="edit"  style="width: 3%">Edit</th>
                                {% endif %}
                                {% if(role=='Admin')  %}
                                    <th class="lang" key="delete"  style="width: 3%">Delete</th>
                                {% endif %}
                            </tr>
                            </thead>

                            <tbody>
                            {% for sale in sales %}
                                <tr>


                                    <td>{{ sale.invoice_number }}</td>
                                    {% if sale.p_name is empty %}
                                        <td>{{ sale.customer_name }}</td>
                                    {% else %}
                                        <td>{{ sale.p_name }}</td>
                                    {% endif %}
                                    <td>{{ sale.invoice_date|date("m/d/Y") }}</td>
                                    <td>{{ sale.payment_type }}</td>
                                    <td><span style="float: right">{{ sale.discount }}</span></td>
                                    <td class="money2"><span style="float: right">{{ sale.net_amount }}</span></td>
                                    <td><a target="_blank" href="/yy_sale_invoice/print/{{ sale.id }}" class="btn btn-primary"><i class="fa fa-print"></i></a></td>
                                    {% if(role=='Admin') or (role=='manager') %}
                                        <td><a target="_blank" href="/sale_invoice/edit/{{ sale.id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
                                    {% endif %}
                                    {% if(role=='Admin')  %}
                                        <td><a  href="/sale_invoice/delete/{{ sale.id }}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script type="text/javascript">

        $('.money2').mask("#,###", {reverse: true});
        $('.money2').css('float','right');


    </script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
  "ordering": false
});
        
    } );
</script>

{% endblock middle %}
</body>
</html>