<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>


        img {
            border-radius: 10%;
            float: right;
            margin-right: 15px
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            font-size: 13px;
        }
        td{
            text-align: left;
            border-bottom: 1px solid #dddddd;
            padding: 8px;
        }

        th{
            background-color: #dddddd;
        }
        p{
            font-size: 13px;
        }


    </style>
    <title></title>
</head>
<body>
<div id="main" style="border:2px solid #EDE8E8; border-radius:20px">





    <div style="width: 100%">

        <img  src="/../static/img/{{ session.logo }}" width="80px" height="95px" style="float: left; margin-left: 5%; margin-top: 3%;">

    </div>

    <div style="margin-top: 6%">
        <p style="margin-top: 0px; text-transform: uppercase; font-size: 17px;" >{{ session.name }}<br>District Khyber KPK Pakistan<br>{{ session.contact }}</p>
        {% if masters[0].tax_invoice_status=="Y" %}
            <p style="margin-left: 20px;" >{{ session.tax_number }} </p>
        {% endif %}
    </div>

    <br>

    <hr style="margin-top: 0px">
    <div style="width: 100%">

        <div style="margin-left: 5%; border: 1px solid #EDE8E8; width: 57%; display: inline-block; height: 140px">
            <p style="margin-left: 2%"><b>Bill To</b></p>
            <hr>
            {% if masters[0].customer_id=="counter_sale" %}
                <p style="margin-left: 2%"> {{  masters[0].customer_name }}</p>
            {% else %}
                <p style="margin-left: 2%">{{ masters[0].party_name }}</p>
                <p style="margin-left: 2%; margin-bottom: 3px">{{  masters[0].CONTACT_NO }}</p>
                <p style="margin-left: 2%; margin-top: 0px; margin-bottom: 3px">{{ masters[0].EMAIL }}</p>
                <p style="margin-left: 2% ; margin-top: 0px">{{ masters[0].ADDRESS }}</p>
            {% endif %}

        </div>

        <div style="width: 34%; float: right; border: 1px solid #EDE8E8; display: inline-block; height: 200px; margin-right: 2%">

            <div style="display: inline-block; width: 40%">
                <p style="text-align: right;"><b>Invoice</b></p>
                <p style="text-align: right"><b>Invoice Date</b></p>
                <p style="text-align: right"><b>Time</b></p>
                <p style="text-align: right"><b>Payment type</b></p>

            </div>

            <div style="display: inline-block; width: 50%">
                <p style="margin-left: 20px">{{ masters[0].invoice_number }}</p>
                <p style="margin-left: 20px">{{masters[0].invoice_date|date("m/d/Y") }}</p>

                <p style="margin-left: 20px">{{masters[0].invoice_time }}</p>
                <p style="margin-left: 20px">{{masters[0].payment_type }}</p>

            </div>

        </div>


    </div>
    <br>
    <br>

    <div style="width: 90%; margin-left: 4.9%; margin-top: 0px">

        <table>
            <tr>
                <th style="width: 7%; text-align: center">SNO</th>
                <th style="width: 30%; text-align: left">Product</th>
                <th style="width: 10%; text-align: center">Unit</th>
                <th style="width: 10%; text-align: center">Qty</th>
                <th style="width: 15%; text-align: center">Rate</th>

                <th style="width: 7%; text-align: center">Dist</th>
                <th style="width: 15%; text-align: right">Amount</th>
            </tr>
            {% set count = 1 %}
            {% for child in childs %}
                <tr>
                    {#<td>{{ count }} </td>#}
                    {#<td>{{ child.product_name }}</td>#}
                    {#<td>{{ child.description }}</td>#}
                    {#<td>{{ child.quantity }}</td>#}
                    {#<td>{{ child.price }}</td>#}
                    {#<td>{{ child.item_discount }}</td#}
                    {#<td>{{ child.total}}</td>#}
                    <td style="text-align: center">{{ count }} </td>
                    <td style="text-align: left">{{ child.product_name }}</td>
                    <td style="text-align: center">{{ child.weight }}</td>
                    <td style="text-align: center">{{ child.quantity }}</td>
                    <td style="text-align: right">{{ child.price }}</td>

                    <td style="text-align: right">{{ child.item_discount }}</td>
                    <td style="text-align: right">{{ child.total }}</td>

                </tr>
                {% set count = ( count | default(0) ) + 1 %}
            {% endfor %}


        </table>
        <div style="width: 20%; display: inline-block">
            <table>
                <tr>
                    <td style="padding-top: 8px; padding-right: 0px;">Total Items :</td>
                    <td style="padding-left: 0px; padding-top: 8px">{{ count-1 }}</td>
                </tr>
            </table>
        </div>

        <div style="width: 35%; display: inline-block; float: right">

            <table style="float: right">
                <tr>
                    <td style="text-align: right">Gross Total : </td>
                    <td style="width: 70px; text-align: right;">{{ masters[0].gross_amount }}</td>
                </tr>

                <tr>
                    <td style="width: 70px; text-align: right; border-bottom: 0px">Discount : </td>
                    <td style="width: 70px; text-align: right; border-bottom: 0px">{{ masters[0].discount }}</td>
                </tr>
                <tr>
                    <td style="text-align: right; border-bottom: 0px;">Freight: </td>
                    <td style="width: 70px; text-align: right; border-bottom: 0px">{{ masters[0].freight }}</td>
                </tr>

                <tr>
                    <td style="text-align: right; border-bottom: 0px;">Net Total : </td>
                    <td style="width: 70px; text-align: right; border-bottom: 0px">{{ masters[0].net_amount }}</td>
                </tr>
            </table>



        </div>


    </div>





    <div style="min-height: 350px">


    </div>
   <div align="center"> <p style="font-weight: bold"> Note: Expiry and Damaged will not be changed or return for imported products</p></div>
    <!--
    <script>

        window.onload = function () {
            window.print();
        }

    </script>
    -->


</div>

<script>

    window.onload = function () {
        window.print();
    }

</script>

</body>
</html>
