<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->



    <section class="content">
        <a href="/demand_note/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add New</button></a>
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Demand Notes</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Demand Number</th>
                                <th>Date</th>
                                <th>Party Name</th>

                                <th>Action</th>

                            </tr>
                            </thead>

                            <tbody>
                            {% for demand in demands %}
                                <tr>

                                    <td>{{ demand.demand_number }}</td>
                                    <td>{{ demand.invoice_date|date("m/d/Y") }}</td>
                                    <td>{{ demand.p_name }}</td>
                                    <td><a target="_blank" href="/demand_note/print/{{ demand.id }}" class="btn btn-primary"><i class="fa fa-print"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>





<script>
        $(document).ready(function() {
            $('#example').DataTable( {
  "ordering": false
}
);
        });
    </script>



{% endblock middle %}
</body>
</html>