<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}



    <!-- jQuery library -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}

    {#<h1>The session value is : {{ session.name }}</h1>#}
    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Add Project</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/projects/store" method="post"  enctype="multipart/form-data">
                <div class="box-body">

                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1" class="lang" key="NAME">Name</label>
                        <input name="project_name" type="text"  placeholder="Enter Project Name here" class="form-control">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1" class="lang" key="NAME">Project Code</label>
                        <input name="project_code" type="text"  placeholder="Enter Project Code here" class="form-control">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1" class="lang" key="NAME">Start Date</label>
                        <input name="start_date" type="date" class="form-control" required="required">
                    </div>


                   



                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1" class="lang" key="NAME">Location</label>
                        <input name="project_location" type="text"  placeholder="Enter Project Location here" class="form-control">
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Logo</label>
                            <input name="product_pic" type="file"   class="form-control">
                        </div>
                    </div>


                    {% if(type=='Builder') %}
                    <input  type="hidden" name="project_type" value="Builder">
                    {% else %}
                        <input type="hidden" name="project_type" value="Developer">
                    {% endif %}



                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" >Terms</label>
                        <textarea class="form-control" style="height: 300px" name="project_terms"></textarea>
                    </div>







                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                </div>
            </form>
        </div>


    </div>




{% endblock middle %}


</body>
</html>