<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}



    <!-- jQuery library -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}

    {#<h1>The session value is : {{ session.name }}</h1>#}
    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Eidt Project</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/projects/update" method="post"  enctype="multipart/form-data">
                <div class="box-body">
                    {% for project in projects %}
                    <input type="hidden" name="project_id" value="{{ project.project_id }}">
                    <input type="hidden" name="old_product_pic" value="{{ project.project_logo }}">
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1" class="lang" key="NAME">Name</label>
                        <input name="project_name" type="text"  value="{{ project.project_name }}"  placeholder="Enter Project Name here" class="form-control">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1" >Project Code</label>
                        <input name="project_code" type="text"   value="{{ project.project_code }}" placeholder="Enter Project Code here" class="form-control">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1" >Start Date</label>
                        <input value="{{ project.start_date|date("Y-m-d") }}" name="start_date" type="date" class="form-control" required="required">
                    </div>


                   



                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1" >Location</label>
                        <input name="project_location" value="{{ project.project_location }}"  type="text"  placeholder="Enter Project Location here" class="form-control">
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Logo</label>
                            <img src="/../static/projects/{{ project.project_logo }}" data-holder-rendered="true" width="150px" style="margin-top:20px" />

                            <input name="product_pic" type="file"   class="form-control">
                        </div>
                    </div>


                    <input  type="hidden" name="project_type" value="{{ project.type }}">




                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" class="lang" key="NAME">Terms</label>
                        <textarea class="form-control" style="height: 300px" name="project_terms">{{ project.project_terms }}</textarea>
                    </div>







                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: right" type="submit" class="btn btn-primary">Update Now</button>
                </div>
                {% endfor %}
            </form>
        </div>


    </div>




{% endblock middle %}


</body>
</html>