<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/hawala/print/{{ sale_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>

    {% if(messages is not empty) %}
    <div class="alert alert-success">
        <p style="text-align: center; font-size:15px"><b>{{ messages }}</b></p>
    </div>

    {% endif %}


    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            {% if(type=='Builder') %}
            <a href="/projects/add/Builder"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span>Add Project</span></button></a>
            {% else %}
                <a href="/projects/add/Developer"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span>Add Project</span></button></a>
            {% endif %}
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Project List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table  class="table table-bordered table-striped" id="example">


                            <thead>
                            <tr>

                                <th>Name</th>
                                <th>Code</th>
                                <th>Logo</th>
                                <th>Start Date</th>
                                <th>End Date </th>
                                <th>Location</th>

                                {% if(role=='Admin') or (role=='manager') %}
                                    <th class="lang" key="edit"  style="width: 3%">Edit</th>
                                {% endif %}
                                {% if(role=='Admin')  %}
                                    <th class="lang" key="delete"  style="width: 3%">Delete</th>
                                {% endif %}



                            </tr>
                            </thead>



                            <tbody>

                            {% for project in projects %}
                                <tr>


                                    <td>{{ project.project_name }}</td>
                                    <td style="width: 10%;">{{ project.project_code }}</td>
                                    <td> <img src="/../static/projects/{{ project.project_logo }}" data-holder-rendered="true" width="150px" style="height: 180px; width: 180px" /> </td>
                                    <td style="width: 10%;">{{ project.start_date|date("m/d/Y") }}</td>
                                    <td style="width: 10%;"> {{ project.end_date|date("m/d/Y") }}</td>
                                    <td style="width: 25%;">{{ project.location }}</td>

                                    {% if(role=='Admin') or (role=='manager') %}
                                        <td><a target="_blank" href="/projects/edit/{{ project.project_id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
                                    {% endif %}
                                    {% if(role=='Admin')  %}
                                    {% if(type=='Builder') %}
                                        <td><a  href="/projects/delete/{{ project.project_id }}/Builder" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                    {% else %}
                                        <td><a  href="/projects/delete/{{ project.project_id }}/Developer" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                    {% endif %}
                                    {% endif %}




                                </tr>
                            {% endfor %}
                            </tbody>


                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
  "ordering": false
});
        });
    </script>

    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});




    </script>


    <script>
        $(document).ready(function(){
            {% if sale_id is empty %}
            {% else %}
            $('#myModal2').modal('show');
            {% endif %}
        });
    </script>

{% endblock middle %}


</body>

</html>