<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/adminhead.twig" %}
{% block middle %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Type</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/types/store" method="post">
                        <div class="box-body">

                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1" class="lang" key="NAME">Name</label>
                                <input name="name" type="text"  placeholder="Enter Customer Name here" class="form-control">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1">Amount</label>
                                <input name="amount" type="text"  placeholder="Enter Customer Name here" class="form-control">
                            </div>


                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1">Expiry(Number of days)</label>
                                <input name="expiry" type="text"  placeholder="Enter Expiry here" class="form-control">
                            </div>



                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1">Per Month</label>
                                <input name="per_month" type="text"  placeholder="Enter Per Month here" class="form-control">
                            </div>


                            <div class="form-group col-md-12">
                                <label for="exampleInputPassword1">Description</label>
                                <textarea class="form-control" name="description" style="height: 300px"></textarea>
                            </div>







                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



{% endblock middle %}
</body>
</html>