<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/adminhead.twig" %}

{% block middle  %}
    <section class="content">

            <a href="/types/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add New</button></a>

        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" >Types List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="lang" key="NAME">Name</th>
                                <th >Amount</th>
                                <th >Expiry</th>
                                <th>Per Month</th>
                                <th class="lang" key="delete" >Delete</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for type in types %}
                                <tr>
                                    <td>{{ type.name }}</td>
                                    <td>{{ type.AMOUNT }}</td>
                                    <td>{{ type.EXPIRY }}</td>
                                    <td>{{ type.PER_MONTH }}</td>


                                    <td>
                                        <a  href="/types/edit/{{ type.id }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                        <a  href="/types/delete/{{ type.id }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>

{% endblock middle %}


<script type="text/javascript">
    $(document).ready(function() {
        $('#bootstrap-data-table').DataTable();
    } );
</script>
</body>
</html>