<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title lang" key="edit user">Edit User</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/users/update" method="post">
                        <div class="box-body">
                            <input type="hidden" name="id" value="{{ users[0].PARTY_ID }}">
                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1" class="lang" key="Name">Name</label>
                                <input name="name" type="text" value="{{ users[0].NAME }}"  placeholder="Enter Customer Name here" class="form-control">
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="lang" key="email">Email</label>
                                    <input name="email" value="{{ users[0].EMAIL }}" type="text" id="street" placeholder="Enter Email Here" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="lang" key="contact number">Contact Number</label>
                                    <input name="contact_number" value="{{ users[0].CONTACT_NO }}" type="text" id="city" placeholder="Enter Contact Number Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="lang" key="password">Password</label>
                                    <input name="password" type="TEXT" value="{{ users[0].PASSWORD }}" id="city" placeholder="Enter Password Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="lang" key="role">Role</label>
                                    <select class="form-control" name="role">
                                        <option value="operator">Operator</option>
                                        <option value="manager">Manager</option>
                                    </select>
                                </div>
                            </div>




                            <div class="form-group col-md-12">
                                <label for="exampleInputPassword1" class="lang" key="description">Description</label>
                                <textarea name="description" class="form-control">{{ users[0].DESCRIPTION }}</textarea>
                            </div>



                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button style="float: right" type="submit" class="btn btn-primary">Update Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



{% endblock middle %}
</body>
</html>