<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script type="text/javascript">
        var a ='khurram';
        console.log(a);
    </script>
</head>
{% extends "login/head2.twig" %}
{% block middle %}
    <div class="col-sm-12">
        <div class="panel panel-default">

            <div class="panel-heading"  ><h4><b><span class="lang" key="Edit Hawala Form">Edit Hawala Form</span></b></h4></div><br>
            <div class="panel-body">

                <form role="form" action="/hawala_receive/update" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{ hawalas[0].hawala_id }}">
                    <input type="hidden" name="old_product_pic" value="{{ hawalas[0].cnic }}">
                    <input type="hidden" id="hidden_to_id" name="hidden_to_id" value="{{ hawalas[0].to_customer }}" >
                    <div class="row">
                        <!-- hawaala no -->
                        <div class="col-sm-12" >
                            <label class="col-sm-2 lang" key="hawala no">Hawala No</label>
                            <div class="col-sm-3">
                                <input value="{{ hawalas[0].hawala_number }}" style="color: blue; font-weight: bold; font-size: 20px" type="text" name="hawala_number" class="form-control" value="" required="required">
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 lang" key="date">Hawala Date</label>
                            <div class="col-sm-3">
                                <input value="{{ hawalas[0].hawala_date|date("Y-m-d") }}" type="date" name="hawala_date"  class="form-control">
                            </div>
                        </div>


                        <div class="col-sm-12" ><br>

                            <label class="col-sm-2 lang" key="customer type">Customer Type</label>
                            <div class="col-sm-3">
                                <select class="form-control type" name="customer_type">
                                    <option value="">--Select--</option>
                                    <option value="permanent">Permanent</option>
                                    <option value="cash">Cash</option>
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 lang" key="from customer">From Customer</label>
                            <div class="col-sm-3">
                                <select class="form-control" name="from_customer" id="from_customer">
                                    <option value="0">Select Customer</option>
                                    {% for customer in customers %}
                                        {% if(hawalas[0].from_customer == customer.PARTY_ID) %}
                                            <option value="{{ customer.PARTY_ID }}" selected> {{ customer.NAME }}</option>
                                        {% else %}
                                            <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Customer type -->
                        <div class="col-sm-12"><br>

                            <label class="col-sm-2 lang" key="to customer">To Customer </label>
                            <div class="col-sm-3">
                                <select class="form-control" id="to_customer" name="to_customer">
                                    <option value="0">Select Customer</option>
                                    {% for customer in customers %}
                                        {% if(hawalas[0].to_customer == customer.PARTY_ID) %}
                                            <option value="{{ customer.PARTY_ID }}" selected> {{ customer.NAME }}</option>
                                        {% else %}
                                            <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 lang" key="hawala currency">Hawala Currency </label>
                            <div class="col-sm-3">
                                <select class="form-control" name="currency_id" id="currency_id">
                                    {% for currency in currencies %}
                                        {% if(hawalas[0].currency_id == currency.currencyid) %}
                                            <option value="{{ currency.currencyid }}" selected> {{ currency.currency_name }}</option>
                                        {% else %}
                                            <option value="{{ currency.currencyid }}" > {{ currency.currency_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Hawala currrnecy -->
                        <div class="col-sm-12"><br>
                            <label class="col-sm-2 lang" key="hawala amount">Hawala Amount</label>
                            <div class="col-sm-3">
                                <input type="text" name="hawala_amount" id="hawala_amount" class="form-control" value="{{ hawalas[0].hawala_amount }}">
                            </div>
                            <div class="col-sm-1"></div>

                            <label class="col-sm-2 lang" key="hawala commission">Hawala Commission </label>
                            <div class="col-sm-3">
                                <input type="text" name="hawala_commission" id="hawala_commission" class="form-control" value="{{ hawalas[0].hawala_commission }}">
                            </div>
                        </div>

                        <div class="col-sm-12"><br>

                            <label class="col-sm-2 lang" key="commission currency">Commission Currency</label>
                            <div class="col-sm-3">
                                <select class="form-control" name="commission_currency_id">
                                    {% for currency in currencies %}
                                        {% if(hawalas[0].commission_currency_id == currency.currencyid) %}
                                            <option value="{{ currency.currencyid }}" selected> {{ currency.currency_name }}</option>
                                        {% else %}
                                            <option value="{{ currency.currencyid }}" > {{ currency.currency_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 lang" key="Status">Status</label>
                            <div class="col-sm-3">
                                <select class="form-control" name="status">
                                   {% if(hawalas[0].status=='pending') %}
                                        <option value="pending" selected>Pending</option>
                                        <option value="clear">Clear</option>
                                    {% else %}
                                        <option value="pending">Pending</option>
                                        <option value="clear" selected>Clear</option>
                                    {% endif %}
                                </select>
                            </div>

                        </div>


                        <div class="col-sm-12"><br>
                            <div id="to_name" style="display: none">
                                <label class="col-sm-2 lang" key="to name">To Name</label>
                                <div class="col-sm-3">
                                    <input type="text" value="{{ hawalas[0].to_name }}" name="to_name"  class="form-control">
                                </div>
                                <div class="col-sm-1"></div>
                            </div >




                            <label class="col-sm-2 lang" key="from name">From Name </label>
                            <div class="col-sm-3">
                                <input type="text" value="{{ hawalas[0].from_name }}" name="from_name" class="form-control" >
                            </div>


                        </div>

                        <div class="col-sm-12"><br>

                            <label class="col-sm-2 lang" key="time">Time</label>
                            <div class="col-sm-3">
                                <input name="hawala_time" style="font-weight: bold; color: green;font-size: 19px"  readonly type="timer" value="" class="form-control" id="timer">

                            </div>


                        </div>

                        <!--  -->
                        <div class="col-sm-12"><br>


                            <label class="col-sm-1 lang" key="remarks">Remarks</label>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-9">
                                <textarea name="remarks" rows="4" class="form-control">{{ hawalas[0].remarks }}</textarea>
                            </div>
                        </div>
                        <!--  -->
                    </div>

                    <hr>
                    <h3 class="lang" key="conversion">Conversion</h3>
                    <div class="col-sm-12"><br>
                        <label class="col-sm-2 lang" key="conversion currency">Conversion Currency </label>
                        <div class="col-sm-3">
                            <select class="form-control" name="conversion_currency_id">
                                {% for currency in currencies %}
                                    {% if(hawalas[0].conversion_currency_id == currency.currencyid) %}
                                        <option value="{{ currency.currencyid }}" selected> {{ currency.currency_name }}</option>
                                    {% else %}
                                        <option value="{{ currency.currencyid }}" > {{ currency.currency_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2 lang" key="exchange rate">Exg Rate</label>
                        <div class="col-sm-3">
                            <input value="{{ hawalas[0].exchange_rate }}" type="text" name="exchange_rate" id="exchange_rate" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-12"><br>
                        <label class="col-sm-2 lang" key="total amount">Total Amount </label>
                        <div class="col-sm-3">
                            <input type="text" value="{{ hawalas[0].total_amount }}" style="color: green; font-weight: bold; font-size: 20px" name="total_amount" id="total_amount" class="form-control">
                        </div>

                        <div class="col-sm-1"></div>
                        <label class="col-sm-2 lang" key="cnic">CNIC</label>
                        <div class="col-sm-3">
                            <img src="/../static/cnics/{{ hawalas[0].cnic }}" data-holder-rendered="true" width="150px" style="margin-top:20px" />

                            <input name="product_pic" type="file" id="city" placeholder="Enter your Contact Number" class="form-control">

                        </div>
                    </div>
                    <div class="col-sm-12">
                            <button style="float: right" class="btn btn-success ">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


    </div>


    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>
    <script>
        $('.type').on('change',function(){
            var type= $(this).val();
            if(type=='cash'){
                $("#to_customer").val('0');
                $('#to_customer').attr("disabled", true);
                $('#to_name').show();
            }
            else{

                $('#to_customer').attr("disabled", false);
                $('#to_name').hide();
            }
        });

        $('body').on('input','#hawala_amount',function(){
            calculate();
        });
        $('body').on('input','#hawala_commission',function(){
            calculate();
        });


        $('body').on('input','#exchange_rate',function(){
//            var total_payment=$('#total_payment').val();
            var net_amount=parseFloat($('#hawala_amount').val())*parseFloat($(this).val());
            $('#total_amount').val(parseFloat(net_amount));
        });

    </script>

    <script>
        function calculate(){

            var hawala_amount=$('#hawala_amount').val();
//            var hawala_commission=$('#hawala_commission').val();
            var exchange_rate=$('#exchange_rate').val();
            if(exchange_rate==""){
                var net_amount=parseInt(hawala_amount)+parseInt(0);
                $('#total_amount').val(net_amount);
            }
            else{
                var net_amount=parseInt(hawala_amount)*parseInt($('#exchange_rate').val());
                $('#total_amount').val(net_amount);
            }

        }
    </script>
    <script>
        $(document).ready(function(){
            if($('#hidden_to_id').val()==""){
                $('.type').val('cash');
                $('#to_customer').attr("disabled", true);
                $('#to_name').show();

            }
            else{
                $('.type').val('permanent');
                $('#to_name').hide();
            }
        })
    </script>

    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>


{% endblock middle %}
</body>
</html>