
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    * {
        font-size: 12px;
        font-family: 'Times New Roman';
    }

    td,
    th,
    tr,
    table {
        border-top: 1px solid black;
        border-collapse: collapse;
    }

    td.description,
    th.description {
        width: 75px;
        max-width: 75px;
    }

    td.quantity,
    th.quantity {
        width: 40px;
        max-width: 40px;
        word-break: break-all;
    }

    td.price,
    th.price {
        width: 40px;
        max-width: 40px;
        word-break: break-all;
    }

    .centered {
        text-align: center;
        align-content: center;
    }

    .ticket {
        width: 100%;
        /*max-width: 1px;*/
    }

    img {
        max-width: inherit;
        width: inherit;
    }

    @media print {
        .hidden-print,
        .hidden-print * {
            display: none !important;
        }
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Receipt example</title>
</head>
<body>
<div class="ticket">
   

    <div align="center">


        <img src="/../static/img/{{ session.logo }}" width="80px" height="80px" style="margin-top: 15px;">
        <hr style="border: 1px solid black">
    </div>
    
    <p style="font-size: 18px;" class="centered"><b>پرداخت هاوال</b></p>
    <table>
        <div>
            <p style="margin-top: 10px; margin-bottom: 0px"><span style="margin-right:18px;"><span style="margin-right:10px"> {{results[0].hawala_date|date("m/d/Y") }} {{ results[0].hawala_time }} </span> : زمان / تاریخ </p>
        </div>
        <p style="margin-top: 10px; margin-bottom: 0px"> <span style="margin-right: 75px;"> {{ results[0].hawala_number }}</span>: شماره هاوالا </p>
        <p style="margin-top: 10px; margin-bottom: 0px"> <span style="margin-right:22px;"> {{ results[0].hawala_amount }} {{ results[0].currency_name }}</span>: مقدار هاوال</p>

        <p style="margin-top: 10px; margin-bottom: 0px"><span style="margin-right: 75px;"> {{ results[0].from_name }}</span>: هاوالا از</p>

        {% if(results[0].to_name=="") %}
            <p style="margin-top: 10px; margin-bottom: 0px"><span style="margin-right: 45px;"> {{ results[0].to_customer_name }}</span>: هاوالا به </p>
        {% else %}
            <p style="margin-top: 10px; margin-bottom: 0px"><span style="margin-right: 45px;"> {{ results[0].to_name }}</span>: هاوالا به</p>
        {% endif %}


        <p style="margin-top: 10px; margin-bottom: 0px"><span style="margin-right: 45.5px;"> {{ results[0].from_customer_name }}</span>: دریافت شده از</p>
        {#<p style="margin-top: 10px; margin-bottom: 0px">Currency :<span style="margin-left: 50px;"> {{ results[0].currency_name }}</span></p>#}
        {#<p style="margin-top: 10px; margin-bottom: 0px">Commission In :<span style="margin-left: 20px;"> {{ results[0].currency_commision }}</span></p>#}
        {#<p style="margin-top: 10px; margin-bottom: 0px">Commission :<span style="margin-left: 35px;"> {{ results[0].hawala_commission }}</span></p>#}
        {#<p style="margin-top: 10px; margin-bottom: 0px">Exchange Rate :<span style="margin-left: 20px;"> {{ results[0].exchange_rate }}</span></p>#}
        {#<p style="margin-top: 10px; margin-bottom: 0px">Total Amount :<span style="margin-left: 30px;"> {{ results[0].total_amount }}</span></p>#}
        {#<p style="margin-top: 10px; margin-bottom: 0px">Address:<span> <br>{{results[0].ADDRESS }} </span></p>#}
        <p style="margin-top: 30px; margin-bottom: 0px; font-size: 11px !important ;"><span>____________ </span>: ورود گیرنده هاوالا</p>
        <p style="margin-top: 30px; margin-bottom: 0px; font-size: 11px !important ;"><span>______________ </span>: انجام شده توسط</p>
    </table>
    {#<p class="centered">Thanks for your Sale!#}
    {#</p>#}
</div>

<script>
    $(document).ready(function(){
        window.print();
    });
</script>
</body>
</html>
