<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}




    <section class="content">
        <a href="/bookers/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add New Booker</button></a>
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Bookers</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact Number</th>
                                <th>Description</th>
                                <th>Opening Balance</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for booker in bookers %}
                                <tr>
                                    <td>{{ booker.NAME }}</td>
                                    <td>{{ booker.EMAIL }}</td>
                                    <td>{{ booker.CONTACT_NO }}</td>
                                    <td>{{ booker.DESCRIPTION }}</td>
                                    <td>{{ booker.OPENING_BALANCE }}</td>
                                    <td>
                                        {#<a class="btn btn-primary" href="/bookers/edit/{{ booker.PARTY_ID }}"><i class="glyphicon glyphicon-pencil"></i>Edit</a>#}
                                        <a class="btn btn-danger" href="/bookers/delete/{{ booker.PARTY_ID }}"><i class="glyphicon glyphicon-remove"></i>Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
  "ordering": false
}
    );
            {
  "ordering": false
}
        });
    </script>




{% endblock middle %}
</body>
</html>