<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}
{% block middle %}
    <!-- Latest compiled and minified CSS -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Trigger the modal with a button -->

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: red"><strong>Alert</strong></h4>
                </div>
                <div class="modal-body">
                    <p><strong>The price cant not be less the cost price.</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/sale_return/print/{{ sale_id }}"   class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>


    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Eidt Return Invoice</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/sale_return/update2" method="post" id="sale_return_form">
                        <input type="hidden" id="hidden_party_id" name="hidden_party_id" value="{{ sale_master[0].customer_id }}" >
                        <input type="hidden" name="id" value="{{ sale_master[0].id }}">
                        <div class="box-body">
                            <div class="col-md-4">
                                <input type="hidden" id="hidden_company_id" name="hidden_company_id" value="{{ company_id }}">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Invoice Number</label>
                                    <input style="color: green; font-weight: bold; font-size: 20px"  type="text" name="invoice_number" value="{{ sale_master[0].invoice_number }}" class="form-control" id="exampleInputEmail1"  readonly="readonly">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Search By Invoice Number</label>
                                    <input type="text" name="reference_number" value="" class="form-control" id="search_by_invoice_number"  readonly >
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Invoice Date</label>
                                    <input type="date" name="invoice_date" class="form-control"  value="{{ sale_master[0].invoice_date|date("Y-m-d") }}"  placeholder="Enter Category Name">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" >
                                    <label for="exampleInputEmail1">Time</label>
                                    <input name="time" style="font-weight: bold; color: green;font-size: 19px"  readonly type="timer" value="" class="form-control" id="timer">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" style="margin-top: 20px;">
                                    <label for="exampleInputEmail1">Payment Type</label>

                                    <label class="checkbox-inline">
                                        <input type="radio" class="type" value="cash" name="payment_type" checked>Cash
                                    </label>

                                    <label class="checkbox-inline">
                                        <input type="radio" class="type" value="credit" name="payment_type">Credit
                                    </label>

                                </div>
                            </div>



                            <div class="col-md-4">
                                <div id="first" class="form-group" >
                                    <label for="exampleInputPassword1">Customer Name</label>
                                    <select class="form-control" name="customer_id" id="customer_id">
                                        <option value="counter_sale">Counter Sale</option>
                                        {% for customer in customers %}
                                            {% if(sale_master[0].customer_id == customer.PARTY_ID) %}
                                                <option value="{{ customer.PARTY_ID }}" selected> {{ customer.NAME }}</option>
                                            {% else %}
                                                <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div id="second" class="form-group" style="display: none">
                                    <label for="exampleInputPassword1">Customer Name</label>
                                    <input type="text" name="customer_name"  class="form-control" value="" id="khan">
                                </div>
                            </div>


                            <br><br>

                            <div class="form-group col-md-12" style="margin-top: 20px;">
                                <div class="table-responsive m-t">
                                    <table class="table table-bordered">
                                        <thead style="background-color: #2196f3; color: white">
                                        <tr>
                                            <th style="width: 2px">Sno</th>
                                            <th style="width:200px">Category name</th>
                                            <th>Product Name</th>
                                            <th style="width: 100px">Unit</th>
                                            <th style="width: 100px">QTY</th>
                                            <th style="width: 100px">Unit Price</th>


                                            <th style="width: 100px">Total</th>
                                            <th style="width: 100px">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody id="purbody">
                                        {% set count = 1 %}
                                        {% for child in sale_child %}
                                        <tr id="remove_in_edit">
                                            <td>{{ count }}</td>
                                            <td>
                                                <select  class="category_id js-source-states form-control" style="width: 100%" name="category_id[]">


                                                    <option value="">Select category</option>
                                                    {% for category in categories %}
                                                        {% if(child.category_id==category.CATEGORY_ID) %}
                                                            <option value="{{ category.CATEGORY_ID }}" selected> {{ category.NAME }}</option>
                                                        {% else %}
                                                            <option value="{{ category.CATEGORY_ID }}"> {{ category.NAME }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td style="width: 20%;">
                                                <select   class="form-control product_id " style="width: 100%" name="product_id[]" id="product_id">
                                                    <option value="">Select Product</option>
                                                    {% for product in products %}
                                                        {% if(child.product_id==product.PRODUCT_ID) %}
                                                            <option value="{{ product.PRODUCT_ID }}" selected> {{ product.NAME }}</option>
                                                        {% else %}
                                                            <option value="{{ product.PRODUCT_ID }}"> {{ product.NAME }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td><input style="font-weight: bold; text-align: right" class="form-control unit" readonly="readonly" type="text"  value="{{ child.weight }}" name="unit[]" id="unit" required="required"></td>
                                            <td><input style="font-weight: bold; text-align: right" class="form-control quantity" value="1" type="text" name="quantity[]" value="{{ child.quantity }}" id="quantity" required="required"></td>
                                            <td><input style="font-weight: bold; text-align: right" class="form-control price" type="text"  name="price[]" value="{{ child.price }}" id="price" required="required">
                                                <input style="font-weight: bold; text-align: right; display: none" class="form-control cost_price" type="text" value="{{ child.cost_price }}"  name="cost_price[]" id="cost_price" required="required">
                                                <input style="font-weight: bold; text-align: right;display: none" class="form-control product_type" type="text"  name="product_type[]" value="{{ child.product_type }}"  id="product_type">
                                            </td>


                                            <td><input style="font-weight: bold; text-align: right" class="form-control total" readonly="readonly" type="number" value="{{ child.total }}" name="total[]" id="total" required="required"></td>
                                            <td>
                                                <button class="btn btn-info btn-circle puradd" type="button"><i class="fa fa-plus-square"></i></button>
                                                <button style="display: none" class="btn btn-warning btn-circle removepur" type="button"><i class="fa fa-times"></i></button>

                                            </td>
                                        </tr>
                                            {% set count = ( count | default(0) ) + 1 %}
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group col-md-8">
                                <label class="control-label" for="description">Internal Notes</label>
                                <input style="height: 100px;" class="form-control input-lg" type="text" name="internal_notes" id="edit_internal_notes" >

                                <label class="control-label" for="description">External Notes</label>
                                <input style="height: 100px;" class="form-control input-lg" type="text" name="external_notes" id="edit_external_notes" >

                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label" for="email">Gross Amount</label>
                                <input data-type="currency"  value="{{ sale_master[0].gross_amount }}" readonly style="width: 70%; color: green; font-family:'Times New Roman', Georgia, Serif; font-size: 20px; font-weight: bold; text-align: right" class="form-control gross_amount" id="gross_amount" type="text" name="gross_amount"  required="required">

                                <label class="control-label" for="email">Discount</label>
                                <input value="{{ sale_master[0].discount }}" style="width: 70%; color: green; font-family:'Times New Roman', Georgia, Serif; font-size: 20px; font-weight: bold; text-align: right"  class="form-control discount" id="discount" type="text" name="discount" value="0" required="required" onkeyup="discountedit()">

                                <label class="control-label" for="email">Tax</label>
                                <select style="width: 70%" class="form-control" id="tax">
                                    <option value="0">0</option>
                                    <option value="1" data-charges="10">(G.S.T)10</option>
                                    <option value="1" data-charges="20">(P.D)20</option>
                                    <option value="1" data-charges="30">(T.T)30</option>
                                </select>

                                <label class="control-label" for="email">Net Amount</label>
                                <input value="{{ sale_master[0].net_amount }}" readonly style="height: 60px;width: 70%; color: red; font-family:'Times New Roman', Georgia, Serif; font-size: 20px; font-weight: bold; text-align: right" class="form-control net_amount" id="net_amount" type="text" name="net_amount"  required="required">


                            </div>



                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function(){
            $('.type').on('change',function(){
                var type= $(this).val();
                if(type=='cash'){
//                $('#first').hide();
//                $('#second').show();
                }
                else{
//                $('#first').show();
//                $('#second').hide();
                }
            });


            if($('#hidden_party_id').val()=='counter_sale'){
                $('input[name="payment_type"][value="cash"]').prop("checked", true);
                $('#first').show();
//                $('#second').show();
                $("#payment").val('');
                $("#payment").attr('readonly','readonly');

            }
            else{
                $('input[name="payment_type"][value="credit"]').prop("checked", true);
                $("#payment").removeAttr('readonly');
                $('#first').show();
                $('#second').hide();
            }

            //for adding new row//
            $('body').on('click','.puradd',function(){
                var counter=2;
                counter++;
                $('.puradd').hide();

                var newRow = $('<tr>' +
                        '<td>'+counter+'</td>'+
                        '<td>' +
                        '<select  class="category_id js-source-states form-control" style="width: 100%" name="category_id[]">' +
                        '<option value="">Select Category</option>'+
                        {% for category in categories %}
                        '<option value="{{  category.CATEGORY_ID }}"> {{  category.NAME }} </option>'+
                        {% endfor %}
                        '</select>' +
                        '</td>' +
                        '<td>' +
                        '<select   class="form-control product_id " style="width: 100%" name="product_id[]" id="product_id">' +
                        '<optgroup label="Product Name">'+
                        '<option value="">Select Product</option>'+
                        '</optgroup>'+
                        '</select>' +
                        '</td>' +
                        '<td><input style="font-weight: bold; text-align: right" id="unit" class="form-control  unit"  readonly="readonly" type="text" name="unit[]" required="required"/></td>' +
                        '<td><input style="font-weight: bold; text-align: right" id="quantity"  value="1"  class="form-control quantity" type="text" name="quantity[]"/></td>' +
                        '<td><input style="font-weight: bold; text-align: right" id="price" class="form-control price" type="text" name="price[]"/><input style="font-weight: bold; text-align: right;display: none" id="cost_price" class="form-control cost_price" type="text" name="cost_price[]"/><input style="font-weight: bold; text-align: right;display: none" class="form-control product_type" type="text"  name="product_type[]" id="product_type"></td>' +


                        '<td><input style="font-weight: bold; text-align: right" id="total" class="form-control total" readonly="readonly" type="text" name="total[]"/></td>' +
                        '<td> ' +
                        '<button class="btn btn-info btn-circle puradd" type="button"><i class="fa fa-plus-square"></i></button>' +
                        ' <button class="btn btn-warning btn-circle removepur" type="button"><i class="fa fa-times"></i></button>' +
                        '</td>' +
                        '</tr>');
                $('#purbody').append(newRow);
            });
            //end of adding new row//

            $('body').on('change' ,'.category_id' , function(){
                var row = $(this).closest('tr');
                var $el= row.find($('.product_id'));
                var id=$(this).val();

                $el.empty();
                $el.append('<option value="">select product </option>')
                $.ajax({
                    'type':'Get',
                    'url':"/sale_invoice/cat_product"+ "/"+ id,
                    success:function(response){
                        console.log(response)
                        $.each(response,function(key,value){
                            $el.append("<option data-product_type='"+value.product_type+"'  data-weight='"+value.weight+"' data-cost='"+value.COST_PRICE+"'  data-sale='"+value.SALE_PRICE+"'   value='"+value.PRODUCT_ID+"'>"+value.NAME+"</option>");
                        });
                    }
                });
            });

            $('body').on('change','.product_id',function(){
                var price=$(this).find(':selected').data('sale');
                var cost=$(this).find(':selected').data('cost');
                var row = $(this).closest('tr');
                row.find($('.cost_price')).val(cost);
                var weight=$(this).find(':selected').data('weight');
                var product_type=$(this).find(':selected').data('product_type');
                row.find($('.unit')).val(weight);
                row.find($('.product_type')).val(product_type);
                var unit_price=row.find($('.price'));
                unit_price.val(price);
                var quantity= row.find($('.quantity')).val();
                var total=row.find($('.total'));
                total.val(price*quantity);

                calculate();
            });

            $('body').on('input','.quantity',function(){
                var quantity=$(this).val();
                var row=$(this).closest('tr');
                var price= row.find($('.price')).val();
                var total=row.find($('.total'));
                total.val(price*quantity);
                calculate();

            });

            $('body').on('change','.price',function(){
                var price=$(this).val();
                var row=$(this).closest('tr');
                var quantity= row.find($('.quantity')).val();
                var costprice=row.find($('.cost_price')).val();

                if(price < costprice){

                    $('#myModal').modal('show');
                    var sale_price=row.find($('.product_id')).find(':selected').data('sale');
                    row.find($('.price')).val(sale_price);
                }
                else{

                    var total=row.find($('.total')).val();
                    var new_price=$(this).val();
                    var quantity= row.find($('.quantity')).val();
                    row.find($('.total')).val(new_price*quantity);

                    calculate();
                }

            });

            $('body').on('click','.removepur',function(){
                $(this).closest('tr').remove();
                $('.puradd').show();
                calculate();
            });

            $('body').on('input','#discount',function(){
                calculate();
            });

            $('body').on('change','#tax',function(){
                var tax=$(this).find(':selected').data('charges');
                calculate();
            });

        });
    </script>



    <script>
        function calculate(){
            var sum = 0;
            $("input[class *= 'total']").each(function(){
                sum += +$(this).val();
            });
            $('.gross_amount').val(sum);
            var discount=$('#discount').val();
            var net_amount=sum-discount;
            var tax=$('#tax').val();
            net_amount=parseInt(net_amount)+parseInt(tax);
            $('.net_amount').val(net_amount);
        }
    </script>

    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>





    {#for return section new data#}

    <script>
        $(document).ready(function(){
            $('body').on('change','#search_by_invoice_number',function(){
                var invoice_number=$(this).val();
                var master_id;
                $.ajax({
                    'async': false,
                    'global': false,
                    'type':'Get',
                    'url':"/sale_return/sale_record_by_invoice"+ "/"+ invoice_number,
                    success:function(response){
                        console.log(response)
                        $.each(response,function(key,value){
                            if(value.payment_type=='credit'){
                                $('#first').hide();
                                $('#second').show();
                                $('#khan').val(value.customer_name);
                            }
                            master_id=value.id;
                            $('#gross_amount').val(value.gross_amount);
                            $('#discount').val(value.discount);
                            $('#net_amount').val(value.net_amount);
                        });
                    }
                });

                $.ajax({
                    'async': false,
                    'global': false,
                    'type':'Get',
                    'url':"/sale_return/sale_child_by_master"+ "/"+ master_id,
                    success:function(response){
                        $('#purbody').empty();
                        var counter=0;
                        $.each(response,function(key,value){

                            counter=counter+1;
                            $('.puradd').hide();
                            var cat_id=value.category_id;

                            var newRow = $('<tr>' +
                                    '<td>'+counter+'</td>'+
                                    '<td>' +
                                    "<select class='js-source-states category_id form-control select"+counter+"'  style='width: 100%' name='category_id[]' id='category_id'>" +
                                    '<option value="">Select Category</option>'+
                                    {% for category in categories %}
                                    '<option value="{{ category.CATEGORY_ID }}">{{ category.NAME }}</option>'+
                                    {% endfor %}
                                    '</select>' +
                                    '</td>' +
                                    '<td>' +
                                    "<select class='js-source-states product_id form-control select2"+counter+" select3"+counter+"'  style='width: 100%' name='product_id[]' id='product_id'>" +
                                    '<optgroup label="Product Name">'+
                                    '<option value="">Select Product</option>'+
                                    '</optgroup>'+
                                    '</select>' +
                                    '</td>' +
                                    '<td><input style="font-weight: bold; text-align: right" id="quantity"  value="'+ value.quantity +'"  class="form-control quantity" type="text" name="quantity[]"/></td>' +
                                    '<td><input style="font-weight: bold; text-align: right" id="price" value="'+ value.price +'" class="form-control price" type="text" name="price[]"/><input style="font-weight: bold; text-align: right;display: none" id="cost_price" value="'+ value.cost_price +'" class="form-control cost_price" type="text" name="cost_price[]"/><input style="font-weight: bold; text-align: right;display: none" class="form-control product_type" type="text" value="'+ value.product_type +'"  name="product_type[]" id="product_type"></td>' +

                                    '<td><input style="font-weight: bold; text-align: right" id="cquantity" class="form-control  cquantity"  readonly="readonly" type="text" name="cquantity[]" required="required"/></td>' +
                                    '<td><input style="font-weight: bold; text-align: right" id="total" class="form-control total" value="'+ value.total +'" readonly="readonly" type="text" name="total[]"/></td>' +
                                    '<td> ' +
                                    '<button class="btn btn-info btn-circle puradd" type="button"><i class="fa fa-plus-square"></i></button>' +
                                    ' <button class="btn btn-warning btn-circle removepur" type="button"><i class="fa fa-times"></i></button>' +
                                    '</td>' +
                                    '</tr>');
                            $('#purbody').append(newRow);


                            $('.select'+counter+'').select();
                            $('.select'+counter+'').val(value.category_id);


                            var $el= $('.select3'+counter+'');
                            $el.empty();


                            var product_id;
                            $.ajax({
                                'async': false,
                                'type':'Get',
                                'url':"/sale_invoice/cat_product"+ "/"+ value.category_id,
                                success:function(response){
                                    $.each(response,function(key,value){
                                        product_id=value.PRODUCT_ID;
                                        $el.append("<option data-cost='"+value.COST_PRICE+"'  data-sale='"+value.SALE_PRICE+"'   value='"+value.PRODUCT_ID+"'>"+value.NAME+"</option>");

                                    });
                                    $('.select2'+counter+'').select();
                                    $('.select2'+counter+'').val(product_id);
                                }

                            });




                        });
                    }
                });

            });
        });
    </script>

    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>


    <script>
        $(document).ready(function(){
            {% if sale_id is empty %}
            {% else %}
            $('#myModal2').modal('show');
            {% endif %}
        });
    </script>


    <script>
        $(document).ready(function(){
            $("#sale_return_form").submit(function(e){
                var type=$('input[name="payment_type"]:checked').val();

                if(type=='cash'){
                    var customer_value=$('#customer_id').val();
                    if(customer_value=='counter_sale'){
                    }
                    else{
                        e.preventDefault();
                        alert('As Payment type is Cash so kindly select counter sale')
                    }
                }

                else{
                    var customer_value=$('#customer_id').val();

                    if(customer_value=='counter_sale'){
                        e.preventDefault();
                        alert('As Payment type is Credit so kindly select Customer From Drop Down')
                    }
                    else{

                    }
                }


            });
        });
    </script>




{% endblock middle %}
</body>
</html>