<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->



    <section class="content">
        <a href="/sale_return/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add New</button></a>
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="sale return">Sale Return</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="lang" key="Name">Name</th>
                                <th class="lang" key="invoice number">Invoice Number</th>
                                <th class="lang" key="date">Date</th>
                                <th class="lang" key="payment type">Payment Type</th>
                                <th class="lang" key="discount">Discount</th>
                                <th class="lang" key="total">Total</th>
                                <th class="lang" key="action">Action</th>

                            </tr>
                            </thead>

                            {% for return in returns %}
                                <tr>
                                    {% if return.customer_id == 'counter_sale' %}
                                        <td>Counter Sale</td>
                                    {% else %}
                                        <td>{{ return.p_name }}</td>
                                    {% endif %}

                                    <td>{{ return.invoice_number }}</td>

                                    <td>{{ return.invoice_date|date("m/d/Y") }}</td>
                                    <td>{{return.payment_type }}</td>
                                    <td>{{ return.discount }}</td>
                                    <td>{{ return.net_amount }}</td>
                                    <td>
                                             <a  href="/sale_return/edit/{{ return.id }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                        <a target="_blank" href="/sale_return/print/{{ return.id }}" class="btn btn-primary"><i class="fa fa-print"></i></a>
                                      <a  href="/sale_return/delete/{{ return.id }}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>

                                </tr>
                            {% endfor %}

                            <tbody>

                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>





<script>
        $(document).ready(function() {
            $('#example').DataTable({
  "ordering": false
});
        });
    </script>

{% endblock middle %}
</body>
</html>