<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Customer</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/realestate_customers/store" method="post" enctype="multipart/form-data">
                        <div class="box-body">
                            
                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1">Registration No</label>
                                <input name="reg_no" type="text"  placeholder="Enter Registration No here" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1">Name</label>
                                <input name="name" type="text"  placeholder="Enter Customer Name here" class="form-control">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1">Father Name</label>
                                <input name="father_name" type="text"  placeholder="Enter Father Name here" class="form-control">
                            </div>

                            

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Postal Address</label>
                                    <input name="address" type="text" id="city" placeholder="Enter Address Here" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Permanent Address</label>
                                    <input name="permanent_address" type="text" id="city" placeholder="Enter Address Here" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Phone Number</label>
                                    <input name="phone_number" type="text" id="city" placeholder="Enter Phone Number Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Residance Number</label>
                                    <input name="residence_number" type="text" id="city" placeholder="Enter Residance Number Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contact Number</label>
                                    <input name="contact_number" type="text" id="city" placeholder="Enter Contact Number Here" class="form-control">
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Email</label>
                                    <input name="email" type="text" id="street" placeholder="Enter Email Here" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Occupation</label>
                                    <input name="occupation" type="text" id="street" placeholder="Enter Occupation Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Age</label>
                                    <input name="age" type="text" id="street" placeholder="Enter Age Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Nationality</label>
                                    <input name="nationality" type="text" id="street" placeholder="Enter Nationality Here" class="form-control">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Customer Image</label>
                                    <input name="customer_image" type="file" class="form-control">
                                </div>
                            </div>
                            
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">CNIC</label>
                                    <input name="cnic" type="text" id="street" placeholder="Enter CNIC Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Customer CNIC Image</label>
                                    <input name="customer_cnic_image" type="file" placeholder="Select Customer CNIC image" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6" style="display: none">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Opening Balance</label>
                                    <input name="opening_balance" type="number" id="street" placeholder="Enter Balance" value="0"  class="form-control">
                                </div>
                            </div>


                            {% if(type=='Builder') %}
                                <input  type="hidden" name="registration_type" value="Builder">
                            {% else %}
                                <input type="hidden" name="registration_type" value="Developer">
                            {% endif %}

                            




                            <div class="form-group col-md-12">
                                <label for="exampleInputPassword1">Description</label>
                                <textarea name="description" class="form-control"></textarea>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Name Of Nominee</label>
                                    <input name="name_of_nominee" type="text" id="street" placeholder="Enter Nominee Name Here" class="form-control">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Nominee Image</label>
                                    <input name="nominee_image" type="file" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Nominee CNIC Image</label>
                                    <input name="nominee_cnic_image" type="file" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Relation</label>
                                    <input name="relation" type="text" id="street" placeholder="Enter Relation" class="form-control">
                                </div>
                            </div>



                            
                            
                            <div class="form-group col-md-12">
                                <label for="exampleInputPassword1">Address of Nominee</label>
                                <textarea name="address_of_nominee" class="form-control"></textarea>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Nominee Signature Image</label>
                                    <input name="nominee_sig_image" type="file" class="form-control">
                                </div>
                            </div>
                            
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Customer Signature Image</label>
                                    <input name="customer_sig_image" type="file" class="form-control">
                                </div>
                            </div>
                            
                            

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



{% endblock middle %}
</body>
</html>