<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>


    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="customers">Customers and Nominee Detials</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                               <th>Customer Image</th>
                               <th>Customer CNIC Image</th>
                               <th>Customer Signature Image</th>
                               <th>Nominee Image</th>
                               <th>Nominee CNIC Image</th>
                               <th>Nominee Signature Image</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for customer in customers %}
                                <tr>
                                    <td> <img src="/../static/realestateCustomer/{{ customer.customer_img }}" data-holder-rendered="true" style="height: 180px; width: 150px" />
                                     <td> <img src="/../static/realestateCustomer/{{ customer.customer_cnic_img }}" data-holder-rendered="true" style="height: 180px; width: 150px" />
                                    <td> <img src="/../static/realestateCustomer/{{ customer.customer_sig_img }}" data-holder-rendered="true" style="height: 180px; width: 150px" />
                                    
                                    <td> <img src="/../static/realestateCustomer/{{ customer.nominee_img }}" data-holder-rendered="true" style="height: 180px; width: 150px" />
                                     <td> <img src="/../static/realestateCustomer/{{ customer.nominee_cnic_img }}" data-holder-rendered="true" style="height: 180px; width: 150px" />
                                    <td> <img src="/../static/realestateCustomer/{{ customer.nominee_sig_img }}" data-holder-rendered="true" style="height: 180px; width: 150px" />
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>

    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});



    </script>



{% endblock middle %}
</body>
</html>