<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Customer Detail</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/realestate_customers/update" method="post">
                        <div class="box-body">
                            {% for customer in customers %}
                            <input type="hidden" name="party_id" value="{{ customer.PARTY_ID }}">
                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1">Name</label>
                                <input name="name" type="text" value="{{ customer.NAME }}"  placeholder="Enter Customer Name here" class="form-control">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1">Father Name</label>
                                <input name="father_name" type="text" value="{{ customer.father_name }}"  placeholder="Enter Father Name here" class="form-control">
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Postal Address</label>
                                    <input name="address" type="text" value="{{ customer.ADDRESS }}" id="city" placeholder="Enter Address Here" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Permanent Address</label>
                                    <input name="permanent_address" value="{{ customer.permanent_address }}" type="text" id="city" placeholder="Enter Address Here" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Phone Number</label>
                                    <input name="phone_number" value="{{ customer.phone_number }}" type="text" id="city" placeholder="Enter Phone Number Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Residance Number</label>
                                    <input name="residence_number" value="{{ customer.residence_number }}" type="text" id="city" placeholder="Enter Residance Number Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contact Number</label>
                                    <input name="contact_number" value="{{ customer.CONTACT_NO }}" type="text" id="city" placeholder="Enter Contact Number Here" class="form-control">
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Email</label>
                                    <input name="email" type="text" value="{{ customer.EMAIL }}" id="street" placeholder="Enter Email Here" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Occupation</label>
                                    <input name="occupation" value="{{ customer.occupation }}" type="text" id="street" placeholder="Enter Occupation Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Age</label>
                                    <input name="age" value="{{ customer.age }}" type="text" id="street" placeholder="Enter Age Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Nationality</label>
                                    <input name="nationality" value="{{ customer.nationality }}" type="text" id="street" placeholder="Enter Nationality Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">CNIC</label>
                                    <input name="cnic" value="{{ customer.cnic }}" type="text" id="street" placeholder="Enter CNIC Here" class="form-control">
                                </div>
                            </div>





                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Opening Balance</label>
                                    <input name="opening_balance" value="{{ customer.OPENING_BALANCE }}" type="number" id="street" placeholder="Enter Balance" class="form-control">
                                </div>
                            </div>




                            <div class="form-group col-md-12">
                                <label for="exampleInputPassword1">Description</label>
                                <textarea name="description" class="form-control">{{ customer.DESCRIPTION }}</textarea>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Name Of Nominee</label>
                                    <input name="name_of_nominee"  value="{{ customer.name_of_nominee }}" type="text" id="street" placeholder="Enter Nominee Name Here" class="form-control">
                                </div>
                            </div>





                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Relation</label>
                                    <input name="relation" value="{{ customer.relation }}" type="number" id="street" placeholder="Enter Relation" class="form-control">
                                </div>
                            </div>




                            <div class="form-group col-md-12">
                                <label for="exampleInputPassword1">Address of Nominee</label>
                                <textarea name="address_of_nominee" class="form-control">{{ customer.address_of_nominee }}</textarea>
                            </div>




                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button style="float: right" type="submit" class="btn btn-primary">Update Now</button>
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </section>



{% endblock middle %}
</body>
</html>