<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}

{% block middle  %}
    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/remainder/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add New remainder</button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang">Remainder List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="lang" key="NAME">Name</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Description</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for remainder in remainders %}

                                <tr>
                                    <td style="width: 20%;">{{ remainder.p_name }}</td>

                                    <td style="width: 20%;">{{ remainder.DATE|date("m/d/Y") }}</td>


                                    <td style="width: 20%;">{{ remainder.AMOUNT }}</td>
                                    {% if(remainder.status=='Y') %}
                                        <td style="font-weight: bold; color: #008000">Paid</td>
                                    {% else %}
                                        <td style="font-weight: bold; color: red">Pending</td>
                                    {% endif %}
                                    <td style="width: 40%;">{{ remainder.DESCRIPTION }}</td>



                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
  "ordering": false
}
);
        
    } );
</script>
{% endblock middle %}



</body>
</html>