<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}



    <!-- jQuery library -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}

    {#<h1>The session value is : {{ session.name }}</h1>#}
    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Edit Plot Feature</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/plotfeatures/update" method="post">
                {% for plot in record %}
                <input type="hidden" name="feature_id" value="{{ plot.feature_id }}">
                <div class="box-body">
                    <div class="form-group col-md-12">


                        {% if messages.notify is not empty  %}
                            <div class="alert alert-success" role="alert">
                                <strong> {{ messages.notify }} </strong>
                            </div>
                        {% endif %}


                        <label for="exampleInputEmail1" class="lang" key="category name">Project Name</label>
                        <select class="form-control selectpicker" data-live-search="true" name="project_id">
                            {% for project in projects %}
                                {% if(project.project_id==plot.project_id) %}
                                    <option value="{{ project.project_id }}" selected>{{ project.project_name }}</option>
                                {% else %}
                                    <option value="{{ project.project_id }}">{{ project.project_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" class="lang" key="NAME">Percentage</label>
                        <input name="percentage" value="{{ plot.percentage }}" type="text"  placeholder="Enter Percentage here" class="form-control">
                    </div>








                    <div class="form-group col-md-12">



                        <label for="exampleInputPassword1" class="lang" key="description">Description</label>
                        <textarea name="description" class="form-control" style="height: 150px;">{{ plot.description }}</textarea>
                    </div>






                </div>
                <!-- /.box-body -->

                    <div class="box-footer">
                        <button style="float: right" type="submit" class="btn btn-primary">Update Now</button>
                    </div>
                {% endfor %}
            </form>
        </div>


    </div>




{% endblock middle %}


</body>
</html>