<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}
{% block middle %}
    <!-- Latest compiled and minified CSS -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Trigger the modal with a button -->
    <style>
        .select2-container .select2-selection--single{
            height:35px !important;
            width: 300px;
        }
        .select2-container--default .select2-selection--single{
            border: 1px solid #ccc !important;
            border-radius: 0px !important;
        }

    </style>


    <!------ Include the above in your HEAD tag ---------->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>



    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: red"><strong>Alert</strong></h4>
                </div>
                <div class="modal-body">
                    <p><strong>The price cant not be less the cost price.</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/sale_invoice/print/{{ sale_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>



    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Builder Master(Builder)</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" id="fform" action="/buildermaster/store" method="post">
                        <div class="box-body">

                            <div class="col-md-4">
                                <div id="first" class="form-group">
                                    <label for="exampleInputPassword1">Project Name</label>
                                    <select class="form-control select2" name="project_id" id="project_id">
                                        <option value="0">Select Project</option>

                                        {% for project in projects %}
                                            <option value="{{ project.project_id }}"> {{ project.project_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="exampleInputPassword1" class="lang" key="NAME">Shop/Apartment Name</label>
                                <input name="name" type="text" id="name" placeholder="Enter  Name here" class="form-control">
                            </div>

                            <div class="col-md-4">
                                <div id="first" class="form-group">
                                    <label for="exampleInputPassword1">Floor</label>
                                    <select class="form-control select2" name="floor_id" id="floor_id">
                                        <option value="0">Select Floor</option>
                                        {% for floor in floors %}
                                            <option  value="{{ floor.floor_id }}"> {{ floor.floor_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="exampleInputPassword1">Street Number</label>
                                <input name="street_no" type="text"  placeholder="Enter Street Number here" class="form-control">
                            </div>


                            <div class="form-group col-md-4">
                                <label for="exampleInputPassword1">Block</label>
                                <select class="form-control"  name="block">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                    <option value="F">F</option>
                                    <option value="G">G</option>
                                    <option value="H">H</option>
                                </select>
                            </div>


                            <div class="form-group col-md-4">
                                <label for="exampleInputPassword1">Flat Type</label>
                                <select class="form-control"  name="flat_type" id="flat_type">
                                    <option value="Single Unit">Single Unit</option>
                                    <option value="Appartment">Appartment</option>
                                </select>
                            </div>

                            {#<div class="col-md-4">#}
                                {#<div id="first" class="form-group">#}
                                    {#<label for="exampleInputPassword1">Plot Size</label>#}
                                    {#<select class="form-control select2" name="size_id" id="size">#}
                                        {#<option value="0">Select Size</option>#}
                                        {#{% for plot in plotsizes %}#}
                                            {#<option data-length="{{ plot.length }}" data-width="{{ plot.width }}" value="{{ plot.size_id }}"> {{ plot.size_name }}</option>#}
                                        {#{% endfor %}#}
                                    {#</select>#}
                                {#</div>#}
                            {#</div>#}

                            {#<div class="form-group col-md-4">#}
                                {#<label for="exampleInputPassword1" >Length/Width</label>#}
                                {#<input style="color: black; font-size: 17px; font-weight: bold"  type="text" name="length_width" id="length_width" readonly class="form-control">#}
                            {#</div>#}


                            <div class="form-group col-md-4" style="display: none" id="number_of_beds">
                                <label for="exampleInputPassword1" >Numbers of Bedrooms</label>
                                <input id="number_of_bedrooms" name="number_of_bedrooms" type="text"  placeholder="Enter Number of Bedrooms here" class="form-control">
                            </div>


                            <div class="form-group col-md-4">
                                <label for="exampleInputPassword1" >Square Feets</label>
                                <input name="squarefeets" type="text"  placeholder="Enter Squar Feets  here" class="form-control">
                            </div>


                            <div class="form-group col-md-4">
                                <label for="exampleInputPassword1" >Rate</label>
                                <input name="rate" type="text"  placeholder="Enter Rate/Square Feet here" class="form-control">
                            </div>


                            <div class="form-group col-md-4">
                                <label for="exampleInputPassword1">Type</label>
                                <select class="form-control"  name="type">
                                    <option value="Residential">Residential</option>
                                    <option value="Commercial">Commercial</option>
                                </select>
                            </div>





                            <div class="form-group col-md-12">
                                <div class="table-responsive m-t">
                                    <table class="table table-bordered">
                                        <thead style="background-color: #2196f3; color: white">
                                        <tr>
                                            <th style="width: 5%;">Sno</th>
                                            <th style="width: 30%;">Plot Feature</th>
                                            <th style="width: 20%;" >Percentage</th>
                                            <th style="width: 15%;">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody id="purbody">
                                        <tr id="remove_in_edit">
                                            <td><span class="counter">1</span></td>
                                            <td>
                                                <select  class="feature_id  form-control" style="width: 100%" name="feature_id[]">
                                                    <option value=""> Select Feature</option>
                                                    {% for plot in plotfeatures %}
                                                        <option  data-percentage="{{ plot.percentage }}"  value="{{ plot.feature_id }}"> {{ plot.description }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>



                                            <td><input readonly style="font-weight: bold; text-align: right" class="form-control percentage" value="0" type="text" name="percentage[]" required="required"></td>

                                            <td>
                                                <button class="btn btn-info btn-circle puradd" type="button"><i class="fa fa-plus-square"></i></button>
                                                <button style="display: none" class="btn btn-warning btn-circle removepur" type="button"><i class="fa fa-times"></i></button>

                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button style="float: left" type="submit" class="btn btn-primary" id="sub">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function(){

            $('body').on('change','#size',function(){
                var length=$(this).find(':selected').data('length');
                var width=$(this).find(':selected').data('width');
                var final=length+'/'+width;
                $('#length_width').val('');
                $('#length_width').val(final);

            });

            $('body').on('change','#flat_type',function(){
               var value=$(this).val();
                if(value=='Appartment'){
                    $('#number_of_beds').show();
                }
                else{
                    $('#number_of_bedrooms').val('');
                    $('#number_of_beds').hide();
                }
            });





            $('body').on('click','.puradd',function(){
                var counter=$( ".counter" ).last().text();
                counter++;
                $('.puradd').hide();

                var newRow = $('<tr>' +
                        '<td><span class="counter">'+counter+'</span></td>'+
                        '<td>' +
                        '<select class="feature_id  form-control" style="width: 100%" name="feature_id[]">' +
                        '<option value=""> Select Feature</option>'+
                        {% for plot in plotfeatures %}
                        '<option data-percentage="{{ plot.percentage }}"  value="{{ plot.feature_id }}"> {{ plot.description }} </option>'+
                        {% endfor %}
                        '</select>'+
                        '</td>' +

                        '        <td><input readonly style="font-weight: bold; text-align: right" class="form-control percentage" value="0" type="text" name="percentage[]" id="percentage" required="required"></td>'+

                        '<td> ' +
                        '<button class="btn btn-info btn-circle puradd" type="button"><i class="fa fa-plus-square"></i></button>' +
                        ' <button class="btn btn-warning btn-circle removepur" type="button"><i class="fa fa-times"></i></button>' +
                        '</td>' +
                        '</tr>');
                $('#purbody').append(newRow);
            });

            $('body').on('click','.removepur',function(){
                $(this).closest('tr').remove();
                $('.puradd').show();
                calculate();
            });


            $('body').on('change','.feature_id',function(){
                var percentage=$(this).find(':selected').data('percentage');
                var row = $(this).closest('tr');
                row.find($('.percentage')).val(percentage);

            });
             $('#sub').on('click',function(e){
                e.preventDefault();
                var f =$('#floor_id').val();
                var p =$('#project_id').val();
                var n =$('#name').val();
                //  alert( p +n +f);
                $.ajax({
                     'type':'POST',
                     'url':"/buildermaster/dublicate",
                     'data':{
                            floor: f,
                            project: p,
                            name:n
                        },
                success:function(response){
                    // alert(response);
                    if(!$.trim(response))
                    {
                        // alert('data ni hy');
                        $('#fform').submit();
                    }else{
                        e.preventDefault();
                        alert('This Shop Already Exist in This Selected Floor and Project!!');
                    }
                    
                }
                });
            });
        });

    </script>



{% endblock middle %}
</body>
</html>