<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Customer</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/customers/store" method="post" id="fform">
                        <div class="box-body">
                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1" class="lang" key="Name">Name</label>
                                <input name="name" type="text"  placeholder="Enter Customer Name here" class="form-control" id="name">
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="lang" key="email">Email</label>
                                    <input name="email" type="text" id="street" placeholder="Enter Email Here" class="form-control email" >
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="lang" key="contact number">Contact Number</label>
                                    <input name="contact_number" type="text" id="city" placeholder="Enter Contact Number Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="lang" key="address">Address</label>
                                    <input name="address" type="text" id="city" placeholder="Enter Address Here" class="form-control">
                                </div>
                            </div>

                              <div class="col-md-6">
                                {#<div class="form-group">#}
                                    {#<label for="exampleInputPassword1">City</label>#}
                                    {#<input name="city" type="text" id="city" placeholder="Enter City Here" class="form-control">#}
                                {#</div>#}

                                <label for="exampleInputPassword1" class="lang" key="city">City</label>
                                <select class="form-control" name="city_id">
                                    <option value="0">Select City</option>
                                    {% for city in cities %}
                                        <option value="{{ city.id }}"> {{ city.city }}</option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="lang" key="opening balance">Opening Balance</label>
                                    <input name="opening_balance" type="number" id="street" placeholder="Enter Balance" class="form-control">
                                </div>
                            </div>




                            <div class="form-group col-md-12">
                                <label for="exampleInputPassword1" class="lang" key="description">Description</label>
                                <textarea name="description" class="form-control"></textarea>
                            </div>



                        </div>
                        <!-- /.box-body -->

                        {#<div class="box-footer">#}
                        {#    <button style="float: left" type="submit" class="btn btn-primary">Submit</button>#}
                        {#</div>#}
                    </form>
                </div>
            </div>
        </div>
        
        <div class="foot">
          <div class="col-sm-2"><button class="btn btn btn-primary b"><a href="/customers/list" style="color: white;">Cancel</a></button></div>
          <div class="col-sm-6"></div>
          <div class="col-sm-3">
            <div class="dropup save">
              <div class="btn-group">
          <button type="button" class="btn btn-success s">Save and New</button>
          <button type="button" class="btn btn-success dropdown-toggle c" data-toggle="dropdown" ><span class="caret"></span></button>
            <ul class="dropdown-menu custom_menu">
              <li id="save_new"><a href="#"><span class="s_n">Save</span><span class="shortcut" style=" margin-left: 10px">Ctrl Alt + S</span></a></li>
              <li id="save_close"><a href="#"><span class="s_c">Save & Close</span><span class="shortcut2" style=" margin-left: 10px">Ctrl Alt + W</span></a></li>
                            
              <li><a href="#">Save & Share (Whatsapp)</a></li>
            </ul>
          </div>
        </div>
         </div>
          
      </div>
    </section>


<script type="text/javascript">
    $(document).ready(function(){
        
        $('.s_n, .s').click(function(){  
            
        if ($("#name").val() === "") {
            alert('Please Filled the Name fields');
            return false;
          }           
            $('#fform').submit();
        });

        $('.s_c').click(function(){           
            if ($("#name").val() === "") {
                alert('Please Filled the Name fields');
                return false;
              }           
            $('#fform').submit();
        });


       $('#save_new').on('mouseover', function(event) {
            $('.shortcut').css("display","block");
            }) .mouseout(function() {
            $('.shortcut').css("display", "none");
          });

            $('#save_close').on('mouseover', function(event) {
            $('.shortcut2').css("display","inline-block");
            }) .mouseout(function() {
            $('.shortcut2').css("display", "none");
          });


    });
</script>
<script>
$('#name').blur(function(){
        if(!$(this).val()){
            alert('Please Filled The Name field');
        } else{
            $(this).removeClass("error");
        }
    });

window.addEventListener('keydown', function (event) {
    if (event.ctrlKey && event.altKey && event.code === 'KeyS') {
        
     if ($("#name").val() === "") {
        alert('Please Filled The Name Field');
        return false;
    }  else{
         $('#fform').submit();
            window.setTimeout( function(){
                //  window.location = "/customers/add";
                 location.reload(true);
             }, 100 );
    
       }  
  
    }
});

window.addEventListener('keydown', function (event) {
    if (event.ctrlKey && event.altKey && event.code === 'KeyW') {
        
     if ($("#name").val()=== "") {
        alert('Please Filled the Name fields');
        return false;
    }else{
         $('#fform').submit();
            window.setTimeout( function(){
                 window.location = "/customers/list";
             }, 100 );
    
       }         
   
    }
});
</script>

{% endblock middle %}
</body>
</html>