<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>


    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
        <a href="/customers/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" key="add new customer">Add New Customer</span></button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="customers">Customers</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                <th class="lang" key="Name">Name</th>
                                <th class="lang" key="email">Email</th>
                                <th class="lang" key="contact number">Contact Number</th>
                                <th class="lang" key="city">City</th>
                                <th><span class="lang" key="description">Description</span></th>
                                <th class="lang" key="opening balance">Opening Balance</th>

                                {% if(role=='Admin') or (role=='manager') %}
                                <th class="lang" key="edit" style="width: 3%">Edit</th>
                                {% endif %}
                                {% if(role=='Admin')  %}
                                <th class="lang" key="delete" style="width: 3%">Delete</th>
                                {% endif %}

                            </tr>
                            </thead>
                            <tbody>
                              {% for customer in customers %}
                                  <tr>
                                  <td>{{ customer.NAME }}</td>
                                  <td>{{ customer.EMAIL }}</td>
                                  <td>{{ customer.CONTACT_NO }}</td>
                                      <td>{{ customer.CITY }}</td>
                                  <td>{{ customer.DESCRIPTION }}</td>
                                  <td class="money"><span style="float: right">{{ customer.OPENING_BALANCE }}</span></td>

                                      {% if(role=='Admin') or (role=='manager') %}
                                  <td>
                                      <a class="btn btn-warning" href="/customers/edit/{{ customer.PARTY_ID }}"><i class="glyphicon glyphicon-pencil"></i></a>
                                  </td>
                                      {% endif %}
                                      {% if(role=='Admin')  %}
                                      <td>
                                          <a class="btn btn-danger" href="/customers/delete/{{ customer.PARTY_ID }}"><i class="glyphicon glyphicon-remove"></i></a>

                                      </td>
                                      {% endif %}
                                  </tr>
                              {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
  "ordering": false
});
        });
    </script>

    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});



    </script>



{% endblock middle %}
</body>
</html>